@import "src/assets/scss/basis/index";

.container {
  @include section-catalogue;
}

.column-payments {
  @include column-catalogue(86%);
  padding: 17px;

  h3 {
    margin: 0 0 20px 0;
    text-align: start;
  }

  .space-pays {
    margin: 20px 0 6px 0;
  }

  .row-payments {
    @include size-content(flex, row, center, flex-start);
    justify-content: space-between;
    margin: 5px 0 0 0;
  }

  .help-payments {
    width: 20px;
  }

  .width-paragraph {
    width: 50%;
    word-break: break-word;
  }
}
.width-desktop {
  width: 90% !important;
}
.with-span {
  width: 23%;
}

.container-pays {
  margin-bottom: 30px;
}

.method-payments {
  @include size-content(flex, row, center, flex-start);
  gap: 20px;
  margin: 10px 0 0 0;
  width: 100%;
  .icon-payments {
    width: 36px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .column-payments {
    @include column-catalogue(80%);
  }
  .container-pays, .container-t {
    width: calc(50% - 17.5px);
  }
  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 24px 0;
  }
  .column-payments {
    padding: 35px;
  }
  .space-desktop {
    margin-top: 40px !important;
  }
}
