@import 'src/assets/scss/basis/index';

.container {
  padding: 30px 0;
  margin: 0;
  background: $bg-second;
  width: 100%;
}

.column {
  @include size-content(flex, column, center, center);
  margin: $margin-sides;
  text-align: center;
}

.wrap-cards {
  display: none;
}

// styles main text
.title-column {
margin: 0;
}

.title-content {
  color: $primary-text;
  width: 37%;
  font-size: 108%;
  text-align: initial;
}

.description-column {
  margin: 10px 15px 27px 15px;
}
//title mat-panel-description
.title-tool {
  text-align: left;
  margin: 0;
  width: 330px;
}

// container icon tool
.icon-tool {
  width: 150px;
  margin-right: 20px;
}

// icon minus /plus
.icon-expand {
  width: inherit;
  @include size-content(flex, column, center, center);
}

// change styles expansion panel
:host ::ng-deep {
  .mat-expansion-panel {
    border-radius: 10px;
    margin: 0 7% 2% 7%;
  }

  .mat-accordion .mat-expansion-panel:first-of-type, .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 10px;
  }

  .mat-expansion-panel-header:not([aria-disabled=true]) {
    height: 100px;
    padding: 0 10px;
  }

  .mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
    border-radius: 10px;
  }

  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 21px;
  }

  mat-panel-title {
    width: 7%;
    margin: 0 9px !important;
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: 0 0 40px rgb(0 0 0 / 10%);
  }

  //background
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: $bg-blue-dark-light;
  }

  .mat-expansion-panel {
    background-color: $bg-blue-dark-light;
    border: 0;
  }

  .mat-expansion-panel-body {
    color: $usual-text;
    padding: 0 14px 16px;
    text-align: left;
  }

  .mat-expansion-panel-header {
    font-size: xx-large;
  }
}
.more {
  display: none;
  color: $primary-text;
}
// medias Query
//tablet
@media screen and (orientation: landscape) {
  .icon-tool {
  height: 84px;
  }
}


@media (min-width: $breakpoint-tablet) {
  .description-column {
    margin-top: 20px;
    width: 55%;
  }
  .column {
    margin: 0 7% 50px 7%
  }
  :host ::ng-deep mat-accordion {
    display: none;
  }
  .content-text {
    width: 70%;
  }
  .title-tool {
    margin: 0;
    width: 70%;
  }
  .wrap-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 30px;
    width: 100%;
  }
  .container-card {
    display: flex;
    width: calc(50% - 15px);
    margin-bottom: 25px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .icon-tool {
    width: 24%;
    margin: 0;
    height: auto;
  }
  .more{
  display: flex;
    justify-content: center;
  }
}


