<link rel="stylesheet" href="tools-lawyer.component.scss">
<div class="container">
  <div class="column">
    <h2 class="main-title-or title-column">Herramientas para abogados</h2>
    <p class=" small-text-l-wh description-column">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis.
    </p>
  </div>
    <mat-accordion>
      <!--          beginning the expand panel-->
      <mat-expansion-panel hideToggle *ngFor="let data of tools" (closed)="data.open = false"
                           (opened)="data.open = true">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <div class="icon-tool" [inlineSVG]="data.icon" [setSVGAttributes]="{width:'100%', height: '100%'}"></div>
            <p class="text-b-or title-tool">{{data.title}}</p>
            <!--                section icons plus and minus-->
            <mat-panel-title>
              <div class="icon-expand" [inlineSVG]="'/../../../../assets/svg/icons/plus.svg'"
                   [setSVGAttributes]="{ width: '100%'}" *ngIf="!data.open">
              </div>
              <div class="icon-expand" [inlineSVG]="'/../../../../assets/svg/icons/minus.svg'"
                   [setSVGAttributes]="{ width: '100%'}" *ngIf="data.open">
              </div>
            </mat-panel-title>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="small-text-l-wh">{{data.description }}</p>
      </mat-expansion-panel>
    </mat-accordion>
<!--  html desktop-->
    <ul class="wrap-cards">
      <li class="container-card" *ngFor="let data of tools">
        <div class="icon-tool" [inlineSVG]="data.icon" [setSVGAttributes]="{width:'100%', height: '100%'}"></div>
        <div class="content-text">
        <h4 class="small-sub-title-or title-tool">{{data.title}}</h4>
        <p class="small-text-l-wh  description-tool">{{data.description }}</p>
        </div>
      </li>
    </ul>
  <div class="more">
<h3 class="sub-title">Y mucho más...</h3>
  </div>
</div>
