@import "src/assets/scss/basis/index";

@mixin size-field($size) {
  width: $size;
  border-radius: 20px;
  margin-top: 20px;
}

.title {
  margin: 10px 0;
}

.container {
  width: 100%;
  background-color: $bg-newsletter;
  padding: 10% 0 10% 0;
  @include size-content(flex, column, center, center);
}

.column {
  background-color: $bg-usual;
  margin: 15px 0 15px 0;
  border-radius: 10px;
  width: 85%;
  @include size-content(flex, column, center, center);
}

.input-column {
  margin: 20px 0 0 0 !important;
  height: 46px !important;
  max-width: 100% !important;
}

.button-column {
  margin: 20px 0 0 0 !important;
  max-width: 100% !important;
  width: 100%;
}

.text-column {
  color: $second-text;
}

.form-column {
  width: 100%;
}

.wrap-content {
  width: 100%;
  padding: 0 15px 20px 15px;
  list-style: none;
  margin: 0;
}

@media (min-width: $breakpoint-tablet) {
  .container {
    width: 100%;
    background-color: $bg-newsletter;
    padding: 48px 0 51px 0;

  }
  .wrap-content {
    padding: 1rem 2rem;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .text-wrap {
    width: calc(35% - 5px);
  }
  .title {
    margin: 27px 0 0 0;
    text-align: start;
  }
  .wrap-form {
    display: flex;
    align-items: center;
    width: calc(65% - 5px);
  }
  .form-column {
    display: flex;
    justify-content: space-between;

  }
  .input-column {
    max-width: calc(60% - 10px) !important;
  }
  .input-column::placeholder {
    text-align: start;
  }
  .button-column {
    max-width: calc(40% - 10px) !important;
  }
}

@media (min-width: $breakpoint-desktop-square) {
  .wrap-content {
    padding: 4px 4rem;
  }
  .text-wrap {
    width: calc(35% - 10px) !important;
  }
  .wrap-form {
    width: calc(65% - 10px) !important;
  }
  .input-column {
    max-width: calc(70% - 10px) !important;
  }
  .button-column {
    max-width: calc(30% - 10px) !important;
  }
}
