<div class="container">
    <div class="column">
        <ul class="wrap-content">
            <li class="text-wrap">
                <h2 class="main-title-bl title">Newsletter</h2>
                <p class="small-text-l-bl">Manténgase al día con las novedades del sector y de nuestros servicios</p>
            </li>
            <li class="wrap-form">
                <form class="form-column form-bl" [formGroup]="formNews" (ngSubmit)="notification()" autocomplete="off">
                    <input class="input-column input-control" formControlName="email" type="email" matInput [class.is-invalid]="emailField" placeholder="Tu correo">
                    <button class="button-column main-button-or-100" mat-button>
                        Subscribirse
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
