@import "src/assets/scss/basis/index";

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 10% 0 10%;
  text-align: center;
}

.container {
  text-align: center;
  .title-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
}

.container-video {
  .video-section {
    background-color: rgba(3, 33, 53, 0.9);
    background-image: url("../../../../assets/img/how-it-work/video-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    min-width: 100%;
    height: 100vw;
    min-height: 100%;
    .btn-video {
      position: relative;
      width: 29%;
      top: 37%;
      left: 34.3%;
      cursor: pointer;
    }
  }
}

.text-l-bl {
  margin-bottom: 11%;
}

@media (min-width: $breakpoint-tablet) {
  .text-l-bl {
    width: 67%;
    margin-bottom: 3%;
  }

  .video-section {
    background-image: url("../../../../assets/img/how-it-work/video1.png") !important;
  }

  .video-section {
    height: 41vw !important;
    .btn-video {
      width: 15% !important;
      top: 35% !important;
      left: 43.3% !important;
    }
  }
}

@media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-desktop-2k) {
  .video-section {
    background-image: url("../../../../assets/img/how-it-work/video1.png") !important;
  }

  .video-section {
    height: 41vw !important;
    .btn-video {
      width: 15% !important;
      top: 35% !important;
      left: 43.3% !important;
    }
  }
}
