<div class="container">
  <div class="column">
    <!-- Section Title -->
    <div class="title-section">
      <h2 class="main-title-bl">¿Cómo funciona?</h2>
      <p class="text-l-bl">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
    </div>
  </div>
</div>
<!-- Section Video -->
<div class="container-video">
  <div class="video-section">
      <img class="btn-video" src="../../../assets/img/how-it-work/CircleVideo.png" alt="video">
  </div>
</div>

