<link rel="stylesheet" href="education.component.scss">
<div class="container">
    <div class="column-education">
        <h4 class="title-education small-sub-title-bl">Educación</h4>
<!--      show mainly university or education-->
      <div class="wrap">
        <div class="card-education" *ngFor="let data of information">
            <div class="section-education">
              <div class="hex-education" [inlineSVG]="'../../../assets/svg/catalogue-education/icon-education.svg'" [setSVGAttributes]="{width: '100%', height:'100%'}"></div>
                <span></span>
                <div class="data-university">
                    <p class="text-b-bl">{{data.title}}</p>
                    <p class="text-m-bl">{{data.university}}</p>
                </div>
            </div>
            <div class="education-document">
                <button class="basis-button-or-38h button-document"><img class="icon-document" src="../../../assets/svg/catalogue-education/view-document.svg" alt=""> Documento</button>
            </div>
        </div>
      </div>
        <mat-accordion>
<!--              button expand panel more education-->
            <mat-expansion-panel hideToggle (closed)="panelOpenState = false" (opened)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="text-b-bl" *ngIf="!panelOpenState">
                        Mostrar más
                    </mat-panel-title>
                    <mat-panel-title class="text-b-bl" *ngIf="panelOpenState">
                        Mostrar menos
                    </mat-panel-title>
                </mat-expansion-panel-header>
              <div class="wrap">
              <div class="card-education" *ngFor="let data of information">
                <div class="section-education">
                  <div class="hex-education" [inlineSVG]="'../../../assets/svg/catalogue-education/icon-education.svg'" [setSVGAttributes]="{width: '100%', height:'100%'}"></div>
                  <span></span>
                  <div class="data-university">
                    <p class="text-b-bl">{{data.title}}</p>
                    <p class="text-m-bl">{{data.university}}</p>
                  </div>
                </div>
                <div class="education-document">
                  <button class="basis-button-or-38h button-document"><img class="icon-document" src="../../../assets/svg/catalogue-education/view-document.svg" alt=""> Documento</button>
                </div>
              </div>
              </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
