@import "src/assets/scss/basis/index";
.container {
    @include section-catalogue;
}

.column-education {
    @include column-catalogue(86%);
  .title-education {
      margin: 0;
      padding: 17px 17px 0 17px;
      text-align: start;
    }
}
.section-education {
    @include size-content(flex, row, center, center);
    column-gap: 2%;
    margin: 9px 0 20px 0;
    p {
        margin: 0;
      word-break: break-word;
    }

    .hex-education {
        width: 100px;
    }
    .data-university {
        @include size-content(flex, column, flex-start, center);
    }
}

.card-education {
  padding: 20px 17px;
}

.education-document {
    @include size-content(flex, row, center, center);
    justify-content: center;
    //styles button document
    .button-document {
        @include size-content(flex, row, center, center);
        justify-content: space-evenly;
      width: 65%;
      max-width: 100%;
    }
    .icon-document {
        width: 23px;
    }
}
//styles mat panel
:host ::ng-deep {
  @include mat-expansion-panel;
}


@media (min-width: $breakpoint-tablet) {
  .column-education{
    @include column-catalogue(80%);
  }
  .card-education {
    width: 50%
  }
  .section-education {
    .data-university {
      width: 80%;
    }
    .hex-education {
      width: 20%;
    }
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px;
  }
  .education-document {
    justify-content: flex-end;

  }
  .section-education {
    margin: 9px 0 15px 0;
  }
  .title-education {
    padding: 35px 35px 0 35px !important;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px;
  }

}
@media (min-width: $breakpoint-desktop-square) {
  .card-education {
    width: calc(50% - 17.5px) !important;
  }
  .button-document {
   width: calc(100% - 20% - 17.5px - 20%) !important;
    margin: 0 20% 0 0 !important;
  }
}
