@import "src/assets/scss/basis/index";

.second-color {
    color: $second-text
}
.inactive-color {
    color: $inactive-text;
    padding-top: 7%;
}
.container-avatar{
    width: 50px;
    height: 50px;
    margin-right: 9px;
    .avatar{
        width: 100%;
        height: 100%;
        border-radius: 70px;
    }
}
.commentary-container {
    padding: 2% 0 1% 0;
    margin: 3% 0 1% 0;
    font-size: 14px;
}
.commentary-text {
    margin: 2% 0;
    color: $second-text;

    &.answer {
      padding: 0 0 0 43px;
    }
}
.container-like-comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1% 0;
    width: 95%;
}
.like-comment {
  width: 50%;
}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.commentary-container-answer {
    padding: 2% 0;
    margin: 3% 10%;
    position: relative;
}
.container-avatar-answer {
    width: 35px;
    height: 35px;
    margin-right: 9px;
     .avatar-answer{
      width: 100%;
      height: 100%;
      border-radius: 70px;
    }
}
.flex-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.date {
   font-size: 13px;
    margin: 0;
}
//Media queries web/tablet
@media (min-width: $breakpoint-tablet) {
  .commentary-container {
    font-size: 15px;
  }
    .container-like-comment {
      width: 45%;
    }
}
@media (min-width: $breakpoint-desktop-usual) {
    .commentary-container {
        padding: 0 0 1% 0;
        margin: 1% 0 1% 0;
        width: 152%;
        font-size: 17px;
    }
    .commentary-text {
        padding: 0 0 0 60px;
        margin: 0;
    }
    .like-comment{
        width: 32%;
    }
    .date {
        font-size: 15px;
    }
    .commentary-container-answer {
        padding: 1% 0;
        margin: 1% 63px;
    }
    .flex-subtitle {
        padding: 0 0 0 57px;
        cursor: pointer;
    }
    .answer {
        margin: 10px 0;
    }
    .inactive-color {
      cursor: pointer;
       padding-top: 4px;
    }
  .container-like-comment {
    padding: 0 0 0 64px;
    width: 52%;
  }
}
@media (min-width: $breakpoint-desktop-square) {
  .container-like-comment {
    width: 44%;
  }
}
@media (min-width: $breakpoint-desktop-full-hd) {
  .container-avatar{
    width: 65px;
    height: 65px;
  }
  .commentary-text {
    padding: 0 0 0 75px;
  }
  .container-like-comment {
    padding: 0 0 0 75px;
    width: 33%;
  }
  .flex-subtitle {
    padding: 0 0 0 70px;
    cursor: pointer;
  }
  .commentary-container-answer {
    margin: 1% 75px;
  }
}
@media (min-width: $breakpoint-desktop-2k) {
  .inactive-color {
    margin-left: 5%;
  }
  .container-like-comment {
    width: 27%;
  }
}






