<div class="commentary-container">
    <div class="top">
        <div mat-card-avatar class="container-avatar">
            <img class="avatar" [src]=comment.user.avatar alt="">
        </div>
        <div>
            <span class="second-color font-bold">{{comment.user.name}}</span>
            <p class="second-color date">{{dateComment}}</p>
        </div>
    </div>
    <p class="commentary-text">{{comment.description}}</p>
    <app-form-add-comment *ngIf="flagAnswer" (emitterCloseForm)="receiveCloseForm($event)"></app-form-add-comment>
    <div class="container-like-comment">
        <div class="like-comment">
            <app-like [actions]="actionsComment"></app-like>
        </div>
        <span class="inactive-color font-bold" (click)="openForm()">Responder</span>
    </div>
    <div class="flex-subtitle" (click)="openAndCloseAnswers()" *ngIf="!flag && thereAreAnswers">
        <mat-icon>keyboard_arrow_right</mat-icon>
        <p class="second-color paragraph font-bold">Ver {{numberAnswers}} respuestas</p>
    </div>
    <p *ngIf="!numberAnswers" class="second-color paragraph font-bold">No hay respuestas</p>
    <div class="flex-subtitle" (click)="openAndCloseAnswers()" *ngIf="flag && thereAreAnswers">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <p class="second-color paragraph font-bold">Ocultar {{numberAnswers}} respuestas</p>
    </div>
    <ng-container *ngFor="let answer of comment.answers">
        <div class="commentary-container-answer" *ngIf="flag">
            <div class="top">
                <div mat-card-avatar class="container-avatar-answer">
                    <img class="avatar-answer" [src]=answer.user.avatar alt="">
                </div>
                <div class="text-top">
                    <span class="second-color font-bold">{{answer.user.name}}</span>
                    <p class="second-color date">{{dateAnswer}}</p>
                </div>
            </div>
            <p class="commentary-text answer">{{answer.description}}</p>
        </div>
    </ng-container>
</div>
