@import "src/assets/scss/basis/index";
.container-chat {
  width: auto;
  position: relative;
}

.chat-circle {
  width: 60px;
  height: 60px;
  right: 8px;
  bottom: 8px;
  cursor: pointer;
  position: fixed;
  outline: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  z-index: 3;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 20%);
  background: $bg-primary;
}

.icon-chat {
  width: 30px;
}

@media (min-width: $breakpoint-tablet) {
  .icon-chat {
    width: 29px;
  }
  .chat-circle {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: $breakpoint-desktop-full-hd) {
  .icon-chat {
    width: 35px;
  }
  .chat-circle {
    width: 75px;
    height: 75px;
  }
}
