
<script src="test.component.ts"></script>
<div class="container-chat">
    <button class="chat-circle" (click)="chat()"> <img class="icon-chat" src="../../assets/svg/chat/icon-chat.svg" alt=""></button>
</div>
