@import "src/assets/scss/basis/index";

.second-color {
    color: $second-text
  }
  .button {
    @include button-unusual(5% 0 1% 0 !important,
    40%,
    2.5,
    center,
    0,
    2px solid #DCDCDC,
    $usual-text,
    transparent,
    23px,
    border-box
    );
    font-weight: 900;
    font-size: 1rem;
  }
  .active-button {
    border-color: $second-text;
    color: $second-text;
  }
  .active-button-send {
    color: $usual-text;
    background-color: $bg-primary;
    border-color: $primary-text;
  }
  :host::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
      @include button-unusual(5% 0 0 0,
      100%,
      1.4,
      left,
      8px 11px,
      1px solid $second-text,
      $second-text,
      transparent,
      15px,
      border-box
      );
      height: 20%;
    }
    .mat-form-field-appearance-fill .mat-form-field-infix {
      padding: 0;
      border: 0;
    }
    .mat-form-field-underline {
     width: 0;
    }
    .mat-form-field {
      display:inline;
    }
    .mat-card-actions {
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }
    textarea {
      height: 10px;
      &::placeholder{
      color: $second-text;
      }
    }
  }

  //Media queries web/tablet
  @media (min-width: $breakpoint-desktop-usual) {
    :host::ng-deep {
      .mat-card-actions {
        width: 48.5%;
        margin: 0 0 0 55%;
      }
      .mat-form-field-appearance-fill .mat-form-field-flex {
        border:0;
        border-bottom: 1px solid $second-text;
        border-radius: 0;
        margin: 0;
        font-size: 17px;
      }
      .mat-form-field-wrapper {
        margin-top: 3%;
      }
      textarea {
      &::placeholder{
        font-size: 17px;
      }
    }
  }
}
@media (min-width: $breakpoint-desktop-full-hd) {
  :host::ng-deep {
    .mat-form-field-wrapper {
      margin-top: 2%;
      margin-left: 1%;
    }
  }
}
@media (min-width: $breakpoint-desktop-2k) {
  :host::ng-deep {
    textarea.mat-input-element {
      padding: 13px 0;
    }
    .mat-form-field-wrapper {
      margin-top: 0;
    }
  }
}
