<form [formGroup]="textAreaForm" (ngSubmit)="sendComment()">
    <mat-form-field appearance="fill">
        <textarea matInput placeholder="Añade tu comentario" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="5" formControlName="comment" maxlength="500" (keyup)="writingComment(false)"></textarea>
    </mat-form-field>
    <mat-card-actions>
        <button type="reset" mat-stroked-button [disabled]="isDisabled" [ngClass]="{'active-button': !isDisabled}" class="button" (click)="cancel(true)">Cancelar</button>
        <button type="submit" mat-raised-button [disabled]="isDisabled" [ngClass]="{'active-button-send': !isDisabled}"class="button second-color">Publicar</button>
    </mat-card-actions>
</form>    
