<div class="container-all">
<!--  Blog banner-->
    <div class="header-blog" *ngFor="let blogInfo of blogInfoArr">
        <h1 class="title font-bold">{{blogInfo.title}}</h1>
        <div class="container-img-blog">
            <img class="img-blog" [src]="blogInfo.img" alt="">
            <div class="degrade">
                <div class="info">
                    <div class="back-photo">
                        <img class="photo" [src]=blogInfo.photoProfile alt="">
                    </div>
                    <div class="container-p">
                        <p class="paragraph author">Por: {{blogInfo.author}}</p>
                        <p class="paragraph date">{{dateBlog}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" *ngFor="let blogInfo of blogInfoArr">
<!--      Blog text content-->
        <div class="column">
            <div class="content-blog">
                <p class="text-blog">
                    {{blogInfo.description}}
                </p>
                <span class="subtitles font-bold">Subtítulos</span>
                <p class="subtitles-blog">
                    {{blogInfo.subtitles}}
                </p>
            </div>
<!--          Section to give like the blog and share on social networks-->
            <div class="flex">
                <div class="container-like">
                    <app-like [actions]="blogInfo.actions"></app-like>
                </div>
                <div class="container-social-media">
                    <app-social-media></app-social-media>
                </div>
            </div>
<!--          Header section add comment-->
            <mat-card>
                <hr class="line">
                <mat-card-header>
                    <div mat-card-avatar class="container-avatar">
                        <img class="avatar" src="../../../../assets/jpj/lawyer-catalog/male-lawyer.jpg" alt="">
                    </div>
                    <mat-card-title>Añade tu comentario</mat-card-title>
                </mat-card-header>
<!--              Form to add comment-->
                <mat-card-content>
                    <app-form-add-comment></app-form-add-comment>
                </mat-card-content>
            </mat-card>
<!--          blog comments section and their respective responses-->
            <app-comments *ngFor="let comment of comments" [comment]="comment" [actionsComment]="actionsComment">
            </app-comments>
<!--          Other recommended blogs section-->
            <div class="absolute">
                <app-recommended [blogId]="blogId"></app-recommended>
            </div>
        </div>
    </div>

</div>
<app-test></app-test>
<app-footer></app-footer>
