@import "src/assets/scss/basis/index";

.second-color {
  color: $second-text
}
.container-all {
  min-width: 280px;
}
.container {
  @include size-content(flex, column, center, center);
  height: auto;
  position: relative;
  margin: 0 0 5% 0;
  width: 100%;
  max-width: 100%
}
.header-blog {
  @include size-content(flex, column, center, center);
  background-image: url("../../../../assets/img/blog-level-2/blog-level2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.title {
  width: 100%;
  margin: 19% 0 5% 0;
  text-align: center;
  color: $primary-text;
}
.container-img-blog {
  position: relative;
  width: 100%;
}
.img-blog {
  border-radius: 40px 0;
  width: 100%;
  height:auto;
}
@supports(object-fit: cover){
  .img-blog{
    height: 100%;
    object-fit: cover;
    object-position:top center;
  }
}
.degrade{
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 41%;
  border-radius: 0 0 40px 0;
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 17.58%,
    rgba(7, 50, 79, 0.85) 51.43%
  );
  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: 100%;
    margin: 0 0 2% 2%;
  }
  .container-p {
    width: 100%;
  }
  .paragraph {
    margin: 2%;
    color: $usual-text;
  }
  .back-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    padding: 6px;
    background-color: $bg-primary;
    background-size: cover;
    border-radius: 50%;
  }
  .photo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
.column {
  padding: 1% 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
}
.text-blog {
  color: $second-text;
}
.subtitles {
   color: $primary-text;
  font-size: 1.1em;
}
.subtitles-blog {
  color: $second-text;
  margin: 1% 0;
}

.line {
  border: 0;
  background-color:$second-text;
  height: 1px;
  margin: 20px 0;
}
.container-avatar{
  width: 50px;
  height: 50px;
  margin-right: 3%;
  .avatar{
      width: 100%;
      height: 100%;
      border-radius: 70px;
  }
}
.container-like {
 width: 60%;
}
:host::ng-deep{
  .mat-card {
    padding: 1% 0;
    margin: 1% 0;
  }
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }
  .mat-card-header .mat-card-title {
    color: $second-text;
    margin: 0;
  }
  .mat-card-header-text {
    display: flex;
    align-items: center;
    margin: 0 5px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    @include button-unusual(5% 0 0 0,
    100%,
    1.4,
    left,
    8px 11px,
    1px solid $second-text,
    $second-text,
    transparent,
    15px,
    border-box
    );
    height: 20%;
  }
  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
    border: 0;
  }
  .mat-form-field-underline {
    width: 0;
   }
   .mat-form-field {
    display:inline;
  }
}
//media queries landscape mobile
@media screen and (orientation: landscape) {
  .column {
    padding-top: 1%;
  }
  .title {
    margin: 11% 0 5% 0;
  }
}
//Media queries web/tablet
@media (min-width: $breakpoint-tablet) {//768px;
  .container-like {
    width: 30%;
  }
  .degrade {
    .back-photo {
      height: 53px;
      width: 53px;
    }
    .photo {
      height: 56px;
      width: 56px;
    }
    .paragraph {
      font-size: 18px;
    }
  }
}
@media (min-width: $breakpoint-desktop-usual) {
  .header-blog {
    background-image: url("../../../../assets/png/blog/background-blog-main-desktop.png");
  }
  .container {
    align-items: flex-start;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
  }
  .header-blog {
    align-items: flex-start;
    padding: 0 5% 0 5%;
  }
  .title {
   font-size: 2.5rem;
  }
  .column {
    width: 60%;
    position: relative;
  }
  .container-img-blog {
    width: 58.7%;
    height: 306px;
    border-radius: 40px 12px;
    border: 5px solid $usual-text;
    text-align: left;
  }
  .img-blog {
    border-radius:34px 5px 10px 10px;
  }
  .degrade {
    border-radius: 0 0 10px 10px;
    height: 26%;
    width: 101.7%;
    bottom: -5px;
    left: -5px;
    .container-p {
      display: flex;
      justify-content: space-between;
      margin: 28px 7px 0 0;
      width: 89%;
    }
    .info {
      display: flex;
      margin: 0 0 20px 12px !important;
      justify-content: space-between;
    }
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0 0 0;
    height: 100px;
  }
  .container-like {
    width: 30%;
  }
  .container-social-media {
    width: 53%;
    padding-top: 7px;
    margin: 0 0 0 2%;
  }

  :host::ng-deep {
    .mat-card {
      width: 152%;
      padding: 3% 0 0 0;
      margin: 4% 0 0 0;
    }
    .mat-card-header-text {
      margin: 17px 5px
    }
    .mat-card-title {
      display: none;
    }
    .mat-card-content {
      margin-top: -83px;
      margin-left: 55px;
    }
 }
  .line {
    width: 110%;
    margin: 25px 0;
  }
  .absolute {
    position:absolute;
    width: 57%;
    top: -13%;
    left: 108%;
  }
  .content-blog {
    font-size: 18px;
    width: 100%;
  }
}
@media (min-width: $breakpoint-desktop-usual) and (orientation: portrait) {
  .title {
    margin: 10% 0 5% 0;
  }
}
@media (min-width: $breakpoint-desktop-square) { // 1280px;
  .degrade {
    width: 101.4%;
    .paragraph {
      font-size: 20px;
    }
  }
  :host::ng-deep{
    .mat-card {
      margin: 5% 0 0 0;
    }
  }
  .absolute {
    top: -11%;
  }
  .container-like {
    width: 25%;
  }
  .container-social-media {
    width: 53%;
    margin: 0 0 0 2%;
  }
}
@media (min-width: $breakpoint-desktop) {// 1366px;
  .degrade {
    width: 101.2%;
  }
  :host::ng-deep{
    .mat-card {
    margin: 6% 0 0 0;
    }
  }
}
@media (min-width: 1440px) {
  .container-img-blog {
    height: 340px;
  }
}
@media (min-width: $breakpoint-desktop-1600) {
  .absolute {
    top: -9%;
  }
  .container-like {
    width: 22%;
  }
  .container-social-media {
    width: 50%;
    margin: 0 0 0 2%;
  }
}
@media (min-width: $breakpoint-desktop-full-hd) {// 1920px;
  .degrade {
    width: 100.9%;
    .back-photo {
      height: 63px;
      width: 63px;
    }
    .photo {
      height: 63px;
      width: 63px;
    }
    .container-p {
      width: 92%;
    }
  }
  .container-avatar{
    width: 65px;
    height: 65px;
  }
  .container-img-blog {
    height: 430px;
  }
  .title {
    font-size: 4rem;
    margin: 8% 0 5% 0;
  }
  .container-like {
    width: 18%;
  }
  .container-social-media {
    width: 40%;
  }
  .absolute {
    width: 50%;
    left: 113%;
    top: -11%;
  }
}
@media (min-width: $breakpoint-desktop-2048) {
  .absolute {
    top: -9%;
  }
}
@media (min-width: 2300px) {
  .absolute {
    top: -7%;
  }
}
@media (min-width: $breakpoint-desktop-2k) {
  .container-img-blog {
    height: 550px;
  }
  .degrade {
    .paragraph {
      font-size: 22px;
    }
    .container-p {
      width: 94%;
    }
  }
  .absolute {
    top: -11%;
  }
  .container-like {
    width: 15%;
  }
  .container-social-media {
    width: 30%;
  }
}
@media (min-width: 3000px) {
  .absolute {
    top: -7%;
  }
}
