@import "src/assets/scss/basis/index";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1% 2% 2% 0;
}
.sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45%;
  height: 45%;
}
.action {
  width: 48%;
  height: 48%;
  cursor: pointer;
 &.dislike {
  margin-top: 26%;
  }
}
:host::ng-deep {
  .mat-icon {
    width: 100%;
    height: 100%;
    padding: 1%;
  }
}
.paragraph {
  font-weight: 900;
  font-size: 15px;
  //padding: 33% 0 0 8%;
  padding: 15% 0 0 8%;
  color: $inactive-text;
  width: 48%;
}
:host::ng-deep.clear-stroke g * {
  fill: $inactive-text;
  display: inherit;
}
:host::ng-deep.clear-stroke-like g * {
  fill: $second-text;
  display: inherit;
}
:host::ng-deep.clear-stroke-dislike g * {
  fill: $primary-text;
  display: inherit;
}
.clicked-like {
  color:$second-text;
}
.clicked-dislike {
  color:$primary-text;
}
@media (min-width: $breakpoint-desktop-usual) {
  .paragraph {
    padding: 15% 0 0 8%;
    font-size: 17px;
  }
  .sub-container {
    width: 36%;
    height: 36%;
  }
}
@media (min-width: $breakpoint-desktop-2k) {
  .sub-container {
    width: 35%;
    height: 35%;
  }
}

