<div class="container">
    <div class="sub-container">
        <div class="action" (click)="likeClick()">
            <mat-icon class="clear-stroke" [ngClass]="{'clear-stroke-like': clickedLike}" svgIcon="Like@blog"></mat-icon>
        </div>
        <p class="paragraph likes" [ngClass]="{'clicked-like':clickedLike}">{{actions.likes | shortNumber}}</p>
    </div>
    <div class="sub-container dislikes">
        <div class="action dislike" (click)="dislikeClick()">
            <mat-icon class="clear-stroke" [ngClass]="{'clear-stroke-dislike': clickedDislike}" svgIcon="Dislike@blog"></mat-icon>
        </div>
        <p class="paragraph dislikes" [ngClass]="{'clicked-dislike':clickedDislike}">{{actions.dislikes | shortNumber}}</p>
    </div>
</div>
