<div class="container">
  <div class="column">
    <div class="btn-switch">

      <!-- Button "Find Lawyer" "receives advice" -->
      <input class="btn-input" (click)="changeComponent()" type="checkbox" name="" id="switch" autocomplete="off">
      <label for="switch"></label>
    </div>

    <!-- Selects Search Lawyer -->
    <div class="container-search-form" *ngIf="!isChange; else isChanged">
      <form [formGroup]="searchForm" (ngSubmit)="startSearchLawyer()">
        <mat-select class=" select-1" [class.is-invalid]="invalidSearchForm('service')" placeholder="Todos los servicios" formControlName="service">
          <mat-option value="{{service.name}}" *ngFor="let service of services">{{service.name}}</mat-option>
        </mat-select>
        <mat-select class=" select-2" [class.is-invalid]="invalidSearchForm('city')" placeholder="Todas las ciudades" formControlName="city">
          <mat-option value="{{city}}" *ngFor="let city of cities">{{city}}</mat-option>
        </mat-select>
        <div>
          <button mat-button type="submit" class="main-button-or-85 width-btn" [routerLink]="['/inicio/cliente/catalogo/filtrar-abogado']"
                  routerLinkActive="$router_link-active$">Buscar</button>
        </div>
      </form>
    </div>

    <!-- Section Stepper One Form  -->
    <ng-template #isChanged>
      <mat-horizontal-stepper linear #stepper>
        <form [formGroup]="firstFormGroup" class="form-search-lawyer" novalidate>
          <mat-step [stepControl]="firstFormGroup" label="Paso">
            <ng-template matStepperIcon="edit">
              <mat-icon>done</mat-icon>
            </ng-template>
            <input matInput type="text" class="input-form-stepper-one input-form" [class.is-invalid]="invalidFieldsOne('case')" placeholder="Asunto:"
                   formControlName="case">
            <textarea class="input-text-area-form" [class.is-invalid]="invalidFieldsOne('description')"
                      placeholder="Cuentanos un poco más:" formControlName="description"></textarea>
            <button mat-button class="main-button-or-85 next-button" (click)="nextStepper(stepper)">Siguiente</button>
          </mat-step>
        </form>

        <!-- Section Stepper Two Form -->
        <form [formGroup]="secondFormGroup">
          <mat-step [stepControl]="secondFormGroup" label="Paso">
            <input type="text" class="input-form" [class.is-invalid]="invalidFieldsTwo('name')" placeholder="Nombre*"
                   formControlName="name">
            <div>
              <mat-select [class.is-invalid]="invalidFieldsTwo('documentType')" class="documentType-select" formControlName="documentType" placeholder="Tipo de Documento*">
                <mat-option *ngFor="let doc of documentTP" [value]="doc.value">
                    {{doc.viewValue}}
                </mat-option>
              </mat-select>
              <input type="number" class="input-form input-form-document" [class.is-invalid]="invalidFieldsTwo('document')" placeholder="Número de documento*"
                 formControlName="document">
            </div>
            <input type="number" class="input-form" [class.is-invalid]="invalidFieldsTwo('phone')" placeholder="Teléfono*"
                   formControlName="phone">
            <input type="text" class="input-form" [class.is-invalid]="invalidFieldsTwo('email')" placeholder="Email*"
                   formControlName="email">
            <div class="buttons-container">
              <button mat-button matStepperPrevious class="main-button-bl-100">Volver</button>
              <button mat-button (click)="saveForm(firstFormGroup.value, secondFormGroup.value, stepper)" class="main-button-or-100">
                Enviar
              </button>
            </div>
          </mat-step>
        </form>
      </mat-horizontal-stepper>
    </ng-template>
  </div>
</div>
