@import "src/assets/scss/basis/index";

.container {
  background-image: url("../../../../../assets/img/search-lawyer/bg-home1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: auto;
  min-height: 100%;
  // Media Query LandScape
  @media screen and (orientation: landscape) {
    height: 170%;
    margin-bottom: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 7% 0 7%;
  text-align: center;
}

.btn-switch {
  margin: 60% 0 0 0;
  border: 1px solid #02395e;
  position: relative;
  width: 100%;
  height: 2.8em;
  border-radius: 200px;
  background: $bg-usual;
  @media (max-height: 570px) {
    margin: 35% 0 0 0;
  }

  .btn-input {
    appearance: none;
    width: 100%;
    height: 2.8em;
    border-radius: 200px;
    outline: none;
    transition: 0.25s;

    &::before,
    &::after {
      z-index: 2;
      position: absolute;
      top: 56%;
      transform: translateY(-50%);
      font-weight: bolder;
    }

    &::before {
      bottom: -50%;
      content: "Encuentra tu\A abogado";
      white-space: pre;
      left: 9%;
      text-align: center;
      @media screen and (orientation: landscape) {
        bottom: -20%;
        font-size: 17px;
        left: 6%;
        white-space: nowrap;
      }
    }

    &::after {
      bottom: -50%;
      content: "Recibe\A asesoría";
      white-space: pre;
      right: 12%;
      text-align: center;
      @media screen and (orientation: landscape) {
        bottom: -20%;
        right: 9%;
        font-size: 17px;
        white-space: nowrap;
      }
    }

    &:checked::after {
      color: $usual-text;
      transition: color 0.5s;
    }

    &:checked::before {
      color: $second-text;
      transition: color 0.5s;
    }

    &:checked + label {
      left: 50%;
      width: 50%;
      background: $bg-second;
      top: -2%;
      padding-top: 12px;
      height: 105%;
      transition: left 0.5s, right 0.4s 0.2s;
    }

    &:not(:checked)::before {
      color: $usual-text;
      transition: color 0.5s;
    }

    &:not(:checked)::after {
      color: $second-text;
      transition: color 0.5s;
    }

    &:not(:checked) + label {
      left: -1px;
      background: $bg-second;
      width: 50%;
      height: 104%;
      top: -1px;
      transition: left 0.5s, right 0.4s 0.2s;
    }
  }

  label {
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 200px;
  }

  .btn-select {
    padding-bottom: 40px;
  }
}

.container-search-form {
  width: 100%;
}

mat-horizontal-stepper {
  background: transparent;
  width: 100%;

  ::ng-deep .mat-horizontal-stepper-content {
    padding: 0;
    margin: 0 0 5% 0;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    ::ng-deep .mat-stepper-horizontal-line {
      border: 0 solid;
    }

    ::ng-deep .mat-step-label {
      color: $second-text;
    }

    ::ng-deep .mat-step-label-selected {
      color: $second-text;
    }
  }

  .input-form {
    @include button-unusual(
      0% 0px 5% 0px,
      100%,
      2.7,
      center,
      0,
      1px $bg-second solid,
      $second-text,
      $bg-usual,
      20px,
      border-box
    );

    &:focus {
      color: $second-text;
    }

    &::placeholder {
      color: $second-text;
      text-align: center !important;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  .next-button {
    margin: 1rem 0;
  }

  .input-text-area-form {
    @include button-unusual(
      7% 0px 7% 0px,
      100%,
      1,
      left,
      30px,
      1px solid $bg-second,
      $second-text,
      $bg-usual,
      15px,
      border-box
    );
    height: 10em;
    resize: none;

    &:focus {
      color: $second-text;
    }

    &::placeholder {
      color: $second-text;
      padding-top: 35px;
      text-align: center;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  // Class Invalid Inputs Fields
  .is-invalid {
    @include is-invalid;
  }

  ::ng-deep .mat-step-header {
    right: 11%;
    background: none;
    @media screen and (orientation: landscape) {
      right: 4%;
    }
  }

  ::ng-deep .mat-ripple {
    display: none;

    &:focus {
      display: none;
    }
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: $bg-second;
    color: $usual-text;
    border: $bg-second;
  }

  ::ng-deep .mat-step-icon {
    background-color: transparent;
    border: 1px solid $bg-second;
    color: $bg-second;
    left: 97%;
  }

  ::ng-deep .mat-horizontal-content-container {
    overflow: hidden;
    padding: 0;
  }

  ::ng-deep .mat-step-text-label {
    margin-right: 32%;
  }
}

.form-search-lawyer {
  @include size-content(flex, column, center, center);
}

:host ::ng-deep {
  .mat-select {
    @include button-unusual(
      0 0 5% 0,
      100%,
      2.7,
      center,
      0,
      1px solid $bg-second,
      $usual-text,
      $bg-usual,
      20px,
      border-box
    );

    .mat-select-trigger {
      right: 4%;
    }

    .mat-select-min-line {
      position: relative;
      color: $second-text;
      left: 6%;
    }

    .mat-select-arrow {
      color: $bg-second;
    }
  }
}

.select-1 {
  margin: 25% 0 20% 0;
  @media (max-height: 570px) {
    margin: 20% 0 15% 0;
  }
}

.select-2 {
  margin: 0 0 0 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.main-button-or-85 {
  margin: 3rem 0;
  max-width: 23.7rem;
}

.main-button-bl-100 {
  margin: 1rem 3% 0 0;
}

@media screen and (orientation: landscape) {

  .btn-switch {
    margin: 17% 0 0 0 !important;
  }

  .select-1 {
    margin: 10% 0 10% 0;
  }

  .width-btn {
    max-width: 30.7rem;
  }

}

// Query Max-Width
@media (min-width: 500px) and (max-width: $breakpoint-lower-tablet) {
  .btn-switch {
    margin: 38% 0 0 0;
  }

  .select-1 {
    margin: 10% 0 10% 0;
  }

  .select-2 {
    margin: 0;
  }
}

// Query Tablet to Tablet LandScape
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop-usual) and (orientation: portrait) {
  .container {
    background-image: url("../../../../../assets/img/search-lawyer/bg-home1.png");
    width: 100%;
    height: auto;
    min-height: 70%;
  }

  .btn-switch {
    width: 70%;
    margin: 30% 0 0 0;
  }

  .select-1 {
    width: 40%;
    margin: 7% 0.5% 5% 0;
  }

  .select-2 {
    width: 30%;
  }

  .main-button-or-85 {
    margin: 0;
    max-width: 16.7rem;
  }

  // Stepper
  mat-horizontal-stepper {
    width: 60%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0 15% 0 15%;
  }

  .input-text-area-form {
    margin: 4% 0 0 0 !important;
  }

  .documentType-select {
    margin: 0 0.5% 0 0;
    width: 47%;
  }

  .input-form-document {
    width: 52% !important;
  }
}

@media (max-width: 1024px) and (max-height: 768px) {
  .width-btn {
    margin: 3rem 0;
    //max-width: 16.7rem;
    max-width: 30.7rem;
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop-usual) and (orientation: landscape) {
  .container {
    background-image: url("../../../../../assets/img/search-lawyer/hero_desktop.png");
    width: 100%;
    height: auto;
    min-height: 90% !important;
  }

  .btn-switch {
    margin: 30% 0 0 0;
    width: 70%;
  }

  .select-1 {
    width: 70%;
    margin: 7% 0 5% 0;
  }

  .select-2 {
    width: 70%;
  }

  .main-button-or-85 {
    margin: 3rem 0;
    max-width: 16.7rem;
  }

  // Stepper
  mat-horizontal-stepper {
    width: 50%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0 15% 0 6%;
  }

  .input-form {
    margin: 0 0 3% 0 !important;
  }

  .input-text-area-form {
    margin: 4% 0 0 0 !important;
  }

  .documentType-select {
    margin: 0 0.6% 3% 0 !important;
  }
}

// Tablet LandScape to Desktop Portrait
@media (min-width: $breakpoint-desktop-usual) and (max-width: $breakpoint-desktop) and (orientation: portrait) {
  .container {
    background-image: url("../../../../../assets/img/search-lawyer/hero_desktop.png");
    width: 100%;
    height: auto;
    min-height: 50%;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 7% 0 7%;
    text-align: center;
  }

  .btn-switch {
    margin: 20% 0 0 0;
    border: 1px solid #02395e;
    position: relative;
    width: 60%;
    height: 2.8em;
    border-radius: 200px;
    background: $bg-usual;
  }

  .container-search-form {
    margin: 5% 0 0 0;
  }

  .select-1 {
    margin: 2% 0.4% 0 0;
    width: 30%;
  }

  .select-2 {
    width: 20%;
  }

  .main-button-or-85 {
    margin: 3rem 0;
    max-width: 16.7rem;
  }

  mat-horizontal-stepper {
    width: 50%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0 18% 0 15%;
  }

  .input-text-area-form {
    margin: 0 0 0 0 !important;
    padding: 10px !important;

    &::placeholder {
      text-align: left !important;
      padding-top: 0 !important;
    }
  }

  .btn-input {
    &::before {
      font-size: 17px !important;
      left: 4% !important;
      bottom: -16% !important;
      white-space: nowrap !important;
    }

    &::after {
      font-size: 17px !important;
      right: 64%;
      bottom: -16% !important;
      white-space: nowrap !important;
    }
  }

  .input-form {
    margin: 0 0.4% 3% 0 !important;

    &::placeholder {
      padding-left: 2%;
      text-align: left !important;
    }
  }

  .documentType-select {
    width: 49%;
    margin: 0 0.6% 0 0;
  }

  .input-form-document {
    width: 50% !important;
  }
}

@media (min-width: $breakpoint-desktop-usual) and (max-width: $breakpoint-desktop) and (orientation: landscape) {
  .container {
    background-image: url("../../../../../assets/img/search-lawyer/hero_desktop.png");
    width: 100%;
    height: auto;
    min-height: 75%;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 7% 0 7%;
    text-align: center;
  }

  .btn-switch {
    margin: 20% 0 0 0;
    border: 1px solid #02395e;
    position: relative;
    width: 60%;
    height: 2.8em;
    border-radius: 200px;
    background: $bg-usual;
  }

  .container-search-form {
    margin: 5% 0 0 0;
  }

  .select-1 {
    margin: 2% 0.4% 0 0;
    width: 30%;
  }

  .select-2 {
    width: 20%;
  }

  .main-button-or-85 {
    margin: 3rem 0;
    max-width: 16.7rem;
  }

  mat-horizontal-stepper {
    width: 50%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0 18% 0 7%;
  }

  .input-text-area-form {
    margin: 0 !important;
    padding: 10px !important;

    &::placeholder {
      text-align: left !important;
      padding-top: 0 !important;
    }
  }

  .btn-input {
    &::before {
      font-size: 17px !important;
      left: 4% !important;
      bottom: -16% !important;
      white-space: nowrap !important;
    }

    &::after {
      font-size: 17px !important;
      right: 64%;
      bottom: -16% !important;
      white-space: nowrap !important;
    }
  }

  .input-form {
    margin: 0 0.4% 3% 0 !important;

    &::placeholder {
      padding-left: 2%;
      text-align: left !important;
    }
  }

  .documentType-select {
    width: 49%;
    margin: 0 0.6% 0 0;
  }

  .input-form-document {
    width: 50% !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    background-image: url("../../../../../assets/img/search-lawyer/hero_desktop.png");
    width: 100%;
    height: auto;
    min-height: 90%;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 7% 0 7%;
    text-align: center;
  }

  .btn-switch {
    margin: 20% 0 0 0;
    border: 1px solid #02395e;
    position: relative;
    width: 60%;
    height: 2.8em;
    border-radius: 200px;
    background: $bg-usual;
  }

  .container-search-form {
    margin: 5% 0 0 0;
  }

  .select-1 {
    margin: 2% 0.4% 0 0;
    width: 30%;
  }

  .select-2 {
    width: 20%;
  }

  .main-button-or-85 {
    margin: 3rem 0;
    max-width: 16.7rem;
  }

  mat-horizontal-stepper {
    width: 50%;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0 18% 0 7%;
  }

  .input-text-area-form {
    margin: 0 0 0 0 !important;
    padding: 10px !important;

    &::placeholder {
      text-align: left !important;
      padding-top: 0 !important;
    }
  }

  .btn-input {
    &::before {
      font-size: 17px !important;
      left: 4% !important;
      bottom: -16% !important;
      white-space: nowrap !important;
    }

    &::after {
      font-size: 17px !important;
      right: 64%;
      bottom: -16% !important;
      white-space: nowrap !important;
    }
  }

  .input-form {
    margin: 0 0.4% 3% 0 !important;

    &::placeholder {
      padding-left: 2%;
      text-align: left !important;
    }
  }

  .documentType-select {
    width: 49%;
    margin: 0 0.6% 0 0;
  }

  .input-form-document {
    width: 50% !important;
  }
}
