@import 'src/assets/scss/basis/index';

@mixin size-message($background-color) {
  width: fit-content;
  max-width: 75%;
  height: min-content;
  background-color: $background-color;
  border-radius: 11px;
  padding: 8px;
  margin: 5px 0;
}

@mixin size-icon($width, $margin) {
  width: $width;
  margin: $margin;
}

// Container icon header
.container-circle {
  width: calc(70px - 12px);
  height: calc(47px - 3px);
  display: flex;
  border-radius: 50%;
  margin: 3px 12px;
  border: 0;
  z-index: 3;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background: #c58511;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .icon-message {
    width: 46%;
  }

  .icon-bot {
    width: 59%;
  }
}

// styles wrong fields section message
.is-invalid {
  @include is-invalid;
}

// class quit the shadow the dialog to do scroll
::ng-deep .styles-overlay-chat {
  height: 100px;
  width: 100%;
  position: fixed;
  top: auto;
  background: transparent;
}

// class to modified the dialog
::ng-deep .container-chat {
  max-height: 80vh;
  min-height: auto;
  max-width: 87vw;
  min-width: 87vw;
  position: absolute !important;
  transition: all 0.3s ease-out;

  .mat-dialog-container {
    padding: 0;
    background-color: transparent;
    border-radius: 7px;
    height: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
    overflow-y: hidden;
    overflow-x: hidden;
    position: static;
    min-height: unset;
    max-height: unset;
  }

  .action-exit {
    padding: 0;
    min-height: 15px;
    right: -4px;
    background-color: transparent;
    position: relative;

  }
}

:host ::ng-deep {
  .mat-input-element {
    background-color: white;
  }
}

.dialog-chat {
  padding: 0 !important;
  background-color: transparent !important;
  margin: 0;
  height: 564px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
}

// header chat
.header-chat {
  @include size-content(flex, row, center, center);
  background-color: $bg-blue-dark-light;
  margin-top: 9px;
  border-radius: 7px 7px 0 0;
  padding: 5px;
  p {
    margin: 0 0 0 11px;
    padding: 0;
  }
}

// container input chat bot/adviser
.container-input {
  padding: 0.7rem 1.5rem;
  background-color: #DCDCDC !important;
  @include size-content(flex, row, center, center);
  justify-content: space-between;
  border-radius: 0 0 7px 7px;
  position: relative;

  .chat-input {
    border: 0;
    resize: none;
    outline: none;
    padding: 9px 27px 9px 15px;
    border-radius: 28px;
    width: calc(100% - 3px - 3rem);
  }
}

// style scroll
.chat-input::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  border-radius: 20px;
  border: 2px solid transparent;
}

.chat-input::-webkit-scrollbar {
  -webkit-appearance: none;
}

.chat-input::-webkit-scrollbar:vertical {
  width: 10px;
}

.chat-input::-webkit-scrollbar-button:increment,
.chat-input::-webkit-scrollbar-button {
  display: none;
}

.chat-input::-webkit-scrollbar:horizontal {
  height: 10px;
}

.chat-input::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
}

.chat-input::-webkit-scrollbar-track {
  border-radius: 10px;
}

// space where appear the bubbles
.content-chat {
  overflow-y: auto;
  overflow-x: hidden;
  background: $bg-usual;
  padding: 17px;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  height: unset !important;
}

// bubble client/person
.bubble-chat {
  width: 100%;
  height: auto;
  @include size-content(flex, column, flex-end, center);

  .message-chat {
    @include size-message(#839EB0);
    position: relative;

    p {
      margin: 0;
    }
  }
}

// bubble adviser/bot
.container-bot {
  width: 100%;
  height: auto;
  @include size-content(flex, column, flex-start, center);

  .message-bot {
    position: relative;
    @include size-message(#E6C081);
    border-radius: 11px 11px 11px 0 !important;

    p {
      margin: 0;
    }

    // triangle bubble to bot/adviser
    .triangle-bot {
      width: 8px;
      height: 8px;
      color: #E6C081;
      background: currentColor;
      clip-path: polygon(0 0, 0 100%, 100% 0);
      position: absolute;
      top: auto;
      left: -7px;
      transform: rotate(180deg);
    }
  }
}

// chat adviser
.information-adviser {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 11px;
  color: $usual-text;

  p {
    font-size: larger;
    font-weight: bold;
    margin: 0;
  }
}

.icon-adviser {
  @include size-icon(45px, 5px 12px 5px 5px)
}

// screen send-message
.container-form {
  height: 100%;
  padding: 12px;
  background: white;
}

// style section form message
.content-message {
  width: 100%;
  @include size-content(flex, column, center, center);

  .input-message {
    @include button-unusual(10px 0px, 90%, 2, center, 6px, 1px solid $bg-second, $second-text, transparent, 20px, content-box);
    @media screen and (orientation: landscape) {
      line-height: 0.5;
    }
  }

  .textarea-message {
    @include text-area(auto, auto, auto, auto);
    width: 90%;
    margin-top: 10px;
    color: $second-text;
    border-radius: 28px;
    border: 1px solid #07324f;
  }

  .input-message::placeholder {
    text-align: center;
    color: $second-text;
  }

  .textarea-message::placeholder {
    text-align: center;
    color: $second-text;
  }

  .button-message {
    @include button-unusual(10px 0, 90%, 2.4, center, 0, 1px solid transparent, $usual-text, $bg-primary, 20px, content-box);
    margin: 11px 0 3px 0;
  }
}
.section-form {
  row-gap: 17px;
}
// this style is to expand only the chat input
.container-position {
  width: 100%;
  border-radius: 0 0 7px 7px;
}

// style when it has the last bubble
// logic
.space {
  margin: 5px 0 10px 0 !important;
  border-radius: 11px 11px 0 !important;

  .triangle {
    width: 8px;
    height: 8px;
    color: #839EB0;
    background: currentColor;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    position: absolute;
    top: auto;
    right: -7px;
    transform: rotate(270deg);
  }
}

// bubble to client/person
.bubble-message {
  background: #839EB0;
  border: 0 solid;
  outline: none;
  word-wrap: break-word;
  overflow: hidden;
  height: auto;
  resize: none;
  width: auto;
}

// icon send message - chat
.send-button {
  margin-left: -3px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  @include size-content(flex, column, center, center);
  justify-content: center;
  background-color: $bg-primary;
}

// icon attach
.attach-button {
  position: absolute;
  right: 87px;
  width: 23px;
  height: 23px;
}

// Medias Query
@media (min-width: $breakpoint-tablet) and (max-height: 1023px) {
  .input-message {
    margin: 15px 0 !important;
  }
  .textarea-message {
    margin-top: 15px !important;
  }
  .button-message {
    margin: 16px 0 16px 0 !important;
    width: 50% !important;
  }
}

// Ipad
@media (min-width: $breakpoint-tablet) and (max-height: $breakpoint-desktop-usual) {
  ::ng-deep .container-chat {
    .mat-dialog-container {
      width: 46%;
      bottom: 75px;
      right: 37px;
      position: fixed !important;
    }
  }
  .container-message {
    height: auto !important;
  }
  .button-message {
    width: 50% !important;
  }
}

@media (min-width: $breakpoint-desktop-square) and (max-width: 1365px) {
  ::ng-deep .container-chat {
    .mat-dialog-container {
      width: 29%;
    }
  }
  .input-message {
    margin: 17px 0px !important;
    line-height: 2.2 !important;
  }
  .textarea-message {
    margin-top: 17px !important;
  }
  .button-message {
    margin: 24px 0 24px 0 !important;
    width: 50% !important;
  }

}


@media (min-width: $breakpoint-desktop-usual) and (max-width: 1279px) {
  ::ng-deep .container-chat {
    .mat-dialog-container {
      width: 37%;
    }
  }
  .input-message {
    margin: 17px 0 !important;
    line-height: 2.2 !important;
  }
  .textarea-message {
    margin-top: 17px !important;
  }
  .button-message {
    margin: 24px 0 24px 0 !important;
    width: 50% !important;
  }
}

@media (min-width: $breakpoint-desktop) and (max-width: 1919px) {
  ::ng-deep .container-chat {
    .mat-dialog-container {
      width: 27%;
    }
  }
  .input-message {
    margin: 17px 0px !important;
    line-height: 2.2 !important;
  }
  .textarea-message {
    margin-top: 17px !important;
  }
  .button-message {
    margin: 24px 0 24px 0 !important;
    width: 50% !important;
  }
  .container-message {
    height: auto
  }
}

@media (min-width: $breakpoint-desktop-full-hd) {
  ::ng-deep .container-chat {
    .mat-dialog-container {
      bottom: 75px;
      right: 37px;
      position: fixed !important;
    }

    .mat-dialog-container {
      width: 20%;
    }
  }
  .input-message {
    margin: 17px 0 !important;
    line-height: 2.2 !important;
  }
  .textarea-message {
    margin-top: 17px !important;
  }
  .button-message {
    margin: 24px 0 24px 0 !important;
    width: 50%;
  }
  .container-message {
    height: auto
  }
}

@media (min-width: 812px) and (max-height: 411px) {
  ::ng-deep .container-chat {
    .mat-dialog-container {
      overflow-x: hidden;
      position: static !important;
      width: 100%;
    }
  }
}

@media (min-height: $breakpoint-desktop-usual) and (max-height: 1440px) {
  ::ng-deep .container-chat {
    .mat-dialog-container {
      bottom: 75px;
      right: 37px;
      position: fixed !important;
    }
  }
}
