<link rel="stylesheet" href="chat.component.scss">
<!--Icon close dialog-->
<mat-dialog-actions class="action-exit" align="end">
    <img class="button-exit" alt="button-exit" mat-button mat-dialog-close src='../../../../assets/svg/catalogue-card/exit.svg'>
</mat-dialog-actions>
<mat-dialog-content class="dialog-chat">
    <!--header chat bot-->
    <div class="header-chat" *ngIf="changeChat == 'bot'">
        <div class="container-circle">
            <img class="icon-bot" src="../../../../../assets/svg/chat/icon-bot.svg" alt="icono-bot">
        </div>
        <span></span>
        <p class="text-m-wh" >Chatbot Juridigo</p>
    </div>
    <!--  header chat adviser-->
    <div class="header-chat" *ngIf="changeChat == 'asesor'">
        <img class="icon-adviser" src="../../../../../assets/svg/chat/icon-adviser.svg" alt="icono-asesor">
        <div class="information-adviser">
            <p class="text-m-wh ">Miguel Luna</p>
            <span> Asesor</span>
        </div>
    </div>
    <!--  header message dialog-->
    <div class="header-chat" *ngIf="changeChat == 'mensaje'">
        <div class="container-circle">
            <img class="icon-message" src="../../../../../assets/svg/chat/icon-message.svg" alt="icono-mensaje">
        </div>
        <p class="text-m-wh ">Enviar mensaje</p>
    </div>
    <div class="content-chat" *ngIf="changeChat != 'mensaje'" id="content-chat">
        <!--    bubble and space where put the conversation to client/person-->
        <div class="bubble-chat">
            <div class="message-chat" *ngFor="let message of testMessage; let i = index" [ngClass]="{'space': testMessage?.length == i+1}">
                <div class="bubble-message">
                    {{message}}
                </div>
                <!--        Triangle down bubble-->
                <div class="triangle">
                </div>
            </div>
        </div>
      <!--  bubble and space where put the conversation to the bot -->
      <div [ngClass]="{'container-bot': bot  }" *ngIf="changeChat == 'bot'">
        <div [ngClass]="{'message-bot': bot}">
          <p>Bienvenido a XXXXXXXX, ¿En que te puedo ayudar?</p>
          <div class="triangle-bot">
          </div>
        </div>
      </div>
    </div>
    <!--  textarea input down fo the chat for the section chat bot and chat adviser-->
    <div class="container-position">
        <div class="container-input " *ngIf="changeChat !='mensaje' ">
            <textarea name="mensaje " class="chat-input" [formControl]="message" autocomplete="off" placeholder="Escribir mensaje... " (keydown.enter)="messageChat($event)" cdkTextareaAutosize cdkAutosizeMaxRows="4" rows="2" maxlength="500"></textarea>
            <div class="attach-button" inlineSVG="../../../../../assets/svg/chat/button-attach.svg" [setSVGAttributes]="{ width: '100%', height: '100%'}" [removeSVGAttributes]="['clip-path']"></div>
            <div class="send-button" (click)="messageChat($event)" [formControl]="message" ngDefaultControl inlineSVG="../../../../../assets/svg/chat/button-send.svg" [setSVGAttributes]="{ width: '80%', height: '60%', viewBox: '1 -1 18 17' }"></div>
        </div>
    </div>
    <!--Form chat-->
    <div class="container-form" *ngIf="changeChat == 'mensaje'">
        <form class="form-bl flex-center section-form" [formGroup]="formMessage" autocomplete="off" (ngSubmit)="send()">
            <input class="input-control" [class.is-invalid]="validation('name')" formControlName="name" placeholder="*Nombre" type="text">
            <input class="input-control" [class.is-invalid]="validation('email')" formControlName="email" placeholder="*Email" type="text">
            <input class="input-control" [class.is-invalid]="validation('phone')" formControlName="phone" placeholder="*Teléfono" type="text">
            <textarea class="textarea-message" [class.is-invalid]="validation('message')" formControlName="message" placeholder="*Mensaje" rows="5"></textarea>
            <button class="main-button-or-85"> Enviar</button>
        </form>
    </div>
</mat-dialog-content>
