<mat-dialog-actions>
  <img class="button-exit" mat-dialog-close src="../../../../assets/svg/catalogue-card/exit.svg" alt="">
</mat-dialog-actions>
<app-custom-swiper [pagination]="{dynamicBullets: true}"  [breakpoints]="{'765':{slidesPerView:1, spaceBetween:0}}" [spaceBetween]="20" [navigation]="true" class="mySwiper" index="{{data.id - 1}}" *ngIf="dataCard">
  <ng-template swiperSlide *ngFor="let card of dataCard;let i = index">
    <img class="background-swiper" [src]="card.background" alt="background-desktop">
    <!--    slider wrapper-->
    <div class="container-scroll">
      <!--    slider image-->
      <div class="image-swiper" #imagesContainer>
        <div class="icon-swiper" [inlineSVG]="card.icon" [removeSVGAttributes]="['clip-path', 'filter']" [style]="'transform: scale(1)'" [setSVGAttributes]="{ width: '100%', margin: '0', padding: '0' }"></div>
        <p class="title-swiper sub-title-or"> {{card.title| titlecase}} </p>
      </div>
      <!--    slider content-->
      <div class="scroll-description" #itemsContainer [id]="i" [style.minHeight]="customStyles[i].minHeight" [style.height]="customStyles[i].height" [style.alignContent]="customStyles[i].alignContent">
        <p class="text-l-wh description-swiper" *ngFor="let description of card.issue">{{description}}</p>
      </div>
    </div>
  </ng-template>
</app-custom-swiper>
