@import "~swiper/components/pagination/pagination";
@import "src/assets/scss/basis/index";
//position paginator screen desktop
@mixin paginator-desktop {
    position: fixed;
    top: 50%;
    color: $bg-primary;
    display: initial;
}

// rewrite styles dialog
::ng-deep .styles-overlay {
    background: rgba(0, 0, 0, 0.7);
}

::ng-deep .custom-modal-box {
    max-width: 90vw !important;
    padding: 0;
    overflow: hidden;
    min-width: 200px;
    min-height: 300px;
    position: relative !important;
    top: 17px;
    //box-shadow: 0.1px 0.1px 0.6em $primary-text;
    app-custom-swiper {
        background: transparent;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .mat-dialog-container {
        background-color: transparent;
        padding: 10px;
        button,
        [type="button"],
        [type="reset"],
        [type="submit"] {
            -webkit-appearance: none;
        }
    }
}

.container-scroll {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    z-index: 10;
    position: relative;
    align-items: center;
    background-image: url("../../../../../assets/svg/catalogue-card/background-card.svg");
    background-color: #02395E;
    background-size: cover;
    background-repeat: no-repeat;
}

:host ::ng-deep .mat-dialog-content {
    max-width: 90vh;
    padding: 0;
    overflow: hidden;
}

:host ::ng-deep {
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev,
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        display: none;
    }
}

.mat-dialog-actions {
    padding: 0;
    min-height: 22px;
    right: -6px;
    position: relative;
    justify-content: flex-end;
}

:host ::ng-deep .swiper-slide {
    background-color: transparent !important;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    //box-shadow: 0.1px 0.1px 0.6em $bg-primary;
    display: block;
    margin-top: 5px;
    width: 100% !important;
}

:host ::ng-deep .swiper-slide::-webkit-scrollbar {
    width: 8px;
}

.title-swiper {
    margin: 10px 0 15px 0;
    padding: 0;
    width: 57%;
    text-align: center;
}

.icon-swiper {
    @include size-content(flex,
    column,
    center,
    center);
    width: 90px;
    margin-top: 31px;
}

.image-swiper {
    @include size-content(flex,
    column,
    center,
    center);
    margin: 0 !important;
    width: unset;
    margin-top: 2% !important;
    margin-bottom: 5% !important;
}

.description-swiper {
    margin: 20px 0;
}

.scroll-description {
    height: 59%;
    padding: 0 23px;
    overflow-y: auto;
    width: 85%;
}

.scroll-description::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.background-swiper {
    display: none;
    z-index: 1;
}

@media screen and (orientation: landscape) {
     ::ng-deep.custom-modal-box {
        height: 91vh;
        position: static !important;
    }
    .icon-swiper {
        width: 90px;
    }
    .image-swiper {
        margin: 0 7% 2% 7%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .title-swiper {
        width: 100px;
        margin: 10px 0 0 58px;
    }
}

// Iphone 10
@media (min-width: 812px) and (max-height: 411px) {
     ::ng-deep.custom-modal-box {
        height: 89vh !important;
    }
    .icon-swiper {
        width: 90px;
    }
    .icon-swiper {
        margin-top: 0;
    }
}

@media (min-width: $breakpoint-tablet) {
     ::ng-deep.custom-modal-box {
        max-width: 67vw !important;
        min-width: 67vw;
        height: 57vh !important;
        background-color: $bg-second;
        border-radius: 28px;
        box-shadow: 0.1px 0.1px 0.6em $primary-text;
        .mat-dialog-container {
            padding: 0;
            overflow: hidden;
            background-image: none;
        }
        .swiper-wrapper {
            height: 100%;
        }
        .container-scroll {
            background-image: unset;
            background-color: unset;
        }
    }
     :host ::ng-deep .swiper-slide {
        box-shadow: unset !important;
        background-color: $bg-blue-dark-light !important;
        margin: 0 !important;
        border-radius: 28px;
        width: 100% !important;
    }
     :host ::ng-deep {
        .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
            display: none;
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            right: 8%;
            @include paginator-desktop;
        }
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            left: 8%;
            @include paginator-desktop;
        }
        .background-swiper {
            display: block !important;
            position: absolute;
            height: inherit;
            min-width: inherit;
        }
    }
    .icon-swiper {
        width: 90px;
    }
    .scroll-description {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        column-gap: 5%;
        flex-shrink: 0;
    }
    .description-swiper {
        margin: 2% 0;
        max-width: 47%;
    }
    .title-swiper {
        width: 25%;
        margin: 5% 0 0 8%;
        text-align: initial;
    }
    .image-swiper {
        margin: 4% 12% 0 12%;
        flex-direction: row;
        width: 79%;
        position: inherit;
        justify-content: center;
        align-items: flex-end;
    }
}

@media (min-width: $breakpoint-desktop-square) {
     ::ng-deep.custom-modal-box {
        max-width: 57vw !important;
        min-width: 57vw;
        min-height: 85vh;
        max-height: 74vh;
    }
    .image-swiper {
        width: 79%;
    }
    .icon-swiper {
        width: 90px;
    }
    .title-swiper {
        width: 20%;
        ;
        margin: 5% 0 0 8%;
        text-align: initial;
    }
}

@media (min-width: $breakpoint-desktop) {
     ::ng-deep.custom-modal-box {
        max-width: 42vw !important;
        min-width: 42vw;
    }
}