<section class="container-share">
    <span class="text-share font-bold">Compartir</span>
    <div class="icons">
        <button mat-icon-button class="btn-media"><img src="../../../assets/svg/icons/twitter.svg" alt=""
                class="img-media"></button>
        <button mat-icon-button class="btn-media"><img src="../../../assets/svg/icons/facebook.svg" alt=""
                class="img-media"></button>
        <button mat-icon-button class="btn-media"><img src="../../../assets/svg/icons/linkedin.svg" alt=""
                class="img-media"></button>
        <button mat-icon-button class="btn-media"><img src="../../../assets/svg/icons/instagram.svg" alt=""
                class="img-media"></button>
    </div>
</section>