@import "src/assets/scss/basis/index";

.container-share {
  margin: 2% 0;
  max-width: 460px;
  min-width: 329px;
  height: 93%;
}

.text-share {
  color: $second-text;
  font-weight: 900;
  font-size: 1.2rem;
}

.btn-media {
  color: transparent;
  width: 14%;
  height: 14%;
  margin: 3% 3% 3% 0;
  padding: 1%;

  .img-media {
    width: 100%;
    height: 100%;
    padding: 1% 0;
  }
}

.icons {
  margin: 2% 0;
  padding: 2% 0;
}

//Media queries web/tablet
@media (min-width: $breakpoint-desktop-usual) {
  .container-share {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 600px;
    min-width: 362px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    margin: 5px 2%;
    padding: 0;
  }
  .btn-media {
    margin: 3% 5% 3% 0;
  }
  .text-share {
    font-size: 17px;
  }
}
@media (min-width: $breakpoint-desktop-full-hd) {
 .btn-media {
    width: 15%;
    height: 15%;
  }
}
@media (min-width: $breakpoint-desktop-2k) {
 .btn-media {
    width:16%;
    height: 16%;
  }
}
