<div>
    <div class="header-plan">
        <div class="tag-recommendation smaller-text-m-wh flex-center" *ngIf="plan.popularity">Popular</div>
        <h2 class="sub-title-or color-title2">{{plan.name}}</h2>
    </div>
    <div class="content flex-center">
        <!--  titles plans-->
        <h2 class="sub-title-bl flex-center price-plan" *ngIf="!isChecked">{{plan.monthly}}</h2>
        <h2 class="sub-title-bl flex-center price-plan" *ngIf="isChecked">{{plan.annual}}</h2>
        <button class="button-plan main-button-or-100">{{plan.textButton}}</button>
    </div>
    <!--          content benefits inside the swiper-->
    <div class="benefit-plan" *ngFor="let comparison of plan.functionalities">

        <p class="text-m-bl flex-center hidden-name">{{comparison.name}}</p>
        <!--            logic about the option selected in for the admin-->
        <!--            icon success-->
        <div class="icon-benefit" *ngIf="comparison.allowed == true && comparison.description == null " [inlineSVG]=" 'assets/svg/icons/success.svg' " [setSVGAttributes]="{width:'100%', height:'100%'}"></div>
        <div class="icon-benefit" *ngIf="comparison.allowed == false && comparison.description == null" [inlineSVG]="'assets/svg/icons/cross.svg'" [setSVGAttributes]="{width:'100%', height:'100%'}"></div>
        <p class="text-l-bl flex-center text-observation" *ngIf="comparison.allowed && comparison.description !== null ">{{comparison.description}}</p>
    </div>
    <div class="benefit-void"></div>
</div>