<mat-drawer-container class="navabar" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer>
        <button mat-icon-button class="button-drawer" (click)="drawer.toggle()" #hasBackdrop value="true">
            <mat-icon class="icon-drawer" >menu</mat-icon>
        </button>
        <div class="container-link">
            <div class="link-active" (click)="drawer.toggle()"><a class="link-section" routerLink="/login">Login</a></div>
            <div class="link-active" (click)="drawer.toggle()"><a class="link-section" routerLink="/register-client">Registro</a></div>
            <div class="link-active" (click)="drawer.toggle()"><a class="link-section" >Nosotros</a></div>
            <div class="link-active" (click)="drawer.toggle()"><a class="link-section" >Servicios</a></div>
            <div class="link-active" (click)="drawer.toggle()"><a class="link-section" routerLink="/blogs">Blog</a></div>
            <div class="link-active" (click)="drawer.toggle()"><a class="link-section">¿Eres abogado?</a></div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar [ngClass]="{'shrink-toolbar': shrinkToolbar}">
            <button mat-icon-button class="hamburger-button" (click)="drawer.toggle()" #hasBackdrop value="true">
                <mat-icon [ngClass]="{'shrink-hamburger': shrinkToolbar}">menu</mat-icon>
            </button>
            <div class="container">
                <img class="logo" src="../../../../assets/svg/header/Logo-juridigo.svg">
            </div>
            <span></span>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>
