@import "src/assets/scss/basis/index";

.container {
  @include section-catalogue;
}

.column {
  @include column-catalogue(86%);
  overflow: hidden;

  h3 {
    margin: 0;
    padding: 22px 17px 0;
    text-align: left;
  }
}

.card-container {

  min-width: 17rem;
  @extend .flex-center;

  ::ng-deep {
    .lawyer {
      justify-content: center;
    }

    .lawyer-card {
      padding: 17px !important;
    }
    .lawyer-avatar{
      max-height: 115px;
    }
    .lawyer-information {
      max-width: 18rem;
    }

    .lawyer-info {
      width: 100%;
    }

    .main-title-bl {
      display: none !important;
    }

    .text-b-bl {
      display: flex !important;
    }

    .contact-info {
      display: none !important;
    }

    .score {
      margin: 0.2rem 0 !important;
    }

  }
}

@media (min-width: $breakpoint-tablet) {

  .wrap {
    padding: 36px 35px 0 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .column {
    @include column-catalogue(80%);
  }
  .column {
    h3 {
      padding: 35px 35px 0;
    }
  }
  .card-container {
    ::ng-deep {
      .lawyer-card {
        padding: 0px 0 35px 0 !important;
      }

    }
  }
}


@media (min-width: 500px) {

  .card-container {
    ::ng-deep {
      .lawyer-avatar {
        min-width: 111px;
      }
    }
  }

}

@media (min-width: 888px) {
  .card-container {
    justify-content: flex-start;
    width: calc(50% - 17px);
    ::ng-deep{
      .lawyer-information {
        max-width: 100%;
      }
    }
  }
  .wrap {
    justify-content: space-between;
  }
}
