<div class="container">
  <div class="column">
    <h3 class="sub-title">Abogados similares</h3>
    <div class="wrap">
      <div class="card-container" *ngFor="let data of lawyers" >
        <app-lawyer-card [lawyer]="data" [options]="lawyerOptions"></app-lawyer-card>
      </div>
    </div>
  </div>
</div>
