@import "src/assets/scss/basis/index";

@mixin button($color, $background) {
  color: $color;
  background-color: $background;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  height: 46px;
  max-width: 34rem;
  min-width: 14.8rem;
  box-sizing: border-box;
  @extend .small-text-m
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.text-m-bl {
  width: 100%;
  text-align: center;
}

.background {
  background-image: url("../../../../assets/png/register-client/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  @extend .flex-center;
  z-index: 1;
  @media(max-height: 600px) {
    height: 110%;
  }
}

.background-2 {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 18% 0;
  z-index: 2;

  .white {
    width: 100%;
    height: 100%;
  }
}

.login-lawyer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: calc(56px + 16%) 2.5rem;
  max-height: 45rem;
  z-index: 3;

  .form-bl {
    height: calc(100% - 62px);
    align-content: space-evenly;
    width: 100%;
  }

  &-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;

    mat-form-field:last-of-type {
      .input-control {
        margin-bottom: 0;
      }
    }
  }
}

.container-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 100%;
  height: 6.8rem;
  margin: 0.8rem 0 2rem;

  .container-btn {
    width: 100%;
    text-align: center;
  }
}

.button-facebook {
  @include button($usual-text, #2673FF);
  img {
    width: 25px;
    margin: 0 0.5rem 0.3rem 0;
  }
}

.button-google {
  @include button(#839EB0, $bg-button-light);
 img {
   width: 25px;
   margin: 0 0.5rem 0.3rem 0;
 }
}

// Media queries Landscape mobile
@media (orientation: landscape) and (max-width: 1023px) {
  .background {
    height: auto;
    min-height: 100%;
  }
  .login-lawyer {
    top: 40%;
    height: auto;
    bottom: unset;
  }
  .background-2 {
    padding: 13% 0;
  }
}

//Media queries tablet
@media(min-width: $breakpoint-tablet) {
  .login-lawyer {
    padding: calc(56px + 9%) 2.5rem;
  }
}

//Media queries desktop
@media (min-width: $breakpoint-desktop-usual) and (orientation: landscape) {
  .d-none {
    display: flex;
  }
  .d-block {
    display: none;
  }
  .background {
    background-image: url("../../../../assets/png/register-client/register-lawyer.png");
    min-height: 625px;
    justify-content: flex-start;
  }
  .background-2 {
    width: 62%;
    padding: 0 0 0 3%;
  }
  .login-lawyer {
    width: 69%;
    padding: calc(80px + 6rem) 18.1% 6rem 18.1%;
    .form-bl {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
    }
  }

  .container-buttons {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    .container-btn {
      margin: 0 2%;
    }
  }

  .main-button-or-100 {
    flex-basis: 85%;
  }
}

