<div class="background">
  <!--  Contain it the white wave image-->
  <div class="background-2">
    <img class="d-none white" src="../../../../assets/png/register-client/white-square.png" alt="">
    <img class="d-block white" src="../../../../assets/png/register-client/white-wave-smartphone-min.png" alt="">
  </div>
  <!--  Main content-->
  <div class="container">
    <h2 class="form-title sub-title-or">Recuperar contraseña</h2>
    <!--    Enter email section-->
    <div class="container-content" *ngIf="!changeView">
      <div class="container-content child">
        <div class="section-recover-pass">
          <p class="text-m-bl">{{data?.paragraphSectionEmail}}</p>
        </div>
        <form class="form-bl" autocomplete="off" [formGroup]="formEmail" (ngSubmit)="sendEmail()">
          <mat-form-field appearance="fill">
            <input matInput type="email" placeholder="Correo electrónico" class="input-control"
                   [class.is-invalid]="invalidForm(formEmail)" formControlName="email">
          </mat-form-field>

          <div class="container-buttons">
            <button mat-button class="main-button-bl-85" routerLink="/inicio/cliente/autenticacion/iniciar-sesion">Volver
            </button>
            <button type="submit" mat-button class="main-button-or-85">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    <!--    Enter pin section-->
    <div class="container-content" *ngIf="changeView">
      <form class=" form-bl form-pin" autocomplete="off" [formGroup]="formPin">
        <p class="paragraph-pin text-m-bl">{{data?.subTitleSectionPin}}</p>
        <div class="container-inputs">
          <input type="text" #input1 maxlength="1" autofocus class="box-number big-title-bl"
                 [class.is-invalid]="invalidForm(formPin)"
                 formControlName="firstDigit" (keyup)="moveFocus()">
          <input type="text" #input2 maxlength="1" class="box-number big-title-bl"
                 [class.is-invalid]="invalidForm(formPin)"
                 formControlName="secondDigit" (keyup)="moveFocus()">
          <input type="text" #input3 maxlength="1" class="box-number big-title-bl"
                 [class.is-invalid]="invalidForm(formPin)"
                 formControlName="thirdDigit" (keyup)="moveFocus()">
          <input type="text" #input4 maxlength="1" class="box-number big-title-bl"
                 [class.is-invalid]="invalidForm(formPin)"
                 formControlName="fourthDigit" (keyup)="sendUserPinToUs()">
        </div>
        <p class="p-down-pin text-m-bl">{{data?.paragraphSectionPin}} <strong>{{showMinutes}}:{{showSeconds}}</strong></p>
        <div class="container-buttons">
          <button mat-button class="main-button-bl-85" (click)="changeInterface()">Volver</button>
          <button type="submit" mat-basic-button [disabled]="isDisable"
                  [ngClass]="isDisable ? 'main-button-gy-85' : 'main-button-or-85'"
                  (click)="reSendCodeToUser()">Reenviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
