@import "src/assets/scss/basis/index";

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.background {
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("../../../../assets/png/register-client/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  @media(max-height: 600px) {
    height: 110%;
  }
}

.background-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 18% 0;
  top: 0;
  z-index: 2;

  .white {
    width: 100%;
    height: 100%;
  }
}

.container {
  @include size-content(flex, column, center, center);
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: calc(56px + 16%) 2.5rem;
  max-height: 45rem;
  z-index: 3;
}

.container-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;

  &.child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}

.text-m-bl {
  margin: 1rem 0;
}

.sub-title-or {
  margin-bottom: 0;
}


.section-recover-pass {
  display: flex;
  align-items: center;
  margin: auto;
}

.form-bl {
  height: 52%;
  justify-content: space-between;

  :host::ng-deep.mat-form-field {
    height: 48%;
  }
}

.form-pin {
  align-items: center;
  justify-content: center;
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-button-bl-85 {
  margin-right: 7%;
}

//Enter pin section mobile
.form-pin {
  height: 100%;
}

.paragraph-pin,
.text-m-bl {
  text-align: center;
}

.p-down-pin {
  margin-bottom: 0;
}

.container-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
}

.box-number {
  text-align: center;
  border: 1px solid $border-input;
  color: $second-text;
  background: transparent;
  border-radius: 15px;
  width: 19%;

  &::placeholder {
    color: $second-text;
  }
}

// Media queries Landscape mobile
@media (orientation: landscape) and (max-width: 1023px) {
  .background {
    height: calc(var(--vh, 1vh) * 210);
    min-height: 100%;
  }
  .background-2 {
    padding: 13% 0;
  }
  .container {
    height: auto;
    bottom: unset;
    padding: calc(56px + 16%) 7.5rem;
  }
  .container-inputs {
    width: 70%;
    height: 7.5rem;
  }
  .box-number {
    width: 21%;
  }
}

//Media queries tablet
@media(min-width: $breakpoint-tablet) and (orientation: portrait) {
  .container {
    padding: calc(56px + 9%) 2.5rem;;
  }
}

//Media queries desktop
@media(min-width: $breakpoint-desktop-usual) and (orientation: landscape) {
  .d-none {
    display: block;
  }
  .d-block {
    display: none;
  }
  .background {
    background-image: url("../../../../assets/png/register-client/register-lawyer.png");
    min-height: 625px;
  }
  .background-2 {
    width: 62%;
    padding: 0 0 0 5%;

  }
  .container {
    width: 69%;
    padding: calc(80px + 5rem) 18.1% 5rem 18.1%
  }
  //Enter pin section desktop
  .form-pin {
    align-items: center;
    justify-content: center;
  }
  .container-inputs {
    width: 80%;
    height: 8.5rem;
  }
  .box-number {
    width: 21%;
  }
}

@media(min-width: $breakpoint-desktop-full-hd) {
  .container-inputs {
    width: 70%;
    height: 9.5rem;
  }
  .box-number {
    width: 21%;
  }
}

