@import 'src/assets/scss/basis/index';

.container {
  width: 100%;
  background-color: $bg-usual;
  padding: 0;
  margin: 0;
}

.column {
  @include size-content(flex, column, center, center);
  margin: $margin-sides;
}

.icon-column {
  margin-top: 20%;
  width: 80%;
}

.title-column {
  text-align: center;
  margin: 0;
  padding: 0;
}

.download-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.button-android {
  width: 50%;
  margin: 5% 0;
}

.wrap-download {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: baseline;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
  grid-gap: 18px;
}

.wrap-content {
  text-align: start;
  height: 50%;
}
// iphone 5
@media (width: 568px) and (orientation: landscape) {
  .wrap-download {
    justify-content: flex-start;
    grid-gap: 7px !important;
  }
  .wrap-content {
    width: 141px !important;
  }
  .icon-column {
    width: inherit;
  }
  .title-column {
    width: inherit;
    text-align: initial;
    position: relative;
    top: -52px;
  }
  .button-android {
    width: inherit;
    margin: 5% 0;
    position: relative;
    top: -26px;
  }
  .wrap-android {
    width: 87px !important;
  }
}

@media (min-width: $breakpoint-tablet) {
  .wrap-download {
    justify-content: space-evenly;
    width: 100%;
  }
  .wrap-content {
    width: 158px;
  }
  .icon-column {
    width: inherit;
  }
  .title-column {
    width: inherit;
    position: relative;
    text-align: initial;
    top: -62px;
  }
  .button-android {
    width: inherit;
    margin: 5% 0;
    position: relative;
    top: -26px;
  }
  .wrap-android {
    width: 134px;
  }
}

@media (min-width: $breakpoint-desktop-usual) {
  .wrap-content{
    width: 227px !important
  }
  .wrap-android {
    width: 170px !important;
  }
}
@media (min-width: $breakpoint-desktop-square) {
  .wrap-content {
    width: 256px !important;
  }
  .title-column {
    top: -89px;
  }
  .button-android {
    top: -37px;
  }
  .wrap-android {
    width: 215px !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .wrap-content {
    width: calc(250px - 15px) !important;
  }
  .title-column {
    top: -80px;
  }
  .wrap-android {
    width: calc(250px - 15px) !important;
  }
}

@media (min-width: $breakpoint-desktop-full-hd) {
  .wrap-content {
    width: 347px !important;
  }
  .title-column {
    top: -110px;
  }
  .button-android {
    top: -37px;
  }
  .wrap-android {
    width: 322px !important;
  }
}
