<link rel="stylesheet" href="download-app.component.scss">
<div class="container">
    <div class="column">
        <ul class="wrap-download">
            <li class="wrap-content">
                <img class="icon-column" src="../../../../../assets/png/download-app/icono_principal.png" alt="">
            </li>
            <li class="wrap-content">
                <h4 class="text-l-bl title-column"><span class="sub-title-or">Descarga</span><br> la App Juridigo</h4>
            </li>
            <li class="wrap-android"><img class="button-android" src="../../../../../assets/png/download-app/App store.png" alt="app-store"></li>
            <li class="wrap-android"><img class="button-android" src="../../../../../assets/png/download-app/google play.png" alt="google-play"></li>
        </ul>
    </div>
</div>
