<div class="container">
    <div class="column">
        <h1 class="big-title-bl-shadow">Conoce Juridigo</h1>
        <p class="text-m-bl">La mejor plataforma para ofrecer servicios legales en línea, creada por abogados para abogados</p>
        <button mat-button class="main-button-or-85">Regístrate gratis</button>
    </div>
</div>
