@import "src/assets/scss/basis/index";

.container {
  background-image: url("../../../../../assets/img/hero-lawyer/bg-hero-lawyer.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 89%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.column {
  @include size-content(flex, row, center, center);
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: 20% 0 0 0;
}

.big-title-bl-shadow {
  text-align: center;
}

.text-m-bl {
  text-align: center;
}

// Medias Query
@media (min-width: 568px) and (max-width: 812px) and (orientation: landscape) {
  .container {
    background-image: url("../../../../../assets/img/hero-lawyer/Hero-juridigo-desktop.png");
    height: 45.31vw;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    padding: 7% 0 0 3%;
    justify-content: flex-start;
    margin: 0;
  }

  .big-title-bl-shadow {
    text-align: left;
    white-space: nowrap;
  }

  .text-m-bl {
    text-align: left;
  }
}

@media (min-width: 320px) and (max-height: 568px) and (orientation: landscape) {
  .container {
    background-image: url("../../../../../assets/img/hero-lawyer/Hero-juridigo-desktop.png");
    height: 45.31vw;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    justify-content: flex-start;
    margin: 0 0 3% 0;
  }

  .big-title-bl-shadow {
    text-align: left;
    white-space: nowrap;
    margin: 12% 0 0 0;
  }

  .text-m-bl {
    text-align: left;
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop-usual) and (orientation: portrait) {
  .container {
    background-image: url("../../../../../assets/img/hero-lawyer/Hero-juridigo-desktop.png");
    height: 45.31vw;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    padding: 7% 0 0 3%;
    justify-content: flex-start;
    margin: 0;
  }

  .big-title-bl-shadow {
    text-align: left;
    white-space: nowrap;
  }

  .text-m-bl {
    text-align: left;
  }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop-usual) and (orientation: landScape) {
  .container {
    background-image: url("../../../../../assets/img/hero-lawyer/Hero-juridigo-desktop.png");
    height: 45.31vw;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    padding: 7% 0 0 3%;
    justify-content: flex-start;
    margin: 0;
  }

  .big-title-bl-shadow {
    text-align: left;
    white-space: nowrap;
  }

  .text-m-bl {
    text-align: left;
  }
}

@media (min-width: $breakpoint-desktop-usual) and (max-width: $breakpoint-desktop) and (orientation: landScape) {
  .container {
    background-image: url("../../../../../assets/img/hero-lawyer/Hero-juridigo-desktop.png");
    height: 45.31vw;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    padding: 7% 0 0 3%;
    justify-content: flex-start;
    margin: 0;
  }

  .big-title-bl-shadow {
    text-align: left;
    white-space: nowrap;
  }

  .text-m-bl {
    text-align: left;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    background-image: url("../../../../../assets/img/hero-lawyer/Hero-juridigo-desktop.png");
    height: 45.31vw;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    padding: 7% 0 0 3%;
    justify-content: flex-start;
    margin: 0;
  }

  .big-title-bl-shadow {
    text-align: left;
    white-space: nowrap;
  }

  .text-m-bl {
    text-align: left;
  }
}

@media (min-width: $breakpoint-desktop-2k) {
  .container {
    background-image: url("../../../../../assets/img/hero-lawyer/Hero-juridigo-desktop.png");
    height: 45.31vw;
    align-items: flex-start;
  }

  .column {
    width: 50%;
    padding: 7% 0 0 3%;
    justify-content: flex-start;
    margin: 0;
  }

  .big-title-bl-shadow {
    text-align: left;
    white-space: nowrap;
  }

  .text-m-bl {
    text-align: left;
  }
}
