<div #homeId class="home">
<!--   <app-search-lawyer></app-search-lawyer>
  <app-test></app-test>
  <app-advantage [mainDataAdvantage]="mainDataAdvantage" [dataAdvantage]="dataAdvantage"
                 [role]="'client'"></app-advantage>
  <app-how-it-work></app-how-it-work>
  <app-legal-services></app-legal-services>
  <app-indicators [indicators]="indicators" [role]="'client'"></app-indicators>
  <app-download-app></app-download-app>
  <app-last-news></app-last-news>
  <app-newsletter></app-newsletter>
  <app-footer></app-footer> -->
  <app-pokemon></app-pokemon>
</div>
