@import "src/assets/scss/basis/index";
.container {
  @include section-catalogue;
}
.column-successful{
  @include column-catalogue(86%);
  border-radius: 10px;
  .title-cases {
    padding: 17px 17px 8.5px 17px;
    text-align: start;
    margin: 0;
  }
}

.index-description {
  margin: 0 0 12px 0;
}

.container-case {
  padding: 8.5px 17px;
 }
// change styles expansion panel
:host ::ng-deep {
@include mat-expansion-panel;
}
// styles button down of the expansion panel
:host ::ng-deep {
  @include button-more-view;
}
.description-desktop {
  display: none;
}
@media (min-width: $breakpoint-tablet) {
  .column-successful{
    @include column-catalogue(80%);
  }
  .mat-accordion {
    display: none;
  }
  .more-case {
    display: initial;
  }
  .container-case {
    padding: 12px 60px;
  }
  .column-successful {
    .title-cases{
      padding: 35px 35px 17.5px 35px;
    }
  }
  .description-desktop {
    display: initial;
  }
}
