<div class="container">
  <div class="column-successful">
    <h4 class="small-sub-title-bl title-cases">Casos exitosos</h4>
  <div class="container-case" *ngFor="let dataCase of cases">
    <!--          main view expansion panel hidden-->
    <div class="index-description">
    <p class="text-b-bl"> {{dataCase.name}}</p>
    <p class="text-m-bl">{{dataCase.subTitle}}</p>
    <p class="text-m-bl">{{dataCase.year}}</p>
    </div>
    <div class="small-text-m-bl text-description ">
    {{dataCase.description}} <span class="description-desktop">{{dataCase.description}}</span>
    </div>
    <mat-accordion>
      <!--            actions expansion panel hidden/ show more text of the description -->
      <mat-expansion-panel hideToggle class="view-more" (closed)="dataCase.state = false" (opened)="dataCase.state = true">
        <mat-expansion-panel-header>
          <mat-panel-title class="section title">
            <p class="button-view small-text-m-bl" *ngIf="!dataCase.state">...ver más</p>
            <p class="button-view small-text-m-bl" *ngIf="dataCase.state" >...ver menos</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!--              more text description-->
        <div class="small-text-m-bl text-description">
          {{dataCase.plusDescription}}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

    <mat-accordion class="more-case">
      <!--              button expand panel more successful-case-->
      <mat-expansion-panel hideToggle (closed)="panelOpenState = false" (opened)="panelOpenState = true">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-b-bl" *ngIf="!panelOpenState">
            Mostrar más
          </mat-panel-title>
          <mat-panel-title class="text-b-bl" *ngIf="panelOpenState">
            Mostrar menos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="container-case" *ngFor="let dataCase of cases">
          <!--          main view expansion panel hidden-->
          <div class="index-description">
            <p class="text-b-bl"> {{dataCase.name}}</p>
            <p class="text-m-bl">{{dataCase.subTitle}}</p>
            <p class="text-m-bl">{{dataCase.year}}</p>
          </div>
          <div class="small-text-m-bl text-description ">
            {{dataCase.description}} <span class="description-desktop">{{dataCase.description}}</span>
          </div>
          <mat-accordion>
            <!--            actions expansion panel hidden/ show more text of the description -->
            <mat-expansion-panel hideToggle class="view-more" (closed)="dataCase.state = false" (opened)="dataCase.state = true">
              <mat-expansion-panel-header>
                <mat-panel-title class="section title">
                  <p class="button-view small-text-m-bl" *ngIf="!dataCase.state">...ver más</p>
                  <p class="button-view small-text-m-bl" *ngIf="dataCase.state" >...ver menos</p>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <!--              more text description-->
              <div class="small-text-m-bl text-description">
                {{dataCase.plusDescription}}
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
