@import "src/assets/scss/basis/index";
.container {
    width: 100%;
    text-align: center;
    @include size-content(flex, row, center, center)
}

.link {
    color: $second-text;
}

.terms {
   color: $primary-text;
}

.column {
    width: 100%;
    @include size-content(flex, column, center, center);
}

:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $bg-usual;
}

:host ::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: orange;
}

::ng-deep .container-terms {
    max-width: 86vw;
    min-width: 86vw;
    max-height: 85vh;
    min-height: 85vh;
    .mat-dialog-container {
        @include size-content(flex, column, center, center);
        justify-content: flex-start;
        border-radius: 15px;
        padding: 0;
        background: $bg-usual;
    }
}

textarea {
    @include text-area(65vw, 65vw, 62vh, 62vh);
}

:host::ng-deep {
    .mat-input-element:disabled,
    .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    @include input-disabled ($second-text);
    }
}

.textarea::-webkit-scrollbar {
    -webkit-appearance: none;
}

.textarea::-webkit-scrollbar-button:increment,
.textarea::-webkit-scrollbar-button {
    display: none;
}

.textarea::-webkit-scrollbar:horizontal {
    height: 5px;
    width: 5px;
}

.textarea::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.textarea::-webkit-scrollbar-track {
    border-radius: 10px;
}

textarea:disabled {
    opacity: 1;
}

input:disabled,
textarea:disabled {
    opacity: 1;
}

:host::ng-deep .mat-dialog-actions {
    @include size-content(flex, row, center, center);
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 9% 0;
}

.button-term {
    @include button-unusual(0, 100%, 2.5, center, 0, 0, $usual-text, $bg-primary, 18px, border-box);
    box-shadow: none;
}

//Media queries web/tablet




