<div class="column">
    <h3 class="sub-title-or">Terminos y condiciones</h3>
    <textarea matInput cdkAutosizeMinRows="20" cdkAutosizeMaxRows="10" disabled class="small-text-m">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sequi mollitia veniam in temporibus, natus quasi, commodi repellat perspiciatis distinctio facilis expedita fugiat quisquam est dolores sed, sapiente eius! Ullam!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolore harum quod? Beatae quod ipsa rem consequatur ipsum. Sed id facere sunt sit, debitis dolores amet accusantium fuga labore est?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, similique veniam iusto sunt commodi accusamus labore ipsa sint soluta amet officiis vel quod, voluptates enim libero porro perspiciatis? Nam, rerum.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto sit quis, beatae eveniet ut modi labore repellat tenetur cupiditate necessitatibus sequi consequuntur reiciendis repudiandae et dicta aperiam omnis debitis veniam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis labore eos, ea atque blanditiis nisi. Saepe dolorum omnis qui itaque, nemo unde iure ad eaque consectetur, sunt quae, magni dolor?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem iusto dicta neque voluptates id, sapiente reiciendis. Accusamus ab in magni vitae repellat tempore eveniet, dignissimos sed eius, at ratione nam?
  </textarea>
    <div mat-dialog-actions>
        <button class="button-term" [mat-dialog-close]="flag">Entendido</button>
    </div>
</div>
