<div class="container">
    <p class="small-text-m terms">Al continuar acepto de manera expresa e informada los <a class="link" (click)="openDialog()">Términos y condiciones</a> y la <a class="link" (click)="openDialog()">Política de privacidad</a> de JuridiGo</p>
</div>
