<div [ngClass]="{'paginator-row':changePaginator, 'container':!changePaginator}">
  <div class="buttons-container" [ngClass]="{'buttons-container-row':changePaginator}">
    <button mat-raised-button class="button button-form basis-button-bl-38h"
            (click)="nextPage('prev')"
    [ngClass]="{'inactive-button-prev': inactiveButtonPrev}"
    >Anterior
    </button>
    <button mat-raised-button class="button-form basis-button-or-38h"
            (click)="nextPage('next')"
            [ngClass]="{'inactive-button-next': inactiveButtonNext, 'line-height-resize': changePaginator}">Siguiente
    </button>
  </div>
  <div class="page-input" [ngClass]="{'page-input-resize': changePaginator}">
    <mat-form-field>
      <input matInput type="text"  [disabled]="true" class="input-paginator small-text-b-or" [(ngModel)]="initialPage">
    </mat-form-field>
    <div class="page-size">
      <p>de {{totalPages()}}</p>
    </div>
  </div>
</div>

