@import "src/assets/scss/basis/index";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-paginator:disabled {
  -webkit-text-fill-color: $primary-text;
  opacity: 1; /* required on iOS */
  color:$primary-text;
}
.input-paginator {
  @extend .small-text-l-or;
}
.paginator-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 30px;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
.buttons-container-row {
  width: 36.5%;
  height: 58px;
}
.page-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  .page-size {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    color: #c58511;
  }
}
.page-input-resize {
  width: 20%;
  margin-bottom: 2%;
  //margin-right: -2%;
}
.button-form {
  max-width: calc(50% - 9px) !important;
  margin: 0;
}
:host::ng-deep {

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-infix {
    padding: .5em 0;
    border-top: 0 solid transparent;
  }
  .mat-form-field {
    letter-spacing: normal;
    text-align: center;
    width: 41px;
    height: 38px;
    border: 2px solid #c58511;
    border-radius: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .mat-form-field-underline {
    position: absolute;
    width: 100%;
    pointer-events: none;
    transform: scale3d(0, 0, 0);
  }
  input.mat-input-element {
    margin: 0.46875em  0 0.46875em 0;
  }

  .mat-input-element {
    padding: 0 !important;
  }
  .mat-input-element:disabled {
  -webkit-text-fill-color: $primary-text;
  opacity: 1; /* required on iOS */
  color:$primary-text;}
  }
.button-form {
  max-width: calc(50% - 9px) !important;
}

.inactive-button-prev {
 background-color: $bg-usual;
  border: 1px solid $second-text;
  color: $second-text;

}
.inactive-button-next {
  border: 1px solid $bg-primary;
  color: $primary-text;
  background: $bg-usual;
}

@media screen and (orientation: landscape) {
  .page-input{
    margin-top: 5%;
    .page-size {
      margin-left: 5px;
    }
  }
}
@media (min-width: $breakpoint-desktop-usual) {
  .container {
    width: 95%;
    justify-content: center;
  }
  .buttons-container-row {
    width: 50%;
  }
  .page-input-resize {
    width: 25%;
  }
  .button-form {
    line-height: 1.8;
  }
  .secondary-button {
    line-height: 1.8;
  }
  .page-input {
    margin-top: 0;
    justify-content: flex-end;
  }
}

