<div class="background">
  <!--  Contain it the white wave image-->
  <div class="background-2">
    <img class="d-none white" src="../../../../assets/png/register-client/white-square.png" alt="">
    <img class="d-block white" src="../../../../assets/png/register-client/white-wave-smartphone-min.png" alt="">
  </div>
  <div class="login-client">
    <h3 class="sub-title-or form-title">Ingresa a la cuenta</h3>
    <!--    form-->
    <form class="form-bl" autocomplete="off" [formGroup]="formLogin" (ngSubmit)="logIn()">
      <div class="login-client-fields">
        <mat-form-field appearance="fill">
          <input matInput type="email" placeholder="Correo electrónico" class="input-control"
                 [class.is-invalid]="invalidEmailEntry" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Contraseña" class="input-control"
                 [class.is-invalid]="invalidPasswordEntry" formControlName="password">
        </mat-form-field>
        <button type="submit" mat-button class=" main-button-or-100 ">Iniciar sesión</button>
        <p class="text-m-bl"><a routerLink="/home/cliente/autenticacion/recuperar-contrasena" class="text-m-bl">¿Olvidaste
          tu contraseña?</a></p>
      </div>
      <div class="container-buttons">
        <div class="container-btn">
          <button mat-button class="button-facebook button"><img src="../../../../assets/svg/register/icon-facebook.svg">Ingresar con facebook</button>
        </div>
        <div class="container-btn">
          <button mat-button class="button-google button"><img src="../../../../assets/svg/register/icon-google.svg">Ingresar con Google</button>
        </div>
      </div>
    </form>
  </div>
</div>
