@import "src/assets/scss/basis/index";
.container {
    width: 100%;
    height: auto;
    min-height: 100%;
    background-size: cover;
    background-image: url("../../../../assets/png/register-lawyer/fondo.png");
    background-repeat: no-repeat;
}

.title-form {
    color: $primary-text;
    font-size: 27px;
    margin-top: 82px;
    margin-bottom: 0;
    font-weight: bold;
}

.is-invalid {
    @include is-invalid;
}

.column {
    @include size-content(flex,
    column,
    center,
    center);
    width: 100%;
}

.form-register {
    width: 80%;
    @include size-content(flex,
    column,
    center,
    center);
}

.slide-form {
    display: flex;
    width: 100%;
    @include size-content(flex,
    row,
    center,
    center);
    justify-content: center;
}

.text-slide {
    font-size: 77%;
    width: min-content;
    text-align: center;
    color: $usual-text;
}

:host ::ng-deep {
    .mat-slide-toggle-thumb {
        @include slide-thumb(21px,22px,$bg-primary);
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
        @include slide-thumb(21px,22px,$bg-primary);
    }
    .mat-slide-toggle-bar {
        @include slide-bar(1px white solid,rgba(255, 255, 255, 0.2));
    }
    .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
        @include slide-bar(1px white solid,rgba(255, 255, 255, 0.2));
    }
}

:host ::ng-deep {
    .mat-drawer-container {
        background-color: transparent;
    }
    .mat-select {
        border-radius: 25px;
    }
    .mat-slide-toggle {
        margin: 0 15px;
    }
    .mat-form-field {
        text-align: center;
    }
    .mat-form-field-underline {
        bottom: 0;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
    .mat-form-field-appearance-fill .mat-form-field-flex {
        padding: 0;
    }
    .mat-form-field-infix {
        padding: 0;
        border: 0;
    }
    .mat-select-arrow-wrapper {
        display: block;
        padding-right: 10px;
    }
    .mat-form-field-appearance-fill .mat-form-field-label {
        width: 0;
    }
    .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
    .mat-form-field-can-float,
    .mat-input-server:focus,
    +.mat-form-field-label-wrapper,
    .mat-form-field-label {
        width: 0;
    }
    .mat-select-arrow {
        color: $usual-text;
    }
    .mat-select-value {
        color: $usual-text;
    }
    .mat-form-field-underline {
        width: 0;
    }
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: $bg-primary;
    }
}

.input-form {
    @include button-unusual( 10px 0px 0px 0px,
    100%,
    2.7,
    center,
    0,
    1px #ffffff solid,
    $usual-text,
    transparent,
    20px,
    border-box);
}

.input-form::placeholder {
    color: #ffffff;
}

:host ::ng-deep .mat-select-placeholder {
    color: #FFFFFF;
}

.button-form {
    @include button-unusual( 16px 0px 20px 0px,
    95%,
    2.5,
    center,
    0,
    0,
    $usual-text,
    $bg-primary,
    20px,
    border-box);
}
