<div class="container">
    <div class="column">
        <p class="title-form">Registro como abogado</p>
        <div class="slide-form">
            <p class="text-slide">Abogado independiente</p>
            <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
            <p class="text-slide">Bufete</p>
        </div>
        <div class="column" *ngIf="!isChecked else buffett">
            <form class="form-register" [formGroup]="formLawyer" (ngSubmit)="register()" autocomplete="off">
                <input class="input-form" type="text" [class.is-invalid]="nameField" formControlName="name" placeholder="Nombres*">
                <input class="input-form" type="text" [class.is-invalid]="lastNameField" formControlName="lastName" placeholder="Apellidos*">
                <mat-form-field class="input-form" appearance="fill" [class.is-invalid]="typeIdField">
                    <mat-select formControlName="typeId" placeholder="Tipo de documento">
                        <mat-option value="C.C">C.C</mat-option>
                        <mat-option value="Extrajero">Extrajero</mat-option>
                    </mat-select>
                </mat-form-field>
                <input class="input-form" type="number" [class.is-invalid]="idField" formControlName="id" placeholder="Número de documento*">
                <input class="input-form" type="number" [class.is-invalid]="phoneField" formControlName="phone" placeholder="Teléfono">
                <input class="input-form" type="number" [class.is-invalid]="cardIdField" formControlName="cardId" placeholder="Número de tarjeta profesional">

                <app-terms-conditions></app-terms-conditions>
                <button class="button-form">Registrarse</button>
            </form>
        </div>
        <ng-template #buffett>
            <div class="column">
                <form class="form-register" [formGroup]="formBuffett" (ngSubmit)="register()" autocomplete="off">
                    <input class="input-form" [class.is-invalid]="socialReasonField" formControlName="socialReason" type="text" placeholder="Razón social*">
                    <input class="input-form" [class.is-invalid]="NITField" formControlName="NIT" type="text" placeholder="NIT*">
                    <input class="input-form" [class.is-invalid]="officePhoneField" formControlName="officePhone" type="text" placeholder="Teléfono oficina">
                    <input class="input-form" [class.is-invalid]="emailField" formControlName="email" type="text" placeholder="Correo electrónico">
                    <input class="input-form" [class.is-invalid]="addressField" formControlName="address" type="text" placeholder="Dirección">
                    <app-terms-conditions formControlName="acceptTerms" ngDefaultControl></app-terms-conditions>
                    <button class="button-form">Registrarse</button>
                </form>
            </div>
        </ng-template>
    </div>
</div>
