<div class="container">
  <div class="column" *ngFor="let info of mainDataAdvantage">
    <div class="container-info">
      <h1 class="main-title-bl">{{info.title}}</h1>
      <p class="text-l-bl description">{{info.text}}</p>
    </div>
    <ul class="wrap-advantage">
      <li *ngFor="let image of dataAdvantage" class="content-advantage">
        <div class="container-image">
          <img [src]='image.url'   class="image-advantage" alt="advantage_img">
        </div>
        <h3 class="sub-title-or">{{image.title}}</h3>
        <p class="text-m-bl">{{image.text}}</p>
      </li>
    </ul>
  </div>
</div>
