@import "src/assets/scss/basis/index";

.container {
  padding: 6% 10% 0 10%;
  background: $usual-text;
  width: 100%;
  height: auto;
}
.container-image {
  width: 100%;
  height: 207px;
}

.content-advantage {
  margin: 0 0 3.5rem 0;
}

.column {
  @include size-content(flex, column, center, center);
  text-align: center;
}

.image-advantage {
  width: 100%;
  height: 100%;
}

.wrap-advantage {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
  justify-content: center;
}

.container-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

// Medias Query
@media screen and (orientation: landscape) {
  .content-advantage {
    width: 152px;
  }

  .container-title {
    width: 100%;
    height: 54px;
  }

  .wrap-advantage {
    justify-content: space-between;
  }
}

@media (min-width: $breakpoint-tablet) {
  .sub-title-or {
    height: 18%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .container {
    padding: 3% 6%;
  }

  .content-advantage {
    width: 30%;
    margin-top: 36px;
    margin-bottom: 0;
  }

  .container-title {
    width: 100%;
    height: 28px;
  }

  .wrap-advantage {
    justify-content: space-between;
  }

  .text-l-bl {
    width: 61%;
  }
}

@media (min-width: $breakpoint-desktop) {


  .wrap-advantage {
    margin: 2rem -3rem;
  }
}

@media (min-width: $breakpoint-desktop-full-hd) {
  .container {
    padding: 3% 6%;
  }
  .wrap-advantage {
    margin: 2rem -3rem;
  }

  .wrap-advantage {
    justify-content: space-between;
  }
}

@media (width: 568px) and (orientation: landscape) {
  .content-advantage {
    width: 129px;
  }

  .wrap-advantage {
    justify-content: space-between;
  }
}
