<div #home class="home">
<app-hero-lawyer></app-hero-lawyer>
<app-test></app-test>
<app-advantage [mainDataAdvantage]="mainDataAdvantage" [dataAdvantage]="dataAdvantage" [role]="'lawyer'"></app-advantage>
<app-how-it-work></app-how-it-work>
<app-tools-lawyer></app-tools-lawyer>
<app-plans></app-plans>
<app-indicators [indicators]="indicators" [role]="'lawyer'"></app-indicators>
<app-download-app></app-download-app>
<app-last-news></app-last-news>
<app-newsletter></app-newsletter>
<app-footer></app-footer>
</div>
