<div class="title-container">
   
</div>
<div class="pokemon-container">
    <div class="pokemons" *ngFor="let pokemon of pokemons">
        <div class="pokemon-name">{{pokemon.name}}</div>
        <div class=pokemon-pic>
            <img class="pokemon-img" [src]="pokemon.pic" alt="">
        </div>
    </div>
</div>
