.title-container{    
    height: 80px;      
}
.input-container{
    width: 35%;
    margin: auto;    
    margin-bottom: 10px;
}
.buttons-container{    
    width: 35%;
    margin: auto;
    button{
        background: rgb(0, 153, 255);
        border: none;
        border-radius: 7px;
        color:white;
        padding: 5px 10px;
        cursor: pointer;
        margin-right: 15px;
    }
    button:hover{
        background-color: blue;
    }
}
.pokemon-container{    
    width: 35%;    
    margin: auto;   
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-auto-rows: minmax((20px,100px));
    gap:20px;
    padding: 10px; 
}
.pokemons{   
    border: 1px solid black; 
    .pokemon-name{   
        background-color: rgb(209, 223, 228);             
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    .pokemon-pic{        
        height: 80%;
        .pokemon-img{
            width: 100%;
            height: 100%;
        }
    }    
}