<div class="filter-container">
  <button mat-button class="filter-btn text-b-bl">filtrar por
    <span class="filter-btn-svg" [inlineSVG]="'../../../../assets/svg/icons/filter.svg'" [removeSVGAttributes]="['fill']"
         [setSVGAttributes]="{fill:'#07324f', width:'20px',height:'20px'}"></span>
  </button>
<!--  section to filter by virtual consilting-->
  <div class="filter">
    <form class="form-bl" autocomplete="off" [formGroup]="form">
      <div class="filter-virtual">
        <mat-radio-group
          formControlName="virtualConsulting">
          <mat-radio-button  value="true"><p class="text-b-bl">Asesoría Virtual</p> </mat-radio-button>
        </mat-radio-group>
      </div>
<!--      section to filter by payment methods-->
      <div class="filter-section">
        <p class="text-b-bl">Pago en línea</p>
        <mat-radio-group
          formControlName="payMethod">
          <mat-radio-button class="text-m-bl" *ngFor="let method of payMethods" [value]="method.value">
            {{method.label}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
<!--      section to filter by rating-->
      <div class="filter-section">
        <p class="text-b-bl">Calificación</p>
        <mat-radio-group
          formControlName="score">
          <mat-radio-button class="display-score" *ngFor="let score of score" [value]="score">
            <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                      [removeSVGAttributes]="['fill']"
                      [setSVGAttributes]="{width:'26px', height:'26px'}"
                      [ngClass]="score >= 1 ? 'or-star':'gy-star'" >
            </mat-icon>
            <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                      [removeSVGAttributes]="['fill']"
                      [setSVGAttributes]="{width:'26px', height:'26px'}"
                      [ngClass]="score >= 2 ? 'or-star':'gy-star'" >
            </mat-icon>
            <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                      [removeSVGAttributes]="['fill']"
                      [setSVGAttributes]="{width:'26px', height:'26px'}"
                      [ngClass]="score >= 3 ? 'or-star':'gy-star'" >
            </mat-icon>
            <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                      [removeSVGAttributes]="['fill']"
                      [setSVGAttributes]="{width:'26px', height:'26px'}"
                      [ngClass]="score >= 4 ? 'or-star':'gy-star'" >
            </mat-icon>
            <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                      [removeSVGAttributes]="['fill']"
                      [setSVGAttributes]="{width:'26px', height:'26px'}"
                      [ngClass]="score >= 5 ? 'or-star':'gy-star'" >
            </mat-icon>
          </mat-radio-button>
        </mat-radio-group>
      </div>
<!--      section to filter by price-->
      <div class="filter-section">
        <p class="text-b-bl">Precio</p>
        <div class="filter-section sub-form">
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="Desde COP" class="input-control"
                   [class.is-invalid]="invalidField('from')"
                   formControlName="from">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input matInput type="text" placeholder="Hasta COP" class="input-control"
                   [class.is-invalid]="invalidField('to')"
                   formControlName="to">
          </mat-form-field>
          <button type="submit" mat-button class="main-button-or-100" routerLink="/inicio/cliente/perfil-profesional">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>



