@import "./src/assets/scss/basis/index";

.filter-container {
  width: 100%;
  //height: auto;
 // min-height: 100%;
  position: relative;
  top: 3.5rem;

  .filter-btn {
    @extend .flex-center;
    width: 100%;
    height: 2.8rem;
    margin-bottom: 0.2rem;
    background-color: $bg-white-bone;
   &-svg {
     margin-left: 7%;
   }
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: $bg-white-bone;
  padding: 7% 10%;
  width: 100%;
  height: calc(100% - 2.8rem);

  &-section {
    width: 100%;
    margin-top: 5%;

    .text-b-bl {
      margin: 0 0 1rem 2.2rem;
    }
    &.sub-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-virtual {
    width: 100%;
  }
}

.main-button-or-100 {
  margin-bottom: 0;
  max-width: 34rem;
}

.display-score {
  display: flex;
  justify-content: space-between;

}

:host::ng-deep {
  .mat-radio-label-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mat-radio-label {
    margin: 0.4rem 0;
  }
  .mat-radio-container {
    width: 28px;
    height: 28px;
  }
  .mat-radio-outer-circle {
    width: 28px;
    height: 28px;
    border:1px solid $second-text;
    background-color: $usual-text;
  }
  .mat-radio-inner-circle {
    width: 100%;
    height: 100%;
    transform: scale(0.0000001);
  }
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $border-input;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $bg-second;
  }
}

:host::ng-deep.mat-icon {
  display: flex;
  align-self: baseline;
}

@media (min-width: 600px) {
  .filter-container {
    top: 4rem;
  }
}
