@import "src/assets/scss/basis/index";
.content {
background-image: url(../../../../assets/png/blog/background-blog-main-smtp.png);
background-repeat: no-repeat;
background-size: contain;
height: auto;
min-height: 100%;
margin: 0 0 5% 0;
}
.top {
  @include size-content(flex, column, center, center);
  margin: 0 0 8% 0;
}
.title {
  margin: 33% 0 15% 0;
  text-align: center;
  color: $primary-text;
}
.container {
  @include size-content(flex, column, center, center);
  width: 100%;
}
.column {
  width: 80%;
}
.input-form {
  @include button-unusual(
    0 0 20px 0,
    100%,
    2.7,
    left,
    0,
    1px solid $bg-second,
    $primary-text,
    $bg-usual,
    20px,
    border-box
  );
  padding: 0 5px 0 20px;
  &::placeholder {
    color: $primary-text;
  }
  &:focus::placeholder {
    color: transparent;
  }
}
.buttons-container{
  width: 100%;
}
:host ::ng-deep {
  .mat-select-placeholder {
    color: $primary-text;
  }
  .mat-select-arrow-wrapper {
    position: relative;
    right: 3%;
  }
  .mat-select-arrow {
    color: $primary-text;
  }
  .mat-select-value-text {
    color: $primary-text;
  }
}
//media queries portrait
@media (min-width: 430px) {
  .column {
    width: 70%;
  }
}
@media (min-width: 600px) {
  .column {
    width: 60%;
  }
}
//media queries landscape
@media (orientation:landscape) {
  .sub-top {
    margin: 4% 0 0 0;
  }
 }
//media queries web/tablet
@media (min-width: $breakpoint-tablet) {
   .title {
    margin: 49% 0 15% 0;
   }
  .column {
    width: 50%;
  }
}
@media (min-width: $breakpoint-desktop-usual) {
  .content {
    background-image: url("../../../../assets/png/blog/background-blog-main-desktop.png");
  }
 .top {
    align-items: flex-end;
    justify-content: center;
  }
  .sub-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 59%;
    margin: 12% 6% 0 0;
  }
  .column {
    width: 90%;
  }
  .container-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 46.4%;
  }
  .title {
   margin: 0 0 0 0 ;
   width: 43.8%;
  }
  .input-form {
    width: 48%;
    font-size: 13px;
    margin:0 0 0 0;
    line-height: 2;
  }
}
@media (min-width: $breakpoint-desktop-square) {
  .title {
    font-size: 40px;
  }
}
@media (min-width: $breakpoint-desktop-full-hd) {
  .input-form {
    font-size: 22px;
    border-radius: 50px;
  }
  .title {
    font-size: 60px;
  }
}
@media (min-width: $breakpoint-desktop-2k) {
  .input-form {
    font-size: 28px;
    border-radius: 50px;
  }
  .title {
    font-size: 70px;
  }
}
