@import "src/assets/scss/basis/index";

.container {
  background: linear-gradient(to bottom, $bg-usual 35%, $bg-newsletter 35%);
  text-align: center;

  .main-title-or {
    margin: 8% 0;
  }

  .last-news {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;

    ::ng-deep.mat-card {
      width: 80%;
      padding: 0;
      background-color: transparent;
      box-shadow: none;

      img {
        width: 100%;
        height: 200px;
        border-radius: 15px 15px 0 0;
      }

      .mat-card-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .sub-title-or {
          padding: 6% 0 0 0;
        }
      }
    }

    .text-m-or {
      margin: 0.5% 0 0 0;
      font-weight: bold;
    }
  }
}

:host ::ng-deep .swiper-pagination {
  bottom: 10px !important;
}

@media (min-width: 428px) and (orientation: portrait) {
  .container {
    .last-news {
      ::ng-deep.mat-card {
        width: 72%;
      }
    }
  }
}

@media (min-width: 500px) and (orientation: portrait) {
  .container {
    .last-news {
      ::ng-deep.mat-card {
        width: 62%;
      }
    }
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }

    .last-news {
      ::ng-deep.mat-card {
        width: 42%;
      }
    }
  }
}


@media (min-width: 718px) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }

    .last-news {
      ::ng-deep.mat-card {
        width: 85%;

        img {
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }
}

@media (min-width: 840px){
  .container {
    .last-news {
      ::ng-deep.mat-card {
        width: 75%;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop-usual) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }

    .last-news {
      ::ng-deep.mat-card {
        width: 90%;
      }
    }
  }
  :host ::ng-deep .swiper-pagination {
    bottom: 1px !important;
  }
}

@media (min-width: $breakpoint-desktop-square) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }

    .last-news {
      ::ng-deep.mat-card {
       width: 80%;
      }
    }
  }
  :host ::ng-deep .swiper-pagination {
    bottom: 1px !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }
    .last-news {
      ::ng-deep.mat-card {
        width: 85%;
      }
    }
  }
  :host ::ng-deep .swiper-pagination {
    bottom: 1px !important;
  }
}


@media (min-width: $breakpoint-desktop-1600) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }
  }
  :host ::ng-deep .swiper-pagination {
    bottom: 1px !important;
  }
}
@media (min-width: 1800px) {
  .container {
    .last-news {
      ::ng-deep.mat-card {
        width: 80%;

        .mat-card-content {
          .title-blog {
            padding: 5% 0 0 0;
          }
        }
      }
    }
  }

}

@media (min-width: $breakpoint-desktop-full-hd) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }
    .last-news {
      ::ng-deep.mat-card {
        .mat-card-content {
          .title-blog {
            padding: 5% 0 0 0;
          }
        }
      }
    }
  }

  :host ::ng-deep .swiper-pagination {
    bottom: 1px !important;
  }
}

@media (min-width: $breakpoint-desktop-2k) {
  .container {
    .main-title-or {
      margin: 4% 0;
    }
  }

  :host ::ng-deep .swiper-pagination {
    bottom: 1px !important;
  }
}
