<div class="container">
  <h2 class="main-title-or">Últimas noticias</h2>
  <!-- Section Last News -->
  <div class="last-news">
    <mat-card>
      <!--          Swiper settings-->
      <app-custom-swiper
        [slidesPerView]="1"
        [spaceBetween]="50"
        [autoplay]="{
              delay: 3500,
              disableOnInteraction: false
            }"
        [pagination]="{
              clickable: true,
              dynamicBullets: true
            }"
        [breakpoints]="{
                '718':{
                    slidesPerView:2,
                    spaceBetween:60
                },
                '1024':{
                    slidesPerView:3,
                    spaceBetween:30
                },
                '1150':{
                    slidesPerView:3,
                    spaceBetween:50
                },
                '1366':{
                    slidesPerView:3,
                    spaceBetween:60
                },
                '1440':{
                    slidesPerView:4,
                    spaceBetween:25
                },
                '1600':{
                    slidesPerView:4,
                    spaceBetween:35
                },
                '1920':{
                    slidesPerView:4,
                    spaceBetween:60
                },
                '2300':{
                    slidesPerView:5,
                    spaceBetween:40
                }
            }"
            class="mySwiper-cards" id="swiper-container">
            <!--              Card content: image and text-->
            <ng-template swiperSlide *ngFor="let blog of blogs">
              <img class="img-blog" [src]="blog.img" alt="">
              <mat-card-content (click)="onClick(blog.id)">
                <h3 class="sub-title-or">{{blog.title}}</h3>
                <div class="container-p-card">
                  <p class="text-l-bl card-content">{{blog.description}}</p>
                </div>
              </mat-card-content>
            </ng-template>
          </app-custom-swiper>
        </mat-card>
        <a class="text-m-or" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="link-active" routerLink="blogs" >Ver más</a>
    </div>
</div>
