@import "src/assets/scss/basis/index";

.container {
  @include section-catalogue;
}

.column-description-l {
  @include column-catalogue(86%);
  border-radius: 10px;
}

.title-profile {
  padding: 0 17px !important;

}

.profile-description {
  padding: 17px;
}

.wrap {
  padding: 17px 17px 0 17px;
}

.title-areas, .container-hidden {
  padding: 0 17px !important;
  margin: 0;
}

.text-description {
  word-wrap: break-word;
}

.container-item {
  display: flex;
  align-items: center;

  .icon-area {
    width: 20%;
    margin-right: 15px;
  }

  p {
    word-break: break-word;
    width: 80%;
  }
}

.text-second {
  display: none;
}

.areas-desktop {
  display: none;
}

// change styles expansion panel
:host ::ng-deep {
  @include mat-expansion-panel;
}

// styles button down of the expansion panel
:host ::ng-deep {
  @include button-more-view;
}

@media (min-width: $breakpoint-tablet) {
  .profile-description, .wrap {
    padding: 35px;
  }
  .column-description-l {
    @include column-catalogue(80%);

  }
  .title-profile {
    padding: 35px 35px 0 35px !important;
    margin: 0;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .text-second {
    display: initial;
  }
  .areas-desktop {
    display: flex;
  }
  :host ::ng-deep mat-accordion {
    display: none;
  }
  .title-areas {
    padding: 0 35px !important;
  }
  .container-item {
    width: calc(50% - 17.2px);
  }
}

@media (min-width: $breakpoint-desktop-square) {
  .container-item {
    width: calc(40% - 17.2px);;
  }
  .wrap {
    justify-content: flex-start;
  }
}
