<div class="container">
  <div class="column-description-l">
    <h4 class="small-sub-title-bl title-profile">Perfil</h4>
    <div class="profile-description">
      <!--          main view expansion panel hidden-->
      <div class="small-text-m-bl text-description" *ngFor="let data of descriptionLawyer">
      {{data.description}} <span class="text-second">{{union}}</span>
      </div>
      <mat-accordion>
        <!--            actions expansion panel hidden/ show more text of the description -->
        <mat-expansion-panel hideToggle class="view-more" (closed)="panelOpenState = false" (opened)="panelOpenState = true">
          <mat-expansion-panel-header>
            <mat-panel-title class="section title">
              <p class="button-view small-text-m-bl" *ngIf="!panelOpenState">...ver más</p>
              <p class="button-view small-text-m-bl" *ngIf="panelOpenState">...ver menos</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--              more text description-->
          <div class="small-text-m-bl text-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum fugiat inventore nisi optio recusandae? A alias ea libero pariatur repellat!
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      </div>
<!--    areas practices-->
    <h4 class="small-sub-title-bl title-areas">Áreas de practica</h4>
    <div class="wrap">

        <div class="container-item" *ngFor="let area of area">
          <div class="icon-area" [inlineSVG]="area.icon" [setSVGAttributes]="{width:'100%', height:'100%'}"></div>
          <p class="text-l-bl">{{area.name}}</p>
        </div>
      <div class="container-item areas-desktop" *ngFor="let area of area">
    <div class="icon-area" [inlineSVG]="area.icon" [setSVGAttributes]="{width:'100%', height:'100%'}"></div>
      <p class="text-l-bl">{{area.name}}</p>
      </div>
    </div>

    <mat-accordion>
      <!--          show more cards when I have more areas-->
      <mat-expansion-panel hideToggle (closed)="panelOpenStateAreas = false" (opened)="panelOpenStateAreas = true">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-b-bl" *ngIf="!panelOpenStateAreas">
            Mostrar más
          </mat-panel-title>
          <mat-panel-title class="text-b-bl" *ngIf="panelOpenStateAreas">
            Mostrar menos
          </mat-panel-title>
        </mat-expansion-panel-header>
<!--        view more areas practices-->
        <div class="container-hidden">
          <div class="areas-practices" *ngFor="let area of area">
            <div class="container-item">
              <div class="icon-area" [inlineSVG]="area.icon" [setSVGAttributes]="{width:'100%', height:'100%'}"></div>
              <p class="text-l-bl">{{area.name}}</p>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    </div>
  </div>
