<div class="container" id="services">
    <div class="column">
        <h1 class="main-title-or title-column">Servicios legales</h1>
        <p class="text-l-wh description-column">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A pariatur vitae voluptates voluptate eum deserunt magni culpa numquam praesentium provident, voluptatum alias officiis dicta est veniam placeat, voluptatibus sunt. Molestiae.</p>
        <ul class="wrap-cards">
            <li class="container-card" *ngFor="let card of data">
                <img class="image-card" [src]="card.background" alt="background_card">
                <div class="content-card" (click)="openDialog(card.id)">
                    <div class="icon-content" [inlineSVG]="card.icon" [removeSVGAttributes]="['clip-path','filter']" [setSVGAttributes]="{width: '100%'}"></div>
                    <p class="title-content text-b-or"> {{card.title | titlecase}}</p>
                    <svg width="60" height="59" viewBox="0 0 60 59" fill="none" xmlns="http://www.w3.org/2000/svg" class="button-content">
                     <path id="button-color" d="M53.7752 23.3584H36.1383V6.34035C36.1383 3.00348 33.3718 0.333984 29.9135 0.333984C26.4553 0.333984 23.6888 3.00348 23.6888 6.34035V23.3584H6.22478C2.76657 23.3584 0 26.0279 0 29.3648C0 32.7016 2.76657 35.3711 6.22478 35.3711H23.8617V52.3892C23.8617 55.7261 26.6282 58.3956 30.0865 58.3956C33.5447 58.3956 36.3112 55.7261 36.3112 52.3892V35.2043H53.9481C57.4063 35.2043 60.1729 32.5348 60.1729 29.1979C60 26.0279 57.2334 23.3584 53.7752 23.3584Z" fill=" #FFFFFF"/>
                    </svg>
                </div>
            </li>
        </ul>
    </div>
</div>
