@import 'src/assets/scss/basis/index';
.container {
    padding-bottom: 40px;
    margin: 0;
    background: $bg-second;
    width: 100%;
}

.container-card {
    display: flex;
    width: inherit;
    box-shadow: -2px 0px 1px $bg-blue-dark-light;
    border-radius: 17px;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    @include size-content(flex, column, center, center);
    margin: $margin-sides;
    text-align: center;
}

.title-column {
  margin: 50px 0 7.5px 0;
}

.description-column {
  margin: 7.5px 0 15px 0;
}

.image-card {
    width: inherit;
    display: block;
    position: relative;
    opacity: 1.5;
    border-radius: 17px;
}

.content-card {
    width: 69%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    gap: 34px;
}

.icon-content {
    width: 17%;
}

.button-content {
    width: 8%;
}

#button-color:hover {
    fill: $primary-text;
}

.title-content {
    width: 43%;
  margin: 0;
    text-align: initial;
}

// Desktop
.wrap-cards {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}

@media (min-width: $breakpoint-tablet) {
    .container {
        padding: 0;
    }
    .column {
        margin: 0;
    }
    .description-column {
        margin: 0 0 40px 0;
    }
    .container-card {
        min-width: 12%;
        max-width: 33.3%;
        height: 156px;
        border-radius: 0;
        margin-bottom: 0;
    }
    .image-card {
        border-radius: 0;
        height: inherit;
        width: inherit;
    }
    .content-card {
        width: 25%;
        cursor: pointer;
        justify-content: start;
        gap: 15%;
        margin-left: 34px;
    }
    .button-content {
        display: none;
    }
    .title-content {
        text-align: start;
      width: 26%;
    }
    .icon-content {
      width: 26%;
    }
}

@media (min-width: $breakpoint-desktop-usual) {
    .container-card {
        height: 178px;
    }
    .description-column {
      width: 50%;
    }
    .icon-content {
      width: 23%;
    }
}

@media (min-width: $breakpoint-desktop-square) {
    .container-card {
        height: 260px;
    }
}

@media (min-width: $breakpoint-desktop-full-hd) {
    .content-card {
        width: 26%;
    }
    .container-card {
        height: 400px;
    }
}
