@import "src/assets/scss/basis/_index.scss";

.card-container {
  width: 100%;
  height: fit-content;
  border: 1px gray solid;
}

.classes-container {
  padding: 2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dark {
  background: #07324f
}

.auxiliary {
  background: #07324f;
  width: 3rem;
  height: 3rem;
  margin: 1rem;

  &-sub {
    background: #89d689;
    width: 1rem;
    height: 1rem
  }
}

.big-box {
  width: 500px;
  max-width: 100%;
  height: 4rem;
  border: #07324f 1px solid;
  padding: 1rem 1rem 0 1rem;
}

.box {
  width: 300px;
  height: 4rem;
  border: #07324f 1px solid;
  padding: 1rem 1rem 0 1rem;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

/* Opera/IE 8+ */
.form-wh {
  flex-wrap: wrap;
  padding: 1rem;
  background: #02395E;
}

.form-bl {
  flex-wrap: wrap;
  padding: 1rem;
}


.fourth {
  max-width: 430px;

  ::ng-deep {
    .lawyer-card {
      padding: 17px !important;
    }

    .main-title-bl {
      display: none !important;
    }

    .text-b-bl {
      display: flex !important;
    }

    .contact-info {
      display: none !important;
    }

    .score {
      margin: 0.4rem 0 !important;
    }
  }

}

.third {

  ::ng-deep.small-text-m-bl {
    font-family: brandingSemiLight, serif !important;
  }
}

@media (min-width: 500px) {
  .card-container {
    width: 83%;
  }
  .first {
    ::ng-deep {
      .lawyer-card {
        padding: 35px !important;
      }

      .lawyer-avatar {
        margin-right: 35px;
      }

    }
  }
  .second {
    width: 63%;

    ::ng-deep {
      .lawyer-card {
        padding: 17px 35px !important;
      }

      .img-actions {
        height: 20px;
        width: 20px;
      }
    }

  }
  .third {
    width: 24%;
    max-width: 303px;

    ::ng-deep {
      .lawyer-card {
        padding: 12px 17px !important;
        flex-wrap: wrap;
      }

      .img-actions {
        height: 20px;
        width: 20px;
      }

      .lawyer-score {
        flex-wrap: wrap;
      }

      .score {
        margin: 0.4rem 0 !important;
      }

      .lawyer-avatar {
        margin-right: 1rem;
      }

      .lawyer-description {
        margin-top: 0.5rem;

        .small-text-m-wh {
          margin-top: 0.5rem;
        }
      }
    }
  }
  .fourth {
    max-width: 344px;

    ::ng-deep {
      .lawyer-avatar {
        min-width: 111px;
      }
    }
  }

}
