<div class="classes-container">
  <div class="main-title">Tamaños y colores</div>
  <br>
  <div class="big-title">.big-title |h1</div>
  <div class="big-title-bl">.big-title-bl </div>
  <div class="big-title-or">.big-title-or </div>
  <div class="big-title-wh dark">.big-title-wh </div>
  <div class="big-title-inactive dark">.big-title-inactive </div>
  <div class="big-title-bl-shadow dark"> .big-title-bl-shadow: Para el título en azul se puede añadir una sombra</div>

  <br>
  <div class="main-title">.main-title |h2</div>
  <div class="main-title-bl">.main-title-bl </div>
  <div class="main-title-or">.main-title-or </div>
  <div class="main-title-wh dark">.main-title-wh </div>
  <div class="main-title-inactive  dark">.main-title-inactive </div>
  <br>
  <div class="sub-title">.sub-title |h3</div>
  <div class="sub-title-bl">.sub-title-bl </div>
  <div class="sub-title-or">.sub-title-or </div>
  <div class="sub-title-wh dark">.sub-title-wh </div>
  <div class="sub-title-inactive  dark">.sub-title-inactive </div>
  <br>
  <div class="small-sub-title">.small-sub-title |h4</div>
  <div class="small-sub-title-bl">.small-sub-title-bl </div>
  <div class="small-sub-title-or">.small-sub-title-or </div>
  <div class="small-sub-title-wh dark">.small-sub-title-wh </div>
  <div class="small-sub-title-inactive  dark">.small-sub-title-inactive </div>
  <br>
  <div class="text-m">.text-m |p</div>
  <div class="text-m-bl">.text-m-bl </div>
  <div class="text-m-or">.text-m-or </div>
  <div class="text-m-wh dark">.text-m-wh </div>
  <div class="text-m-inactive  dark">.text-m-inactive </div>

  <br>
  <div class="text-l">.text-l |p</div>
  <div class="text-l-bl">.text-l-bl </div>
  <div class="text-l-or">.text-l-or </div>
  <div class="text-l-wh dark">.text-l-wh </div>
  <div class="text-l-inactive  dark">.text-l-inactive </div>
  <br>
  <div class="text-b">.text-b |p</div>
  <div class="text-b-bl">.text-b-bl </div>
  <div class="text-b-or">.text-b-or </div>
  <div class="text-b-wh dark">.text-b-wh </div>
  <div class="text-b-inactive  dark">.text-b-inactive </div>
  <br>
  <div class="small-text-m">.small-text-m |p</div>
  <div class="small-text-m-bl">.small-text-m-bl </div>
  <div class="small-text-m-or">.small-text-m-or </div>
  <div class="small-text-m-wh dark">.small-text-m-wh </div>
  <div class="small-text-m-inactive  dark">.small-text-m-inactive </div>

  <br>
  <div class="small-text-l">.small-text-l |p</div>
  <div class="small-text-l-bl">.small-text-l-bl </div>
  <div class="small-text-l-or">.small-text-l-or </div>
  <div class="small-text-l-wh dark">.small-text-l-wh </div>
  <div class="small-text-l-inactive  dark">.small-text-l-inactive </div>
  <br>
  <div class="small-text-b">.small-text-b |p</div>
  <div class="small-text-b-bl">.small-text-b-bl </div>
  <div class="small-text-b-or">.small-text-b-or </div>
  <div class="small-text-b-wh dark">.small-text-b-wh </div>
  <div class="small-text-b-inactive  dark">.small-text-b-inactive </div>
  <br>
  <div class="smaller-text-b">.smaller-text-b |p</div>
  <div class="smaller-text-b-bl">.smaller-text-b-bl </div>
  <div class="smaller-text-b-or">.smaller-text-b-or </div>
  <div class="smaller-text-b-wh dark">.smaller-text-b-wh </div>
  <div class="smaller-text-b-inactive  dark">.smaller-text-b-inactive </div>
  <br>
  <div class="main-title">Posicionamiento general</div>
  <div class="text-m">.flex-center : Posiciona en el centro tanto vertical como horizontalmente (si se van a añadir
    más propiedades no añadir directamente al html, usar @extend
  </div>
  <div class="flex-center auxiliary">
    <div class="auxiliary-sub"></div>
  </div>
  <br>
  <!--FORMS-->
  <div class="main-title">Formularios</div>
  <div class="sub-title">Botones</div>
  <div class="text-m">.basis-button: no olvidar usar la directiva mat-button
    <br> ejemplo: &lt;button <strong> mat-button </strong> class="basis-button">Enviar &lt;/button&gt;
  </div>
  <button mat-button class="basis-button">Enviar</button>
  <br>
  <div class="text-m">.main-button: Se ajusta al contenido más un espacio hacia los lados de 1 rem. Tiene un máximo
    de 15rem y un margin superior e inferior de 1rem
    <br>
    Se puede añadir diferenciador de color -or, -bl o -wh seguido de -100 o -80 dependiendo del porcentaje de ajuste que
    se nececita con respecto al contenedor. Tener en cuenta que en los casos de ejemplo el contenedor tiene padding de 1
    rem<br>
    Tener en cuenta que siempre el botón tendrá un maximo de 15 rem y un mínimo del contenido más el espacio en
    laterales de padding.
  </div>
  <br>
  <div class="text-m"> .main-button</div>
  <div class="flex-center big-box">
    <button mat-button class="main-button">Enviar</button>
  </div>
  <div class="text-m"> .main-button-or-85</div>
  <div class="big-box flex-center">
    <button mat-button class="main-button-or-85" (click)="warningToaster()">Warning</button>
  </div>
  <div class="text-m">.main-button-or-85</div>
  <div class="box flex-center">
    <button mat-button class="main-button-or-85" (click)="infoToaster()">Info</button>
  </div>
  <div class="text-m">.main-button-bl-100</div>
  <div class="box flex-center">
    <button mat-button class="main-button-bl-100" (click)="errorToaster()">Error</button>
  </div>
  <div class="text-m">.main-button-wh-100</div>
  <div class="box flex-center">
    <button mat-button class="main-button-wh-100" (click)="successToaster()">Success</button>
  </div>
  <br>
  <div class="sub-title">Input</div>
  <form class="form-wh flex-center" autocomplete="off" [formGroup]="form" (ngSubmit)="turnOnLoading2()">
    <mat-form-field appearance="fill">
      <input matInput type="text" placeholder="Nombre" class="input-control" [class.is-invalid]="invalidField('first')"
             formControlName="first">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput type="text" placeholder="Apellido" class="input-control"
             [class.is-invalid]="invalidField('second')" formControlName="second">
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="never">
      <mat-select class="input-control " placeholder="Tipo de documento" formControlName="selector"
                  [class.is-invalid]="invalidField('selector')">
        <mat-option *ngFor="let type of ['CC cédula de ciudadanía', 'CC cédula de extrangería']"
                    [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="never"  class="input-control text-area-container " [class.is-invalid]="invalidField('textArea')">
      <textarea placeholder="text area" matInput formControlName="textArea" class="text-area"></textarea>
    </mat-form-field>
    <button type="submit" mat-button class="main-button-or-85">Iniciar sesión</button>
  </form>

  <form class="form-bl flex-center" autocomplete="off" [formGroup]="form2" [appLoading]="isLoading"
        (ngSubmit)="turnOnLoading()">

    <mat-form-field appearance="fill">
      <input matInput type="text" placeholder="Nombre" class="input-control" [class.is-invalid]="invalidField2('test')"
             formControlName="test">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput type="text" placeholder="Apellido" class="input-control"
             [class.is-invalid]="invalidField2('secondT')" formControlName="secondT">
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="never">
      <mat-select class="input-control " placeholder="Tipo de documento" formControlName="selectorT"
                  [class.is-invalid]="invalidField2('selectorT')">
        <mat-option *ngFor="let type of ['CC cédula de ciudadanía', 'CC cédula de extrangería']"
                    [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="never"  class="input-control text-area-container " [class.is-invalid]="invalidField2('textAreaT')">
      <textarea placeholder="text area" matInput formControlName="textAreaT" class="text-area"></textarea>
    </mat-form-field>

    <button type="submit" mat-button class="main-button-or-85">Iniciar sesión</button>
  </form>

  <div class="input"></div>
  <!-- lawyer-card-->
  <div class="main-title">Componente reutilizable del abogado.</div>
  <div class="card-container first">
    <app-lawyer-card [lawyer]="lawyer" [options]="options1"></app-lawyer-card>
  </div>
  <div class="card-container second ">
    <app-lawyer-card [lawyer]="lawyer" [options]="options2"></app-lawyer-card>
  </div>
  <div class="card-container third">
    <app-lawyer-card [lawyer]="lawyer2" [options]="options3"></app-lawyer-card>
  </div>
  <div class="card-container fourth">
    <app-lawyer-card [lawyer]="lawyer" [options]="options4"></app-lawyer-card>
  </div>
</div>
