<div class="container" *ngIf="lastNews">
    <mat-card *ngFor="let lastNew of lastNews | paginate:pageSize:pageNumber" (click)="onClick(lastNew.id)">
        <img class="img-blog" [src]="lastNew.img" alt="">
        <mat-card-content>
            <h3 class="sub-title-or">{{lastNew.title}}</h3>
          <div class="container-p-card">
            <p class="text-l-bl card-content">{{lastNew.description}}</p>
          </div>
        </mat-card-content>
    </mat-card>
</div>
