@import "src/assets/scss/basis/index";

.container {
  height: auto;
  text-align: center;
  ::ng-deep.mat-card {
    width: 100%;
    padding: 0;
    margin: 0  0 11% 0;
    border-radius: 13px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4) !important;
    .img-blog {
      width: 100%;
      height: 50%;
      border-top-left-radius: 13px;
      border-top-right-radius: 13px;
    }
    img {
      width: 100%;
    }
    ::ng-deep .mat-card-content {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    ::ng-deep .mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
      margin-bottom: 15%;
    }
    .sub-title-or {
      padding: 6% 0 0 0;
    }
  }
}
// Media queries tablet/web
@media (min-width: $breakpoint-tablet) {}
@media (min-width: $breakpoint-desktop-usual) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    ::ng-deep.mat-card {
      width: 28%;
      margin: 0 1% 2%;
    }
    ::ng-deep .mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
      margin-bottom: 0;
    }
  }
}
@media (min-width: $breakpoint-desktop-usual) and (orientation:portrait) {
  .container {
    ::ng-deep.mat-card {
      width: 45%;
    }
  }
  ::ng-deep .mat-card>:last-child:not(.mat-card-footer), .mat-card-content>:last-child:not(.mat-card-footer) {
    margin-bottom: 0%;
  }
}
@media (min-width: $breakpoint-desktop-1440)  {}
@media (min-width: $breakpoint-desktop-full-hd) {}
@media (min-width: $breakpoint-desktop-2k) {}

