@import "src/assets/scss/basis/index";
.container {
  background-image: url("../../../../assets/img/indicators/Imagen_contador3.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  .content-indicators {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: calc((100% - 4rem) / 4);
    min-width: 321px;
    height: fit-content;
    margin-bottom: 3rem;
    .indicator-wrapper {
      display: flex;
      align-content: center;
      justify-content: center;
      width: 38%;
      max-width: 10rem;
    }
    .img-indicator {
      width: 100%;
      max-height: 12rem;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    background-image: url("../../../../assets/img/indicators/contador_dektop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .column {
    flex-direction: row !important;
  }

  .indicator-wrapper {
    width: 32% !important;
  }
}

@media (min-width: $breakpoint-desktop-usual) {
  .container {
    background-image: url("../../../../assets/img/indicators/contador_dektop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content-indicators {
    min-width: 240px !important;
    margin: 5% 0 !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    background-image: url("../../../../assets/img/indicators/contador_dektop.png");
    background-size: 100%;
  }

  .column {
    flex-direction: row !important;
  }

  .content-indicators {
    min-width: 325px !important;
    margin: 5% 0 !important;
  }
}
