<div class="container">
  <!-- Section Indicators -->
  <div class="content-indicators" *ngFor="let indicator of indicators">
    <div class="indicator-wrapper">
      <img class="img-indicator" [src]="indicator.img" alt="">
    </div>
    <h2 class="sub-title-or">{{indicator.name}}</h2>
    <p class="big-title-bl">{{indicator.count}}</p>
  </div>
</div>
