<div class="container">
  <div class="column">
    <div class="card">
      <mat-accordion>
        <mat-expansion-panel disabled hideToggle [expanded]="!shrinkScroll" >
          <mat-expansion-panel-header [@fadeInOnEnter] >
            <!--            view hidden panel header scroll down-->
            <mat-panel-title *ngIf="shrinkScroll" [@fadeInOnEnter]>
              <p class="text-b-bl name-scroll">Oscar Mauricio Peña Escobar</p>
              <div class="container-options">
                <div [inlineSVG]="'../../../assets/svg/icons/icon-phone.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions"></div>
                <div [inlineSVG]="'../../../assets/svg/icons/calendar.svg'" [removeSVGAttributes]="['clip-path']" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions" (click)="calendar()"></div>
                <div [inlineSVG]="'../../../assets/svg/icons/language.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions"></div>
                <div [inlineSVG]="'../../../assets/svg/icons/icon-message.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions" (click)="message()"></div>
              </div>
            </mat-panel-title>
            <!--            view initial expansion title -->
            <mat-panel-title *ngIf="!shrinkScroll" [@fadeInOnEnter]>
              <div class="container-options">
                <div [inlineSVG]="'../../../assets/svg/icons/icon-phone.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions"></div>
                <div [inlineSVG]="'../../../assets/svg/icons/calendar.svg'" [removeSVGAttributes]="['clip-path']" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions" (click)="calendar()"></div>
                <div [inlineSVG]="'../../../assets/svg/icons/language.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions"></div>
                <div [inlineSVG]="'../../../assets/svg/icons/icon-message.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
                     class="img-actions" (click)="message()"></div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="section" *ngIf="!shrinkScroll" [@fadeInOnEnter]>
            <div class="photo-lawyer" [inlineSVG]="'../../../assets/svg/catalogue-lawyers/photo4.svg'"
                 [setSVGAttributes]="{width: '100%', height: '100%'}"></div>
            <span></span>
            <!--            view scroll top-->
            <div class="data-university">
              <p class="text-b-bl name-lawyer">Oscar Mauricio Peña Escobar</p>
              <p class="small-text-m-bl">Oficina lorem ipsum</p>
              <p class="points-service">
                <input type="radio" name="starts" value="4"><label>★</label>
                <input type="radio" name="starts" value="3"><label>★</label>
                <input type="radio" name="starts" value="2"><label>★</label>
                <input type="radio" name="starts" value="1"><label>★</label>
              </p>
              <p class="small-text-m-bl"> Experiencia <span class="text-b-bl">16 años</span></p>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
