@import "src/assets/scss/basis/index";
.container {
    @include section-catalogue;
}

.column {
    @include column-catalogue(86%);
}

.card {
    text-align: center;
}

// styles different icons
.container-options {
    @include size-content(flex, row, center, center);
    width: 100%;
    margin: 10px 0 19px 0;
    justify-content: space-around;
}

.img-actions {
    width: 9%;
}

.section {
    @include size-content(flex, row, center, center);
    color: $second-text;
    p {
        margin: 0;
        text-align: left;
    }
    .data-university {
        @include size-content(flex, column, flex-start, center);
        width: 60%;
    }
}

.name-scroll {
    text-align: center;
    margin: 18px 0 7px;
}

.name-lawyer {
    margin: 18px 0 7px;
    text-align: start;
}

// rewrite styles to the expansion-panel
:host ::ng-deep {
    .mat-expansion-panel-header[aria-disabled=true] {
        height: auto;
    }
    .mat-expansion-panel-header {
        padding: 0;
    }
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description {
        margin: 0;
        flex-direction: column;
        background-color: white;
    }
    // Change orientation expansion panel (up)
    .mat-expansion-panel {
        display: flex !important;
        flex-direction: column;
        transition: all 2s;
    }
    .mat-expansion-panel-header {
        order: 2;
        transition: all 3s;
    }
    .mat-expansion-panel-body {
        padding: 27px 24px;
    }
    .mat-expansion-panel:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }
    .mat-accordion .mat-expansion-panel:last-of-type {
        border-radius: 20px;
    }
}

.photo-lawyer {
    width: 40%;
    margin-right: 15px;
}

label {
    color: $bg-primary;
    font-size: 29px;
    margin-right: 8px;
}

// Css Starts
.start-last {
    color: #C4C4C4;
}

label {
    color: $bg-primary;
    font-size: 29px;
}

input[type="radio"] {
    display: none;
}

.points-service {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: flex;
    margin: 8px 0 !important;
}
@media (min-width: $breakpoint-tablet){
  .column{
    @include column-catalogue(80%);
  }
}
