@import "src/assets/scss/basis/index";

.main-container {
  padding: 60px 0;
  background-color: $bg-white-bone;
  @extend .flex-center;
  flex-wrap: wrap;
}

.container-catalogue {
  @include section-catalogue;
}

.sticky {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 1;
  background: $bg-white-bone;
}

.absolute {
  position: absolute;
}

.link-return {
  width: 100%;
  padding: 0 15px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
}

.text-link {
  margin: 10px 0;
  width: 92%;
}

:host ::ng-deep .arrow {
  font-size: 35px;
  height: 4%;
  width: 0;
}


// styles navigation
@import "src/assets/scss/basis/index";
.container {
  @include section-catalogue;
  display: none;
}

.wrap {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px -10px;
}

.route-button {
  @extend .small-text-m-bl;
  border-radius: 18px;
  height: 27px;
  border: 1px solid #02395E;
  background-color: $bg-usual;
  box-sizing: content-box;
  font-size: 13px;
  width: calc((100% - 308px) / 8);

  min-width: fit-content;
  padding: 0 0.5rem;
  margin: 0 3.25px 7.5px 3.25px;
}

.route-button:hover {
  background-color: $bg-second;
  color: $usual-text;
}

.lawyer-card-wrapper {
  @include column-catalogue(86%);
  margin-bottom: 7.5px;
  overflow: hidden;
  position: relative;

  .text-b-bl {
    padding: 17px;
    text-align: center;
    margin-bottom: -34px;
  }

  .main-title-bl {
    display: none;
    text-align: start;
    max-width: calc(100% - 287px);

  }
}

.section-wrapper {
  width: 100%;
}

@media (min-width: 500px) {

  .lawyer-card-wrapper {
    .text-b-bl {
      text-align: start;
      position: absolute;
      max-width: calc(100% - 287px);
      height: 100%;
      display: flex;
      align-items: center;
    }

    ::ng-deep {
      .lawyer {
        min-width: 18rem;
      }

      .lawyer-information {
        max-width: 11rem;
      }

      .lawyer-card {
        padding: 35px !important;

      }

      .lawyer-avatar {
        margin-right: 35px;
      }

    }
  }

}

@media(min-width: 730px) {
  .lawyer-card-wrapper {
    .text-b-bl {
      display: none;
    }

    .main-title-bl {
      display: flex;
      position: absolute;
      width: fit-content;
      left: 35px;
      height: 100%;
      align-items: center;
    }

    ::ng-deep {
      .lawyer-information {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .lawyer-card-wrapper {
    margin-top: 13px;
    @include column-catalogue(80%);

  }
  .container {
    display: flex;
  }
}

@media (min-width: $breakpoint-desktop-square) {
  .route-button {
    width: calc((100% - 196px) / 8);
  }
}

@media (max-width: 812px) and (orientation: landscape) {
  .container {
    display: none !important;
  }
}
