<div class="main-container">
  <div class="container-catalogue">

    <div class="link-return">
      <mat-icon class="arrow">arrow_back</mat-icon>
      <p class="sub-title-bl text-link"> Perfil profesional </p>
    </div>
    <div class="sticky">
      <div class="lawyer-card-wrapper">
        <p class="text-b-bl" *ngIf="lawyerOptions.hideInformation" [@fadeInOnEnter]
           [@fadeOutOnLeave]>{{lawyer.name}}</p>
        <p class="main-title-bl " *ngIf="lawyerOptions.hideInformation" [@fadeInOnEnter]
           [@fadeOutOnLeave]>{{lawyer.name}}</p>
        <app-lawyer-card [lawyer]="lawyer" [options]="lawyerOptions"></app-lawyer-card>
      </div>
      <div class="container">
        <div class="wrap">
          <button class="route-button">Perfil</button>
          <button class="route-button">Casos exitosos</button>
          <button class="route-button">Blog</button>
          <button class="route-button">Experiencia</button>
          <button class="route-button">Reseña</button>
          <button class="route-button">Educación</button>
          <button class="route-button">Pagos</button>
          <button class="route-button">Similares</button>
        </div>
      </div>
    </div>

    <div class="section-wrapper" #profile>
      <app-description-lawyer></app-description-lawyer>
    </div>
    <div class="section-wrapper" #successCase>
      <app-successful-cases></app-successful-cases>
    </div>
    <div class="section-wrapper" #experience>
      <app-experience></app-experience>
    </div>
    <div class="section-wrapper" #review>
      <app-review></app-review>
    </div>
    <div class="section-wrapper" #education>
      <app-education></app-education>
    </div>
    <div class="section-wrapper" #pays>
      <app-payments></app-payments>
    </div>
    <div class="section-wrapper" #similar>
      <app-similar-lawyers></app-similar-lawyers>
    </div>
  </div>

</div>
<app-footer></app-footer>

