@import 'src/assets/scss/basis/index';

.white-bg {
  background: $bg-usual;
  color: $second-text;
}

.blue-bg {
  background: $bg-blue-dark-light;

  .text-b-bl,
  .small-text-m-bl {
    color: $usual-text !important;
  }

  .lawyer-desc, .contact-info {
    display: none;
  }

  .lawyer-description {
    display: block;
  }

}

.hide-card {
  height: 0 !important;
  max-height: 0 !important;
}

.lawyer-card {
  width: 100%;
  /*  height: 100%;*/
  padding: calc(1rem + 0.3vw);
  transition: height 0.25s ease-in;
}

.lawyer {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  align-items: center;

  &-information {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .main-title-bl {
      display: none;
      text-align: start;
    }
  }

  &-avatar {
    height: 100%;
    max-width: 35%;
    min-width: 4.5rem;
    margin-right: calc(1rem + 0.3vw);
    max-height: 12.5rem;
    border-radius: 50%;
  }

  &-score {
    width: 100%;

    .score {;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 0.2em 0;
      max-width: calc(9rem + 0.3vw);
    }

  }

}

.lawyer-btn {
  width: 3rem !important;
  height: 2rem !important;
  @extend .flex-center;
  border-radius: 20px;
}

.small-text-m-bl {
  margin: 0;
}

.options-img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}

.lawyer-description {
  margin-top: calc(0.7rem + 0.3vw);

  .small-text-m-wh {
    display: flex;
    margin-top: calc(0.7rem + 0.3vw);
  }
}

.container-options {
  display: flex;
  align-items: center;
  margin: 10px 0 19px 0;
  justify-content: space-around;
}

.img-actions {
  height: 26px;
  width: 26px;
}

.lawyer-desc, .options, .contact-info {
  display: none;
}

.options {
  flex-direction: column;
  height: 100%;
  padding-left: calc(0.7rem + 0.3vw);
  align-items: center;
  margin: auto 0 auto auto;

  .lawyer-btn {
    background: $bg-primary;
    @extend .flex-center;
    height: 33px !important;
    width: 4.65rem !important;
    margin: 0.2rem;
  }

  .options-img {
    height: 23px;
    width: 18px;
    margin-right: 0px;
    fill: $usual-text;
  }
}

.contact-info {
  padding-top: calc(0.7rem + 0.3vw);
  align-items: center;

  .wrap-contact {
    display: flex;
  }

  .small-text-m-bl {
    margin: 0 20px 0 10px !important;
  }

}

@media (max-width: 568px) and (orientation: landscape) {
  .lawyer {
    justify-content: center;
  }
  .lawyer-information {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    min-width: 7rem;
    max-width: 20rem;
  }
  .lawyer-avatar {
    max-width: 23%
  }
}

@media (min-width: 500px) {
  .lawyer-desc, .options, .contact-info {
    display: flex;
  }
  .lawyer-card {
    display: flex;
  }
  .hide-card {
    height: auto !important;
    max-height: 100% !important;

    .options {
      flex-direction: row;
    }
  }

  .container-options, .lawyer-description {
    display: none;
  }
  .lawyer-avatar {
    max-width: 26% !important;
  }
  .score {
    margin: 0.5rem 0 !important;
    max-width: 9.5rem;
  }
  .description {
    .lawyer-avatar {
      max-width: 20% !important;
    }

    .lawyer-score {
      display: flex;
      align-items: center;

      .score {
        margin-right: 2rem !important;
      }
    }
  }

}

@media (min-width: $breakpoint-lower-tablet) {
  .no-description {
    .lawyer-information {
      .text-b-bl {
        display: none;
      }

      .main-title-bl {
        display: flex;
        margin: 0 0 0.2rem 0;
      }
    }

  }

}
