
<div class="lawyer-card" [ngClass]="options?.hideInformation ?('hide-card ' + options?.background) : options?.background" >
  <div class="lawyer" [ngClass]="options?.description  ? 'description': 'no-description'"
       *ngIf="!options?.hideInformation "
       [@fadeInOnEnter] 	[@fadeOutOnLeave] >
    <img class="lawyer-avatar" [hidden]="options?.avatar=== false" [src]=lawyer?.image alt="lawyer-image">
    <div class="lawyer-information">
      <div class="lawyer-info">
        <p class="main-title-bl ">{{lawyer?.name}}</p>
        <p class="text-b-bl ">{{lawyer?.name}}</p>
        <p class="small-text-m-bl" [hidden]="options?.office=== false">{{lawyer?.office}}</p>
      </div>
      <div class="lawyer-score">
        <div class="score">
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'calc(19px + 0.35vw)', height:'calc(19px + 0.35vw)'}"
                    [ngClass]="lawyer?.score >= 1 ? 'or-star':'gy-star'"></mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'calc(19px + 0.35vw)', height:'calc(19px + 0.35vw)'}"
                    [ngClass]="lawyer?.score >= 2 ? 'or-star':'gy-star'"></mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'calc(19px + 0.35vw)', height:'calc(19px + 0.35vw)'}"
                    [ngClass]="lawyer?.score >= 3 ? 'or-star':'gy-star'"></mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'calc(19px + 0.35vw)', height:'calc(19px + 0.35vw)'}"
                    [ngClass]="lawyer?.score >= 4 ? 'or-star':'gy-star'"></mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'calc(19px + 0.35vw)', height:'calc(19px + 0.35vw)'}"
                    [ngClass]="lawyer?.score >= 5 ? 'or-star':'gy-star'"></mat-icon>
        </div>
        <p class="small-text-m-bl">Experiencia
          <strong>{{lawyer?.experience}}{{lawyer?.experience === 1 ? ' año' : ' años'}}</strong></p>
      </div>


      <div class="small-text-m-bl lawyer-desc" *ngIf="options?.description">{{ lawyer?.description}}</div>
      <div class="contact-info">
        <div class="wrap-contact flex-center">
        <div class="img-actions" [inlineSVG]="'../../../assets/svg/icons/icon-phone.svg'"
             [setSVGAttributes]='{width: "100%", height: "100%"}'></div>
        <p class="small-text-m-bl">{{lawyer?.phone}}</p>
        </div>
        <div class="wrap-contact">
        <div class="img-actions" [inlineSVG]="'../../../assets/svg/icons/smartphone-abogado.svg'"
             [setSVGAttributes]='{width: "100%", height: "100%"}'></div>
        <p class="small-text-m-bl">{{lawyer?.cellphone}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--Orange buttons contact options-->
  <div class="options" *ngIf="options.contactOptions">
    <button mat-button class="lawyer-btn">
      <div [inlineSVG]="'../../../assets/svg/icons/calendar-bl.svg'"
           [setSVGAttributes]='{width: "100%", height: "100%"}'
           [removeSVGAttributes]="['fill']"
           class="options-img"></div>
    </button>
    <button mat-button class="lawyer-btn">
      <div [inlineSVG]="'../../../assets/svg/icons/language.svg'"
           [setSVGAttributes]='{width: "100%", height: "100%"}'
           [removeSVGAttributes]="['fill']"
           class="options-img"></div>
    </button>
    <button mat-button class="lawyer-btn">
      <div [inlineSVG]="'../../../assets/svg/icons/icon-message.svg'"
           [setSVGAttributes]='{width: "100%", height: "100%"}'
           [removeSVGAttributes]="['fill']"
           class="options-img"></div>
    </button>
  </div>
  <div class="lawyer-description">
    <div class="small-text-m-bl" *ngIf="options.description">{{lawyer.description}}</div>
    <div class="small-text-m-wh" *ngIf="options.background==='blue-bg'">
      <div [inlineSVG]="'../../../assets/svg/icons/smartphone-abogado.svg'"
           [setSVGAttributes]='{width: "100%", height: "100%"}'
           class="options-img"></div>
      {{lawyer.cellphone}}
    </div>
  </div>

</div>
<!--contact options for mobile-->
<div class="container-options" *ngIf="options.contactOptions">
  <div [inlineSVG]="'../../../assets/svg/icons/icon-phone.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
       class="img-actions"></div>
  <div [inlineSVG]="'../../../assets/svg/icons/calendar.svg'" [removeSVGAttributes]="['clip-path']"
       [setSVGAttributes]='{width: "100%", height: "100%"}'
       class="img-actions" (click)="openDialog('calendar')"></div>
  <div [inlineSVG]="'../../../assets/svg/icons/language.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
       class="img-actions"></div>
  <div [inlineSVG]="'../../../assets/svg/icons/icon-message.svg'" [setSVGAttributes]='{width: "100%", height: "100%"}'
       class="img-actions" (click)="openDialog('message')"></div>
</div>
