<link rel="stylesheet" href="review.component.scss">
<div class="container">
  <div class="column-review">
    <h4 class="small-sub-title title-review">Reseñas</h4>
    <ng-container>
      <div class="section" *ngFor="let review of reviewLawyer | paginate:pageSize:pageNumber">
        <div class="wrap">
        <p class="text-b-bl title-mobile">{{review.title}}</p>
        <!--      start-->
        <div class="display-score">
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'26px', height:'26px'}"
                    [ngClass]="score >= 1 ? 'or-star':'gy-star'">
          </mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'26px', height:'26px'}"
                    [ngClass]="score >= 2 ? 'or-star':'gy-star'">
          </mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'26px', height:'26px'}"
                    [ngClass]="score >= 3 ? 'or-star':'gy-star'">
          </mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'26px', height:'26px'}"
                    [ngClass]="score >= 4 ? 'or-star':'gy-star'">
          </mat-icon>
          <mat-icon [inlineSVG]="'../../../../assets/svg/icons/star.svg'"
                    [removeSVGAttributes]="['fill']"
                    [setSVGAttributes]="{width:'26px', height:'26px'}"
                    [ngClass]="score >= 5 ? 'or-star':'gy-star'">
          </mat-icon>
        </div>
        <p class="small-text-m-bl">{{review.date}}</p>
        </div>
        <div class="wrap-description">
        <p class="text-b-bl title-desktop">{{review.title}}</p>
        <div class="small-text-m-bl description-review">
          {{review.description}}
        </div>
        <mat-accordion>
          <!--            actions expansion panel hidden/ show more text of the description -->
          <mat-expansion-panel hideToggle class="view-more" (opened)="review.state = true"
                               (closed)="review.state = false">
            <mat-expansion-panel-header>
              <mat-panel-title class="section-title">
                <p class="button-view small-text-m-bl" *ngIf="!review.state">...ver más</p>
                <p class="button-view small-text-m-bl" *ngIf="review.state">...ver menos</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!--              more text description-->
            <div class="small-text-m-bl description-review">{{review.description}} </div>
          </mat-expansion-panel>
        </mat-accordion>
        </div>
      </div>
    </ng-container>
    <div class="section-paginate">
      <app-paginator class="paginator-review" [totalItemsCount]="reviewLawyer?.length" [initialPage]="pageNumber" [itemsPerPage]="pageSize"
                     (pageChange)="handlePage($event)" [useRowDirection]="true"></app-paginator>
    </div>
  </div>
</div>
