@import "src/assets/scss/basis/index";

.container {
  @include section-catalogue;
}

.column-review {
  @include column-catalogue(86%);
  .title-review {
    padding: 17px 17px 8.5px 17px;
    text-align: start;
    margin: 0;
  }
}
.section {
  padding: 8.5px 17px;
}
.section-paginate {
  padding: 8.5px 17px 17px 17px;
}
// change styles expansion panel
:host ::ng-deep {
  @include mat-expansion-panel ;
}
// styles button down of the expansion panel
:host ::ng-deep {
  @include button-more-view;
}
.description-review {
  word-break: break-word;
}

// Css Starts
.display-score {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;

  .or-star {
    color: $primary-text;
    width: 28px;
    height: 28px;
    margin-right: 29px;
  }

  .gy-star {
    color: $custom-gray;
    width: 28px;
    height: 28px;
    margin-right: 29px;
  }
}
.title-desktop {
  display: none;
}
@media (min-width: $breakpoint-tablet) {
  .column-review {
    @include column-catalogue(80%);
  }
  .section {
    padding: 17.5px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title-review {
    padding: 35px 35px 17.5px 35px !important;
  }
  .wrap {
    width: calc(35% - 35px);
  }
  .wrap-description {
    width: calc(65% - 17.5px);
  }
  .title-mobile {
    display: none;
  }
  .title-desktop {
    display: initial;
  }
  .display-score, .or-star, .gy-star{
    margin-right: 3px !important;
  }
/*  :host ::ng-deep app-paginator {
    .paginator-row {
      justify-content: end;
    }
  }*/
}

@media (min-width: $breakpoint-desktop-square) {
  .wrap {
    width: calc(26% - 35px);
  }
  .wrap-description {
    width: calc(74% - 35px);
  }
  .display-score, .or-star, .gy-star{
    margin-right: 11px !important;
  }
}
