@import "src/assets/scss/basis/index";

.primary-color {
    color: $primary-text;
}
.container{
    padding-bottom:10%;
}
.form {
    padding: 2% 0 8% 0;
}
.input-control{
    @include button-unusual(5% 0 0 0,
    100%,
    2.7,
    left,
    0,
    1px solid $primary-text,
    $primary-text,
    transparent,
    23px,
    border-box);
    &::placeholder {
        color:$primary-text;
    }
    &.select {
        line-height: 2.85;
    }
}
.subtitle {
    font-size: 1.1em;
    margin: 6% 0;
}
:host::ng-deep {
    .mat-form-field-appearance-fill .mat-form-field-flex {
        border:0;
        margin:0;
        padding: 0;
    }
    .mat-select-placeholder {
        color: $primary-text;
    }
    .mat-select-arrow {
        color: $primary-text;
    }
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: $primary-text
    }
    .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
        transform: translateY(0);
    }
    .mat-select-trigger {
        padding-right: 8%;
        padding-left: 6%;
    }
    .mat-input-element {
        padding: 0 6%;
        //margin: 0 -6px;
    }
}
.container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0;
}
.container-avatar{
    width: 75px;
    height: 75px;
    margin-right: 3%;
    .avatar{
        width: 100%;
        height: 100%;
        border-radius: 70px;
    }
}
.container-text {
    margin: 20px 0 0 0;
    width: 60%;
    .text {
        font-size: 0.9em;
        color: $second-text;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }
}
.subtitles {
    font-size: 1em;
    margin: 6% 0;
}

//Media queries web/tablet
@media (min-width: $breakpoint-desktop-usual) {
  .form {
    display: flex;
    justify-content: space-between;
  }
  .subtitle {
    display: none;
  }
  .container-text {
    .text {
      font-size: 17px;
    }
  }
  .subtitles{
    font-size: 17px;
  }
  .input-control {
    width: 85%;
    line-height: 1.7;
    margin: 5% 0 0 0;
    &.select {
      line-height: 1.7;
    }
  }
  :host::ng-deep {
    .mat-form-field {
      width: 50%;}
  }
}

