<section class="container">
    <form autocomplete="off" class="form">
        <mat-form-field appearance="fill">
            <mat-select class="input-control select" placeholder="Categorias">
                <mat-option *ngFor="let item of categories" [value]="item.name">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <input matInput placeholder="Buscar" class="input-control">
        </mat-form-field>
    </form>
    <span class="subtitle primary-color">Recomendados</span>
    <ng-container *ngFor="let blog of otherBlogs | paginate:pageSize:pageNumber">
        <div class="container-flex">
            <div mat-card-avatar class="container-avatar">
                <img class="avatar" [src]="blog.photoProfile" alt="">
            </div>
            <div class="container-text">
                <span class="subtitles primary-color font-bold">Subtítulos</span>
                <p class="text">{{blog.subtitles}}</p>
            </div>
        </div>
    </ng-container>
    <app-paginator [totalItemsCount]="otherBlogs?.length" [initialPage]="pageNumber" [itemsPerPage]="pageSize"
                   (pageChange)="handlePage($event)" [useRowDirection]="false"></app-paginator>
</section>
