// Color Text
$primary-text: #c58511;
$second-text: #07324f;
$usual-text: #ffffff;
// border inputs
$border-input: #02395E;
// Bg Color
$bg-newsletter:$border-input;
$bg-primary: $primary-text;
$bg-second: $second-text;
$bg-usual: $usual-text;
$bg-button-light:#ECEFF1;
$bg-blue-dark-light: #02395E;
$inactive-text: #DCDCDC;
$custom-gray: #C4C4C4;
$bg-white-bone: #F9F9F9;
