
@mixin size-content($display, $flex-direction, $align-items, $align-content) {
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    align-content: $align-content;
}

$margin-sides: 0 7% 0 7%;
@mixin section-catalogue {
    width: 100%;
    padding: 7.5px 0;
    background-color: $bg-white-bone;
    @include size-content(flex, column, center, center);
}

@mixin column-catalogue($width) {
    border-radius: 18px;
    width: $width;
    background: $bg-usual;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.15);
    color: $second-text;
}

.flex-center {
    @include size-content(flex, row, center, center);
    justify-content: center;
}
