@import "src/assets/scss/basis/colors";
// FONT
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}


@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1920px;
$min_font: 18px;
$max_font: 22px;
// Branding medium
.text-m {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: branding, serif;
  line-height: 1.25;
  margin: 0;
  width: 100%;
}
// Branding light
.text-l {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: brandingSemiLight, serif;
  line-height: 1.25;
  margin: 0;
  width: 100%;
}
// Branding Bold
.text-b {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: brandingBold, serif;
  line-height: 1.25;
  margin: 0;
  width: 100%;
}

$mod_1: 1.2; // mobile
$mod_2: 1.4; // desktop
$mod_3: 1.5; // desktop
$mod_4: 0.8; // small
.small-text-m {
  font-size: 0.7rem;
  @include fluid-type($min_width, $max_width, 16px, 20px);
  font-family: branding, serif;
}
.small-text-l {
  font-size: 0.7rem;
  @include fluid-type($min_width, $max_width, 16px, 20px);
  font-family: brandingLight, serif;
}
.small-text-b {
  font-size: 0.7rem;
  @include fluid-type($min_width, $max_width, 16px, 20px);
  font-family: brandingBold, serif;
}
//smaller text
.smaller-text-m {
  font-size: 14px;
  @include fluid-type($min_width, $max_width, 13px, 15px);
  font-family: branding, serif;
}
.smaller-text-l {
  font-size: 14px;
  @include fluid-type($min_width, $max_width, 13px, 15px);
  font-family: brandingLight, serif;
}
.smaller-text-b {
  font-size: 14px;
  @include fluid-type($min_width, $max_width, 13px, 15px);
  font-family: brandingBold, serif;
}

.big-title {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1  *1rem;
  @include fluid-type($min_width, $max_width, 40px, 72px );//46.192px
  font-family: brandingBold, serif;
  margin: 1rem 0;
}

.main-title {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  font-family: brandingBold, serif;
  margin: 0 0 1.5rem 0;
  text-align: center;
  width: 100%;
}

.sub-title {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  font-family: brandingBold, serif;
  margin-bottom:0.8rem;
  text-align: center;
  width: 100%;
}
.small-sub-title {
  font-size: 23px;
  @include fluid-type($min_width, $max_width, 23px, 26px);
  font-family: brandingBold, serif;
  margin-bottom:0.8rem;
  width: 100%;
}

//big-title variations
.big-title-or {
  @extend .big-title;
  color: $primary-text
}

.big-title-bl {
  @extend .big-title;
  color: $second-text;
}
.big-title-bl-shadow {
  @extend .big-title;
  color: $second-text;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.big-title-wh {
  @extend .big-title;
  color: $usual-text;
}

.big-title-inactive {
  @extend .big-title;
  color: $inactive-text;
}

//main-title variations
.main-title-or {
  @extend .main-title;
  color: $primary-text
}

.main-title-bl {
  @extend .main-title;
  color: $second-text;
}

.main-title-wh {
  @extend .main-title;
  color: $usual-text;
}

.main-title-inactive {
  @extend .main-title;
  color: $inactive-text;
}

//sub-title variations
.sub-title-or {
  @extend .sub-title;
  color: $primary-text
}

.sub-title-bl {
  @extend .sub-title;
  color: $second-text;
}

.sub-title-wh {
  @extend .sub-title;
  color: $usual-text;
}

.sub-title-inactive {
  @extend .sub-title;
  color: $inactive-text;
}

//small-ub-title variations
.small-sub-title-or {
  @extend .small-sub-title;
  color: $primary-text
}

.small-sub-title-bl {
  @extend .small-sub-title;
  color: $second-text;
}

.small-sub-title-wh {
  @extend .small-sub-title;
  color: $usual-text;
}

.small-sub-title-inactive {
  @extend .small-sub-title;
  color: $inactive-text;
}
//text with branding medium  variations
.text-m-or {
  @extend .text-m;
  color: $primary-text
}

.text-m-bl {
  @extend .text-m;
  color: $second-text;
}

.text-m-wh {
  @extend .text-m;
  color: $usual-text;
}

.text-m-inactive {
  @extend .text-m;
  color: $inactive-text;
}
//text with branding light  variations
.text-l-or {
  @extend .text-l;
  color: $primary-text
}

.text-l-bl {
  @extend .text-l;
  color: $second-text;
}

.text-l-wh {
  @extend .text-l;
  color: $usual-text;
}

.text-l-inactive {
  @extend .text-l;
  color: $inactive-text;
}
//text with brandingbold light  variations
.text-b-or {
  @extend .text-b;
  color: $primary-text
}

.text-b-bl {
  @extend .text-b;
  color: $second-text;
}

.text-b-wh {
  @extend .text-b;
  color: $usual-text;
}

.text-b-inactive {
  @extend .text-b;
  color: $inactive-text;
}
//small text with branding medium  variations
.small-text-m-or {
  @extend .small-text-m;
  color: $primary-text
}

.small-text-m-bl {
  @extend .small-text-m;
  color: $second-text;
}

.small-text-m-wh {
  @extend .small-text-m;
  color: $usual-text;
}

.small-text-m-inactive {
  @extend .small-text-m;
  color: $inactive-text;
}
//small text with branding light  variations
.small-text-l-or {
  @extend .small-text-l;
  color: $primary-text
}

.small-text-l-bl {
  @extend .small-text-l;
  color: $second-text;
}

.small-text-l-wh {
  @extend .small-text-l;
  color: $usual-text;
}

.small-text-l-inactive {
  @extend .small-text-l;
  color: $inactive-text;
}
//small text with branding bold  variations
.small-text-b-or {
  @extend .small-text-b;
  color: $primary-text
}

.small-text-b-bl {
  @extend .small-text-b;
  color: $second-text;
}

.small-text-b-wh {
  @extend .small-text-b;
  color: $usual-text;
}

.small-text-b-inactive {
  @extend .small-text-l;
  color: $inactive-text;
}
// smaller text with branding bold  variations
.smaller-text-b-or {
  @extend .smaller-text-b;
  color: $primary-text
}

.smaller-text-b-bl {
  @extend .smaller-text-b;
  color: $second-text;
}

.smaller-text-b-wh {
  @extend .smaller-text-b;
  color: $usual-text;
}

.smaller-text-b-inactive {
  @extend .smaller-text-l;
  color: $inactive-text;
}
// smaller text with branding light  variations
.smaller-text-l-or {
  @extend .smaller-text-l;
  color: $primary-text
}

.smaller-text-b-bl {
  @extend .smaller-text-l;
  color: $second-text;
}

.smaller-text-l-wh {
  @extend .smaller-text-l;
  color: $usual-text;
}

.smaller-text-l-inactive {
  @extend .smaller-text-l;
  color: $inactive-text;
}
//smaller text with branding medium  variations
.smaller-text-m-or {
  @extend .smaller-text-m;
  color: $primary-text
}

.smaller-text-m-bl {
  @extend .smaller-text-m;
  color: $second-text;
}

.smaller-text-m-wh {
  @extend .smaller-text-m;
  color: $usual-text;
}

.smaller-text-m-inactive {
  @extend .smaller-text-m;
  color: $inactive-text;
}
