@import "font";

$second-placeholder: #07324F7F;
$usual-placeholder: #FFFFFF80;
@mixin button-unusual($margin, $width, $line-height, $text-align: center, $padding, $border, $color, $background, $border-radius, $box-sizing) {
  margin: $margin;
  width: $width;
  line-height: $line-height;
  text-align: $text-align;
  padding: $padding;
  border: $border;
  color: $color;
  background: $background;
  border-radius: $border-radius;
  box-sizing: $box-sizing;
  outline: none;
}

@mixin text-area($max-width, $min-width, $max-height, $min-height) {
  max-width: $max-width;
  min-width: $min-width;
  max-height: $max-height;
  min-height: $min-height;
  border-radius: 10px;
  resize: none;
  outline: none;
  color: black;
  background: $usual-text;
  width: -webkit-fill-available;
  padding: 13px;
}

@mixin input-disabled($color) {
  color: $color;
  opacity: unset;
  -webkit-text-fill-color: $bg-second;
  -webkit-opacity: 1;
}

// slider
@mixin slide-thumb($height,$width,$background-color) {
  height: $height;
  width: $width;
  background-color: $background-color;
}

@mixin slide-bar($border, $background-color) {
  border: $border;
  background-color: $background-color
}

// buttons
.basis-button {
  margin: 0 0 1rem 0;
  min-width: fit-content;
  max-width: 16.7rem;
  height: 46px;
  cursor: pointer;
  padding: 0 1.5rem;
  line-height: 0;
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

//class button height 38px
.basis-button-bl-38h {
  @extend .basis-button;
  @extend .text-m-wh;
  height: 38px !important;
  flex-basis: 100%;
  background: $bg-second;
  border-color: $second-text;
}

.basis-button-or-38h {
  @extend .basis-button;
  @extend .text-m-wh;
  height: 38px !important;
  width: 100%;
  background: $bg-primary;
  border-color: $primary-text;
}

.main-button {
  @extend .basis-button;
  max-width: 16.7rem;
  margin: 1rem 0;
}

.main-button-or-100 {
  @extend .main-button;
  @extend .text-m-wh;
  background: $bg-primary;
  border-color: $primary-text;
  flex-basis: 100%;
}

.main-button-bl-100 {
  @extend .main-button;
  @extend .text-m-wh;
  background: $bg-second;
  border-color: $second-text;
  flex-basis: 100%;
}

.main-button-wh-100 {
  @extend .main-button;
  @extend .text-m-bl;
  background: $bg-usual;
  border-color: $second-text;
  flex-basis: 100%;
}

.main-button-or-85 {
  @extend .main-button;
  @extend .text-m-wh;
  background: $bg-primary;
  border-color: $primary-text;
  flex-basis: 85%;


}

.main-button-gy-85 {
  @extend .main-button;
  @extend .text-m-wh;
  background: $custom-gray;
  border-color: $custom-gray;
  flex-basis: 85%;
}

.main-button-bl-85 {
  @extend .main-button;
  @extend .text-m-wh;
  background: $bg-second;
  border-color: $second-text;
  flex-basis: 85%;
}

.main-button-wh-85 {
  @extend .main-button;
  @extend .text-m-bl;
  background: $bg-usual;
  border-color: $second-text;
  flex-basis: 85%;
}

//input

.form-bl {
  @extend .text-l-bl;

  .input-control {
    @include button-unusual(0.1rem 0 1rem 0,
      100%,
      2.5,
      center,
      0 1.5rem,
      1px solid $second-text,
      $second-text,
      transparent,
      23px,
      border-box);

    &::placeholder {
      color: $second-placeholder;
    }

    height: 2.5rem;
  }

  ::ng-deep {
    // FOR inputs

    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0;
      background-color: white;
    }

    .mat-form-field-appearance-fill .mat-form-field-infix {
      padding: 0;
    }

    .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
      transform: translateY(0);
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-infix {
      border-top: 0;
    }

    .mat-form-field-underline {
      width: 0;
    }


    //Select
    .mat-select-placeholder {
      color: $second-placeholder;
    }

    .mat-select-arrow {
      color: $second-placeholder;
      transform: translateY(-2px);
    }

    .mat-select-value {
      color: $second-text;
      transform: translateY(-4px);
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: $second-text
    }
  }

  .input-control:last-child {
    margin-bottom: 0;
  }

  .text-area-container {
    border: 1px solid $second-text;
  }

  .text-area::placeholder {
    color: $second-placeholder;
  }
}

.form-wh {
  @extend .text-l-wh;

  .input-control {
    @include button-unusual(0.1rem 0 1rem 0,
      100%,
      2.5,
      center,
      0 1.5rem,
      1px solid $usual-text,
      $usual-text,
      transparent,
      23px,
      border-box);

    &::placeholder {
      color: $usual-placeholder;
    }

    height: 2.5rem;
  }

  ::ng-deep {
    // FOR inputs

    .mat-form-field-appearance-fill .mat-form-field-flex {
      padding: 0;
      background-color: transparent;
    }

    .mat-form-field-appearance-fill .mat-form-field-infix {
      padding: 0;
    }

    .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
      transform: translateY(0);
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-infix {
      border-top: 0;
    }

    .mat-form-field-underline {
      width: 0;
    }


    //Select
    .mat-select-placeholder {
      color: $usual-placeholder
    }

    .mat-select-arrow {
      color: $usual-placeholder;
      transform: translateY(-2px);
    }

    .mat-select-value {
      color: $usual-text;
      transform: translateY(-4px);
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color: $usual-text
    }
  }

  .input-control:last-child {
    margin-bottom: 0;
  }

  .text-area-container {
    border: 1px solid $usual-text;
  }

  .text-area::placeholder {
    color: $usual-placeholder;
  }
}

.text-area-container {
  height: 10rem !important;
  overflow: hidden;
  border-radius: 15px !important;
  padding: 0 !important;

  ::ng-deep {
    .mat-form-field-wrapper {
      position: relative;
      height: 100% !important;
      width: 100% !important;
    }

    .mat-form-field-infix {
      padding: 0;
      height: 100%;
      width: 100%;
    }

    .mat-form-field-flex {
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }

}

.text-area {
  height: calc(100% - 1rem) !important;
  width: calc(100% - 3rem) !important;
  margin: 0 !important;
  border: none !important;;
  padding: 0.5rem 1.5rem !important;
  line-height: 1.2 !important;
  resize: none;
  text-align: start !important;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 4px;
  }

  &::-webkit-scrollbar-button:increment,
  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $custom-gray;
    border-radius: 20px;
    border: 1px solid #f1f2f3;
  }


}

@mixin is-invalid {
  border: 1px solid red !important;
  color: red !important;
  &:focus {
    color: red;
  }
  &::placeholder {
    color: red !important;
  }
  &:focus::placeholder {
    color: transparent !important;
  }

  ::ng-deep {
    .mat-select-placeholder {
      color: red !important;
    }

    .mat-select-arrow {
      color: red !important;
    }

    &:focus::placeholder {
      color: transparent !important;
    }
  }


}

.is-invalid {
  @include is-invalid;

  ::ng-deep {
    textarea {
      &::placeholder {
        color: red !important;
      }

      &:-ms-input-placeholder {
        color: red !important;
      }

      &::-webkit-input-placeholder {
        color: red !important;
      }

      &:-moz-placeholder {
        color: red !important;
      }
    }
  }
  
}

::ng-deep {
  .mat-form-field-invalid {
    border-color: red !important;

    &::placeholder {
      color: red !important;
    }
  }
}
