/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */
@import "index";
/* position */

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 2%;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}


/* toast styles */

.toast-title {
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0 0 0 14px;
  text-align: center;
}

.toast-message {
  width: auto;
  margin: 0;
  padding: 2% 0;
}

.toast-message a,
.toast-message label {
  color: #FFFFFF;
}

.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}


/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.toast-container * {
  text-align: center;
  margin-left: 3%;
}

.toast-container .ngx-toastr {
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 96%;
  max-width: 463px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 40px;
  border-radius: 10px;
  color: #FFFFFF;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */

.toast-info {
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E"); */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' %3E%3Cpath fill='white' d='M73 95.2933C76.824 95.2933 79.8832 92.2341 79.8832 88.4102H66.2698C66.1168 92.2341 69.176 95.2933 73 95.2933Z M73 34.1094C61.681 34.1094 52.5034 43.287 52.5034 54.606V81.8328H59.3866H86.6134H93.4966V54.453C93.4966 43.134 84.319 34.1094 73 34.1094Z M142.903 54.9125L117.817 11.319C113.687 4.28287 106.192 0 98.0854 0H47.9146C39.8077 0 32.3127 4.28287 28.1828 11.319L3.09743 54.9125C-1.03248 61.9487 -1.03248 70.6674 3.09743 77.7035L28.1828 121.144C32.3127 128.18 39.8077 132.463 47.9146 132.463H98.0854C106.192 132.463 113.687 128.18 117.817 121.144L142.903 77.7035C147.032 70.5144 147.032 61.9487 142.903 54.9125ZM103.592 88.5637H100.227H86.6134C86.6134 96.0587 80.495 102.177 73 102.177C65.505 102.177 59.3866 96.0587 59.3866 88.5637H45.7732H42.4081C40.5725 88.5637 39.043 87.034 39.043 85.1985C39.043 83.363 40.5725 81.8334 42.4081 81.8334H45.7732V54.4536C45.7732 39.4636 58.01 27.2268 73 27.2268C87.99 27.2268 100.227 39.4636 100.227 54.4536V81.6805H103.592C105.427 81.6805 106.957 83.2101 106.957 85.0456C107.11 87.034 105.58 88.5637 103.592 88.5637Z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */

.toast-error {
  width: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' %3E%3Cpath fill='white' d='M142.903 55.1351L117.817 11.3649C113.687 4.30023 106.192 0 98.0854 0H47.9146C39.8077 0 32.3127 4.30023 28.1828 11.3649L3.09743 55.1351C-1.03248 62.1998 -1.03248 70.9538 3.09743 78.0185L28.1828 121.635C32.3127 128.7 39.8077 133 47.9146 133H98.0854C106.192 133 113.687 128.7 117.817 121.635L142.903 78.0185C147.032 70.8002 147.032 62.1998 142.903 55.1351ZM97.6265 81.0901C100.38 83.8545 100.38 88.3083 97.6265 91.0727C94.8732 93.8372 90.4374 93.8372 87.6841 91.0727L73.153 76.4827L58.6218 91.0727C55.8685 93.8372 51.4327 93.8372 48.6794 91.0727C45.9261 88.3083 45.9261 83.8545 48.6794 81.0901L63.2106 66.5L48.6794 51.9099C45.9261 49.1455 45.9261 44.6917 48.6794 41.9272C51.4327 39.1628 55.8685 39.1628 58.6218 41.9272L73.153 56.5173L87.6841 41.9272C90.4374 39.1628 94.8732 39.1628 97.6265 41.9272C100.38 44.6917 100.38 49.1455 97.6265 51.9099L83.0953 66.5L97.6265 81.0901Z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */

.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' %3E%3Cpath fill='white' d='M142.939 54.9413L117.841 11.3249C113.709 4.28512 106.21 0 98.0988 0H47.9017C39.7906 0 32.2916 4.28512 28.1595 11.3249L3.06097 54.9413C-1.07111 61.9811 -1.07111 70.7044 3.06097 77.7442L28.1595 121.208C32.2916 128.247 39.7906 132.532 47.9017 132.532H98.0988C106.21 132.532 113.709 128.247 117.841 121.208L142.939 77.7442C147.072 70.5514 147.072 61.9811 142.939 54.9413ZM73.0002 108.352C49.7382 108.352 30.9142 89.5283 30.9142 66.2662C30.9142 43.0042 49.7382 24.1803 73.0002 24.1803C96.2623 24.1803 115.086 43.0042 115.086 66.2662C115.086 89.5283 96.2623 108.352 73.0002 108.352Z M73 30.1484C53.1048 30.1484 36.8826 46.3707 36.8826 66.2659C36.8826 86.1611 53.1048 102.383 73 102.383C92.8951 102.383 109.117 86.1611 109.117 66.2659C109.117 46.3707 92.8951 30.1484 73 30.1484ZM96.109 53.4105L66.1132 83.4063C64.8889 84.6307 63.0524 84.6307 61.8281 83.4063L49.7379 71.3162C48.5136 70.0919 48.6666 68.2554 49.7379 67.0311C50.9622 65.8067 52.7987 65.9598 54.023 67.0311L63.9706 76.9787L91.9769 48.9723C93.2012 47.9011 95.0377 47.9011 96.109 48.9723C97.3333 50.1967 97.3333 52.1862 96.109 53.4105Z'/%3E%3C/svg%3E");
}


/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */

.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150 150' %3E%3Cpath fill='white' d='M142.939 54.9413L117.841 11.3249C113.709 4.28512 106.21 0 98.0986 0H47.9015C39.7904 0 32.2915 4.28512 28.1594 11.3249L3.06085 54.9413C-1.07123 61.9811 -1.07123 70.7044 3.06085 77.7442L28.1594 121.208C32.2915 128.247 39.7904 132.532 47.9015 132.532H98.0986C106.21 132.532 113.709 128.247 117.841 121.208L142.939 77.7442C147.071 70.5514 147.071 61.9811 142.939 54.9413ZM110.954 91.0587C108.352 95.4968 103.761 98.2516 98.5577 98.2516H47.2894C42.239 98.2516 37.6479 95.6499 35.0462 91.2117C32.4445 86.7736 32.4445 81.4172 35.0462 76.979L60.7569 32.4444C63.3586 28.0063 67.9497 25.2516 73.0001 25.2516C78.0504 25.2516 82.7946 27.8532 85.2432 32.4444L110.954 76.979C113.556 81.2641 113.556 86.6205 110.954 91.0587Z M79.7339 35.6587C78.3565 33.2101 75.7549 31.6797 73.0001 31.6797C70.2454 31.6797 67.6437 33.057 66.2664 35.5057L40.5557 80.0403C39.1784 82.4889 39.1784 85.3967 40.5557 87.8453C41.9331 90.2939 44.5348 91.6713 47.2895 91.6713H98.5578C101.312 91.6713 103.914 90.1409 105.292 87.6923C106.669 85.2436 106.669 82.3359 105.292 80.0403L79.7339 35.6587ZM73.0001 84.7845C70.7045 84.7845 68.8681 82.948 68.8681 80.6524C68.8681 78.3568 70.7045 76.5203 73.0001 76.5203C75.2957 76.5203 77.1322 78.3568 76.9792 80.6524C77.1322 82.795 75.1427 84.7845 73.0001 84.7845ZM76.6731 58.3086C76.52 61.5224 76.367 64.5832 76.0609 67.7971C75.9079 68.8684 75.9079 69.7866 75.9079 70.8579C75.7548 72.5413 74.5305 73.9187 72.8471 73.9187C71.1637 73.9187 69.9393 72.6944 69.7863 71.0109C69.4802 66.1136 69.1741 61.2164 69.0211 56.3191C69.0211 54.7887 68.8681 53.5644 68.8681 52.187C68.8681 50.0445 70.0924 48.208 72.0819 47.7489C74.0714 47.2897 76.0609 48.208 76.8261 50.0445C77.1322 50.6566 77.1322 51.4218 77.1322 52.034C76.9792 54.1765 76.8261 56.1661 76.6731 58.3086Z' /%3E%3C/svg%3E");
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
  @extend .text-m-wh;
}

.toast-success {
  background-color: rgba(106, 189, 78, 0.9);
}

.toast-error {
  background-color: rgba(241, 111, 109, 0.9);
}

.toast-info {
  background-color: rgba(85, 133, 255, 0.9);
}

.toast-warning {
  background-color: rgba(248, 147, 6, 0.9);
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}


/* Responsive Design */

@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
