@import "colors";
.button-view {
  background-color: transparent;
  border: 0;
  float: right;
  margin-top: 13px;
}
// styles b expand inside the card catalogue
@mixin button-more-view  {
  .view-more {
    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
      background: inherit;
    }

    .mat-expansion-panel-header {
      background-color: $bg-usual;
      box-shadow: none;
      height: auto;
      padding: 0;
      width: auto;
    }

    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
      justify-content: flex-end;
      background-color: $bg-usual;
      height: 30px;
    }

  }
}
@mixin mat-expansion-panel {

  mat-expansion-panel {
    color: $second-text;
  }

  .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0 0 10px 10px;
  }

  .mat-expansion-panel-header {
    background-color: #F3F3F3;
    border-top: 1px solid white;
    order: 2;
    box-shadow: 0 6px 11px rgb(0 0 0 / 15%);
  }

  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none;
  }

  .mat-expansion-panel-body {
    padding: 0;
  }

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  // Change orientation
  .mat-expansion-panel {
    display: flex !important;
    flex-direction: column;
  }

  .mat-expansion-panel-content {
    font: unset;
  }
}
