@import "src/assets/scss/basis/index";

:host {
  display: block;
  border-radius: 15px;
  height: 440px;
}

// custom project styles

// CUSTOM PAGINATOR

.swiper-pagination-bottom {
  height: fit-content;
  bottom: 8px;
}

.swiper-pagination-top {
  height: fit-content;
  top: 8px;
}

// WRAPPER

:host ::ng-deep {
  .swiper-slide {
    overflow: hidden;
  }
  .swiper-wrapper{
    height: 92%;
  }

  @media (min-width: $breakpoint-desktop-full-hd) {
    .swiper-wrapper{
      height: 90%;
    }
  }
}

// BULLETS

:host ::ng-deep {
  .swiper-pagination-bullet-active {
    background-color: $bg-primary !important;
  }

  .swiper-pagination-bullet {
    background: white;
    opacity: 1 !important;
    width: 12px;
    height: 12px;
  }

  @media (min-width: 718px) {
    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
    }
  }

  @media (min-width: $breakpoint-desktop-square) {
    .swiper-pagination-bullet {
      width: 21px;
      height: 21px;
    }
  }

  @media (min-width: $breakpoint-desktop-full-hd) {
    .swiper-pagination-bullet {
      width: 26px;
      height: 26px;
    }
  }

}

//////
.swiper-slide {
  border-radius: 15px;
}
