<div class="container">
  <div class="column-experience">
    <h4 class="small-sub-title title-experience">Experiencia</h4>
    <div class="card-experience" *ngFor="let data of experience">
      <!--          main view expansion panel hidden-->
      <div class="section-experience">
        <div class="hex-experience" [inlineSVG]='"../../../assets/svg/catalogue-experience/icon-experience.svg"'
             [setSVGAttributes]="{width: '100%', height: '100%' }"></div>
        <span></span>
        <div class="data-university">
          <p class="text-b-bl">{{data.name}}</p>
          <p class="small-text-m-bl">Lorem ipsum</p>
          <p class="small-text-m-bl">{{data.year}}</p>
        </div>
      </div>
      <div class="description-experience">
        <p class="small-text-m-bl paragraph">{{data.description}}</p>
      </div>
      <mat-accordion>
        <!--            actions expansion panel hidden/ show more text of the description -->
        <mat-expansion-panel hideToggle class="view-more" (closed)="data.open = false" (opened)="data.open = true">
          <mat-expansion-panel-header>
            <mat-panel-title class="section title">
              <p class="button-view small-text-m-bl" *ngIf="!data.open">...ver más</p>
              <p class="button-view small-text-m-bl" *ngIf="data.open">...ver menos</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <!--              more text description-->
          <div class="column-hidden"> <p class="small-text-m-bl paragraph">{{data.description}}</p></div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <mat-accordion>
      <!--          show more cards when I have more experience-->
      <mat-expansion-panel hideToggle (closed)="panelOpenState = false" (opened)="panelOpenState = true">
        <mat-expansion-panel-header>
          <mat-panel-title class="text-b-bl" *ngIf="!panelOpenState">
            Mostrar más
          </mat-panel-title>
          <mat-panel-title class="text-b-bl" *ngIf="panelOpenState" >
            Mostrar menos
          </mat-panel-title>
        </mat-expansion-panel-header>
       <div class="card-experience" *ngFor="let data of experience">
        <!--          main view expansion panel hidden-->
        <div class="section-experience">
          <div class="hex-experience" [inlineSVG]='"../../../assets/svg/catalogue-experience/icon-experience.svg"'
               [setSVGAttributes]="{width: '100%', height: '100%' }"></div>
          <span></span>
          <div class="data-university">
            <p class="text-b-bl">{{data.name}}</p>
            <p class="small-text-m-bl">Lorem ipsum</p>
            <p class="small-text-m-bl">{{data.year}}</p>
          </div>
        </div>
        <div class="description-experience">
          <p class="small-text-m-bl paragraph">{{data.description}}</p>
        </div>
        <mat-accordion>
          <!--            actions expansion panel hidden/ show more text of the description -->
          <mat-expansion-panel hideToggle class="view-more" (closed)="data.open = false" (opened)="data.open = true">
            <mat-expansion-panel-header>
              <mat-panel-title class="section title">
                <p class="button-view small-text-m-bl" *ngIf="!data.open">...ver más</p>
                <p class="button-view small-text-m-bl" *ngIf="data.open">...ver menos</p>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!--              more text description-->
            <div class=" column-hidden"> <p class="small-text-m-bl paragraph">{{data.description}}</p></div>
          </mat-expansion-panel>
        </mat-accordion>
  </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
