@import "src/assets/scss/basis/index";

.container {
  @include section-catalogue;
}

.column-experience {
  @include column-catalogue(86%);
  border-radius: 10px;

  .title-experience {
    padding: 17px 17px 7.8px 17px;
    text-align: start;
    margin: 0;
  }
}

.card-experience {
  padding: 7.8px 17px;
}

.section-experience {
  @include size-content(flex, row, center, center);
  width: 100%;
  justify-content: space-between;

  h4,
  p {
    margin: 5px 0 0 0;
  }

  .hex-experience {
    width: calc(30% - 6px);
  }

  .data-university {
    @include size-content(flex, column, flex-start, center);
    width: calc(70% - 6px);
  }
}

.column-hidden {
  word-wrap: break-word;
}

.description-experience {
  margin-top: 15px;
}

.paragraph {
  word-wrap: break-word;
  margin: 0;
}

.section title {
  background-color: white;
}

// change styles expansion panel
:host ::ng-deep {
  @include mat-expansion-panel;
}

// styles button down of the expansion panel
:host ::ng-deep {
  @include button-more-view;

}


@media (min-width: $breakpoint-tablet) {
  .title-experience {
    padding: 35px !important;
  }

  .column-experience {
    @include column-catalogue(80%);
  }
  .description-experience, .column-hidden {
    display: flex;
    justify-content: flex-end;
  }
  .paragraph {
    width: calc(90% - 10px);
  }
  .card-experience {
    padding: 10px 35px;
  }
  .section-experience {
    .data-university {
      width: calc(90% - 10px);
    }

    .hex-experience {
      width: calc(10% - 10px);
    }
  }
  .description-experience {
    margin: 0;
  }
}
