<div class="container">
    <div class="column">
        <h1 class="tittle">Abogados de {{searchParams.service}}</h1>
        <p class="paragraph">({{numberOfLawyers}} Abogados)</p>
        <button type="button" mat-stroked-button color="primary" class="button" routerLink="filtrar-abogado"> Filtrar por <img class="filter"
                src="../../../../assets/svg/icons/filter.svg" alt=""> </button>
        <div class="container-cards">
            <app-lawyer-card *ngFor="let item of filteredLawyersList" [lawyer]='item'></app-lawyer-card>
        </div>
    </div>
</div>

