@import "src/assets/scss/basis/index";

.container {
    background-color: $bg-white-bone;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.column {
    @include size-content(flex,
    column,
    center,
    center);
    width: 100%;
}

.tittle {
    color: $primary-text;
    font-size: 1.3rem;
    margin-top: 25%;
    text-align: center;
    width: 80%
}

.paragraph {
    margin: 0;
}

.container-cards {
    width: 80%;
}

.button{
    @include button-unusual(
        6% 0 6% 0,
        40%,
        2.5,
        center,
        0,
        2px solid $primary-text,
        $primary-text,
        none,
        23px,
        border-box
    );
    font-weight: bold;
    font-size: 1rem;
    min-width: 101px;
    .filter {
        height: 96%;
        width: 11%;
        max-width: 23px;
        min-width: 15px;
        margin: 0 5%;
    }
}

//Media queries landscape
@media(orientation:landscape){
    .tittle {
        margin-top: 11%;
    }
    .button {
        margin: 5% 0 5% 0;
    }

}
