<div class="background" [ngClass]="{'backgroundLarge':!visible}">
  <!--  Contain it the white wave image-->
  <div class="background-2">
    <img class="d-none white" src="../../../../assets/png/register-client/white-square.png" alt="">
    <img class="d-block white" src="../../../../assets/png/register-client/white-wave-smartphone-min.png" alt="">
  </div>
    <div class="container">
        <h3 class="sub-title-or form-title">Registro como cliente</h3>
      <!--      Buttons for cell smartphone, are hidden in desktop size-->
      <div class="container-buttons " [ngClass]="{'d-none': !visible}">
        <button mat-button class="button-orange" (click)="changeView()">Registro con correo electrónico</button>
        <button mat-button class="button-facebook">Registro con Facebook</button>
        <button mat-button class="button-google">Registro con Google</button>
      </div>
      <!--      form-->
      <div class="container-form" [ngClass]="{'d-none': visible}">
        <form class="form-client" autocomplete="off" [formGroup]="formClient" (ngSubmit)="signUp()">
          <mat-form-field appearance="fill">
            <input type="text" matInput [class.is-invalid]="invalidNameEntry" class="input-control"
                   placeholder="Nombres" formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input type="text" matInput [class.is-invalid]="invalidLastNameEntry" class="input-control"
                   placeholder="Apellidos" formControlName="lastName">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input type="text" matInput [class.is-invalid]="invalidEmailEntry" class="input-control"
                   placeholder="Correo electrónico" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-select [class.is-invalid]="invalidDocumentTypeEntry" class="input-control"
                        formControlName="documentType" placeholder="Tipo de documento">
              <mat-option *ngFor="let doc of documentTP" [value]="doc.value">
                {{doc.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input type="number" matInput [class.is-invalid]="invalidDocumentEntry" class="input-control"
                   placeholder="Número de documento" formControlName="document">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <input type="number" matInput [class.is-invalid]="invalidPhoneEntry" class="input-control"
                   placeholder="Teléfono" formControlName="phone">
          </mat-form-field>
          <!--              component of terms and conditions is injected-->
          <app-terms-conditions></app-terms-conditions>
          <button mat-button type="submit" class="button button-orange">
            Registrarse
          </button>
          <!--              Hidden buttons on smartphone are visible in desktop size-->
          <div class="d-none flex-row">
            <button mat-button class="button button-facebook"> Registro con Facebook</button>
            <button mat-button class="button button-google">Registro con Google</button>
          </div>
        </form>
      </div>
    </div>
</div>
