@import "src/assets/scss/basis/index";

@mixin background-button($urlImage){
  background-image: url($urlImage);
  background-repeat: no-repeat;
  background-size:28px ;
  background-position-y: center;
  background-position-x: 8%;
}
@mixin button($color, $background){
  color: $color;
  background-color: $background;
  text-align: center;
  border-radius: 28px;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  //margin: 2% 0;
}
.background {
  background-image: url("../../../../assets/png/register-client/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.background-2 {
  height: 100%;
  width: 100%;
  padding: 18% 0;
  .white {
    width: 100%;
    height: 100%;
  }
}
.form-title {
  margin-top: 0;
}
.container {
  @include size-content(flex,column,center,center);
  position: absolute;
  width: 100%;
  height: calc(100% - 19%);
  bottom:0;
}
.container-form {
  @include size-content(flex,column,center,center);
  width: 100%;
  height: calc(100% - 32%);
}
.container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 38%;
  margin-top: 15%;
}
.form-client {
  @include size-content(flex,column,center,center);
  width: 80%;
  height: 100%;
  justify-content: space-between;
}
.input-control{
  @include button-unusual(2% 0 0 0,
    100%,
    2.7,
    center,
    0,
    1px solid $border-input,
    $second-text,
    transparent,
    25px,
    border-box);
    &::placeholder {
      color:$second-text;
    }
  height: 42px;
}
.button-orange{
  @include button($usual-text, $bg-primary);
}
.button-facebook{
  @include button($usual-text,#2673FF);
  @include background-button("../../../../assets/svg/register/icon-facebook.svg");
}
.button-google{
  @include button(#839EB0,$bg-button-light);
  @include background-button("../../../../assets/svg/register/icon-google.svg")
}

:host::ng-deep {
  .mat-form-field{
    width: 100%;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .mat-form-field-infix {
    border-top: 0;
  }
  .mat-select-placeholder {
    color: $second-text;
  }
  .mat-select-value {
    color: $second-text;
  }
  .mat-form-field-underline {
    width: 0;
  }
  .mat-select-arrow {
    color: $second-text;
  }
  .mat-select-trigger {
    padding-right: 8%;
    padding-left: 6%;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0;
    background-color:transparent;
  }
  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
  }
  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: translateY(0);
  }
  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $second-text
  }
}
.d-none {
  display: none;
}
.is-invalid {
  @include is-invalid
}
:host::ng-deep {
  .cdk-overlay-pane{
    top: 328.109px !important;
  }
}
//Media queries portrait mobile
@media(max-height:670px) {
  .backgroundLarge {
    height: 110%;
  }
  .container-form {
    height: calc(100% - 23%);
  }
}
@media(max-width: 320px) and (max-height:570px) {
  .backgroundLarge {
    height: 120%;
  }
  .container-form {
    height: calc(100% - 11%);
  }
}

// Media queries Landscape
@media (orientation: landscape) and (max-width:1023px){

  .background {
    height: 215%;
  }
  .backgroundLarge {
    height: 240%;
  }
  .container {
    top: 50%;
    bottom: unset;
  }
  .container-buttons {
    width: 60%;
    margin-top: 0;
    height: 64%;
  }
}
//Media queries tablet
@media (min-width: $breakpoint-tablet) {//768px;
  .container {
    height: calc(100% - 25%);
  }
  .form-client {
    width: 60%
  }
}
//Media queries web
 @media (min-width:$breakpoint-desktop-usual) and (orientation:landscape) {
   .d-none {
     display: flex;
   }
   .d-block {
     display: none;
   }
   .background {
     background-image: url("../../../../assets/png/register-client/registro-cliente-web.png");
     min-height: 768px;
   }
   .background-2 {
     width: 58%;
     padding: 0 0 0 1%;
     .white {
       margin-left: 1%;
     }
   }
   .container {
     width: 60%;
     height: calc(100% - 80px);
     bottom:0;
     padding: 2% 13.6% 8%;
   }
   .container-form {
     height: calc(100% - 30px);
   }
   .form-client {
     width: 100%;
     height: 100%;
     justify-content: space-between;
   }
   .container-buttons {
     display: none;
   }
   .button {
     font-size: 13px;
   }
   .button-orange {
     width: 55.2%;
     margin: 1% 0 0 0;
   }
   .flex-row {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 115%;
   }
   .button-facebook,
   .button-google {
     width: 48%;
     margin: 4% 0 0 0;
     padding-left: 10%;

   }
   .hidden {
     visibility: visible;
   }
 }
@media (min-width: $breakpoint-desktop-square){
  .button {
    font-size: 15px;
  }
  .button-google {
    padding-left: 7%;
  }
  .button-facebook {
    padding-left: 7%;
  }
}
@media (min-width: $breakpoint-desktop){
  .button {
    font-size: 17px;
  }
}










