<div class="container">
  <div class="column">
    <!--    title and description outside-->
    <h2 class="main-title title-column">Elige el plan que mejor se adapte a tus necesidades </h2>
    <p class="text-l-bl description-column">Paga de forma mensual o anual y cancela cuando quieras.</p>
    <mat-accordion>
      <mat-expansion-panel hideToggle *ngFor="let plan of plans" (closed)="plan.open = false"
                           (opened)="plan.open = true">
        <mat-expansion-panel-header>
          <!--          gold ribbon plan    -->

          <div class="tag-recommendation smaller-text-m flex-center" *ngIf="plan.popularity">+ Popular</div>
          <!--  title and subtitle header mat-panel -->
          <mat-panel-description>
            <div class="container-title">
              <h3 class="sub-title-or title-plan">{{plan.name}}</h3>
              <p class="text-l-wh" *ngIf="!plan.open">{{plan.monthly}} <span *ngIf="plan.annual !== plan.monthly">Mensual</span>
              </p>
            </div>
            <!--                icons minus and plus-->
            <div class="container-expand">
              <div class="icon-expand flex-center " [inlineSVG]="'assets/svg/icons/plus.svg'"
                   [setSVGAttributes]="{ width: '100%' }" *ngIf="!plan.open">
              </div>
              <div class="icon-expand flex-center " [inlineSVG]="'assets/svg/icons/minus.svg'"
                   [setSVGAttributes]="{ width: '100%' }" *ngIf="plan.open">
              </div>
            </div>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--            information inside of mat expand-->
        <div class="container-plan flex-center">
          <!--              Slider plans-->
          <div class="slide-form  flex-center" [ngClass]="{'hidden-slide': plan.monthly === plan.annual}">
            <p class="small-text-l-bl">Mensual</p>
            <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
            <p class="small-text-l-bl">Anual</p>
          </div>
          <h3 class="sub-title-bl cost-plan " *ngIf="!isChecked">{{plan.monthly}}</h3>
          <h3 class="sub-title-bl cost-plan " *ngIf="isChecked">{{plan.annual}}</h3>
          <ul class="content-text">
            <li class="text-l-bl paragraph" *ngFor="let benefit of plan.benefits">{{benefit}} </li>
          </ul>
<!--          button send-->
          <button class="main-button-or-85">{{plan.textButton}}</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="plans-desktop">
<!--      Cards different plans desktop-->
      <mat-card *ngFor="let plan of plans" [ngClass]="{'scale': plan.popularity}">
          <div class="container-title flex-center">
            <h3 class="sub-title-or  title-plan">{{plan.name}}</h3>
            <div class="tag-recommendation smaller-text-b-wh flex-center" *ngIf="plan.popularity">Popular</div>
          </div>
          <!--              Slider plans-->
          <div class="slide-form  flex-center" [ngClass]="{'hidden-slide': plan.monthly === plan.annual}">
            <p class="small-text-l-bl">Mensual</p>
            <mat-slide-toggle [(ngModel)]="plan.open"></mat-slide-toggle>
            <p class="small-text-l-bl">Anual</p>
          </div>
        <div class="container-plan flex-center">
          <h3 class="sub-title-bl  cost-plan " *ngIf="!plan.open">{{plan.monthly}}</h3>
          <h3 class="sub-title-bl  cost-plan " *ngIf="plan.open">{{plan.annual}}</h3>
          <ul class="content-text">
            <li class="text-l-bl paragraph " *ngFor="let benefit of plan.benefits">{{benefit}} </li>
          </ul>
          <button class="main-button-or-85">{{plan.textButton}}</button>
        </div>
      </mat-card>
    </div>
    <p class="text-l-bl link-comparison" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="link-active"
       routerLink="/inicio/abogado/comparacion">Comparar planes</p>
  </div>
</div>
