@import 'src/assets/scss/basis/index';

.container {
  margin-bottom: 26px;
  background: $bg-usual;
  width: 100%;
}

.column {
  @include size-content(flex, column, center, center);
  margin: $margin-sides;
  text-align: center;
}

// styles texts
.title-column {
  color: $second-text;
  margin: 40px 0;
}
.description-column {
  margin: 0 0 24px 0;
}

.title-plan {
  text-align: start;
  margin: 0;
}

.container-title {
  width: 53%;
  text-align: start;
  margin: 0 46px;
}
 .link-comparison{
   outline: none;
   cursor: pointer;
}

// Gold ribbon mobile
.tag-recommendation {
  background-color: #c58511;
  color: $usual-text;
  height: 45px;
  left: -33px;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  width: 120px;
}

// icons plus and minus
.container-expand {
  width: 22px;
}

.icon-expand {
  width: inherit;
}

mat-panel-title {
  width: 7%;
  margin: 0 9px !important;
}

// Information plan
.container-plan {
  width: 100%;
  flex-wrap: wrap;
}
.content-text {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
  overflow-y: auto;
  height: auto;
}
.paragraph {
  word-break: break-word;
  margin-bottom: 15px;
}

.cost-plan {
  margin: 15px 0;
}
// styles slider
.slide-form {
  width: 100%;
  margin: 35px 0 0 0;
  align-items: flex-end;
  p {
    width: unset;
    margin: 0;
  }
}

// change styles slide toggle
:host ::ng-deep {
  .mat-slide-toggle-thumb {
    @include slide-thumb(19px, 20px, $bg-primary);
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    @include slide-thumb(19px, 20px, $bg-primary);
  }

  .mat-slide-toggle-bar {
    @include slide-bar(1px solid #FFFFFF, #B2C5CC);
    width: 37px;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    @include slide-bar(1px solid #FFFFFF, #B2C5CC);
    width: 37px;
  }

  .mat-slide-toggle {
    margin: 0 24px;
  }
}

//change styles expansion panel
:host ::ng-deep {
  mat-accordion {
    width: 100%;
  }

  .mat-expansion-panel {
    margin: 0  0 10px 0;
    border-radius: 10px;
  }

  .mat-accordion .mat-expansion-panel:first-of-type, .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 10px;
  }

  .mat-expansion-panel-header:not([aria-disabled=true]) {
    background-color: $bg-blue-dark-light;
    border-radius: 0;
    height: 92px;
    padding: 0 16px;
  }

  .mat-accordion .mat-expansion-panel:not(.mat-expanded), .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
    border-radius: 10px;
  }

  .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    align-items: center;
  }

  // style background
  .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background-color: $bg-blue-dark-light;
  }

  .mat-expansion-panel {
    border: 0;
  }

  .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
    background-color: $bg-blue-dark-light;
  }
}
.plans-desktop{
  display: none;
}
//invisibility slider
.hidden-slide {
  visibility: hidden;
  margin: 0;
}

@media (min-width: $breakpoint-tablet) {
  .description-column{
    margin: 0;
  }
  .content-text {
    height: 391px !important;
  }
  .title-column {
    margin: 30px 0 20px 0;
  }
  .plans-desktop{
    display: flex;
    justify-content: space-between;
    margin: 45px 0 45px 0;
  }
.cost-plan {
  width: calc(80% - 10px);
}
  :host ::ng-deep {
    mat-accordion {
      display: none;
    }
    mat-card {
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.13) !important;
      padding: 0;
      width: calc(30% - 5px);
    }
    .scale {
      -webkit-transform:scale(1.05);
    }
  }
  .container-plan {
    padding: 0 30px 16px;
  }
  .title-plan {
    text-align: center;
  }
  .container-title {
    width: 100%;
    border-radius: 16px 16px 0 0;
    text-align: center;
    height: 80px;
    background-color: $bg-blue-dark-light;
    margin: 0;
  }
  // Gold ribbon
  .tag-recommendation {
    clip-path: polygon(27% 11%, 74% 11%, 101% 100%, 0 96%);
    right: -29px;
    top: 9px;
    width: 113px;
    height: 36px;
    left: unset;
    transform: rotate(45deg);
  }
  .comparison-plan {
    margin-top: 50px;
    cursor: pointer;
  }
}
