/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";
@import "~swiper/swiper-bundle";
@import "src/assets/scss/basis/index";

* {
  font-family: 'branding', brandingBold, serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: branding, serif;
}

input {
  outline: none;
  border-radius: 23px;
}

.font-bold {
  font-family: brandingBold;
}

// remove arrows inputs type number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// quit background button chat, calendar in iphone
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
}
.size-icon {
  width: 20px;
}

// button exit dialogs
.button-exit {
  width: 26px;
  z-index: 2;
  position: fixed;
}

.mat-drawer,
.mat-sidenav {
  & [cdk-scrollable],
  & [cdkScrollable] {
    .mat-drawer-inner-container {
      overflow: visible;
    }
  }
}

//Style content card
.container-p-card {
  width: 100%;
  color: $second-text;
  padding: 3% 6% 10%;
  margin: 0;
  .card-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 1% 8% !important;
    text-align: left;
  }
}


// Font Face Global
@font-face {
  font-family: branding;
  src: url("assets/fonts/Branding-Medium.otf") format("opentype");
}
@font-face {
  font-family: brandingBold;
  src: url("assets/fonts/Branding-Bold.otf") format("opentype");
}
@font-face {
  font-family: brandingLight;
  src: url("assets/fonts/Branding-Light.otf") format("opentype");
}
@font-face {
  font-family: brandingSemiLight;
  src: url("assets/fonts/Branding-SemiLight.otf") format("opentype");
}

.or-star {
  color: $primary-text;
  width: 28px;
  height: 28px;
}

.gy-star {
  color: $custom-gray!important;
  width: 28px;
  height: 28px;
}
