@import "src/assets/scss/basis/index";
//mixins
@mixin content {
  @include size-content(flex, column, center, center);
  margin: $margin-sides;
}

//main dialog cover message, calendar, confirmation and success
.dialog-message {
  padding: 0 !important;
  background-color: white !important;
  display: flex;
  border-radius: 64px;
  margin: 0;
}

:host ::ng-deep .mat-dialog-content {
  height: 100%;
  max-width: inherit;
  max-height: unset;
  overflow: hidden;
  min-width: inherit;
  min-height: inherit;
}

::ng-deep .container-message {
  max-height: 92vh !important;
  min-height: 55vh !important;
  max-width: 87vw !important;
  min-width: 33vw !important;

  .mat-dialog-container {
    padding: 0;
    min-height: unset;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    overflow-x: hidden;
    position: static;
  }
}

//container mat dialog actions - main dialog
:host ::ng-deep {
  .action-exit {
    padding: 0;
    cursor: pointer;
    min-height: 15px;
    right: -4px;
    background-color: transparent;
    position: relative;
  }
}

//main container
.container {
  @include size-content(flex, column, center, center);
  width: 100%;
}

//styles dialog message
.message-text {
  margin: 7% 0;
}

//text area - dialog message
.dialog-text-area {
  @include text-area(auto, auto, 30vh, 28vh);
  border: 1px solid $primary-text;
  text-align: unset;
}

.column-message {
  padding: 17px;
}

//buttons radius section - dialog message
:host ::ng-deep {
  .mat-radio-outer-circle {
    border-color: $bg-second;
    border-width: 1px;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle,
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
  .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $bg-second;
  }

  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $bg-second;
  }
}

.group-radius {
  display: flex;
  justify-content: space-between;
  margin: 0 7%;
}

.icon-radius {
  width: 20%;
}

.container-option {
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-radius {
  margin: 0;
  width: auto;
}

::ng-deep .container-radius {
  @include size-content(flex, column, center, center);
}

.button-message {
  @include button-unusual(30px 0px 17px 0px, 50%, 2.5, center, 0, 1px #ffffff solid, $usual-text, $bg-primary, 20px, border-box);
  @extend .small-text-m-wh;
}

//styles dialog schedule and hours

.calendar-text,
.title-hours,
.title-schedule {
  margin: 0 0 15px 0;
}

// dialog calendar
.column-calendar {
  margin-top: 10px;
  padding: 15px;
}

//input - dialog schedule
input:disabled {
  @include input-disabled($second-text);
  cursor: pointer;
  @extend .small-text-m-bl
}

:host ::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0.40em !important;
    background: transparent;
    @include size-content(flex, row, center, center);
    border: 1px solid $second-text;
    border-radius: 30px;
  }

  .mat-input-element {
    font-size: 17px;
    color: $second-text;
    padding: 2%;
  }

  .mat-datepicker-toggle,
  .mat-datepicker-content .mat-calendar-next-button,
  .mat-datepicker-content .mat-calendar-previous-button {
    color: $bg-second;
  }

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-icon-button, .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    display: none;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field {
    margin: 0 0 15px 0;
    width: 100%;
  }

  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0;
    margin-left: 26px;
    border-top-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    margin-right: 8px;
  }
}

// container buttons - dialog schedule
.container-button {
  flex-wrap: wrap;
  @include size-content(flex, row, center, center);
  justify-content: center;
  margin-bottom: 24px;
}

.button-calendar {
  background-color: $bg-usual;
  border-radius: 18px;
  padding: 1px 0;
  border: 0 solid transparent;
  width: calc(33% - 5px);
  line-height: 2;
  @extend .small-text-l-bl;
  cursor: pointer;
  margin: 0 3px 10px 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);

  .icon-hand {
    display: none;
  }
}

.icon-calendar {
  cursor: pointer;
  margin-right: 5px;
  width: 25px;
}

.button-calendar:hover {
  background-size: cover;
  justify-content: flex-start;
  text-align: start;
  background-color: $bg-second;
  color: $primary-text;

  .icon-hand {
    display: initial;
    margin-left: 3px;
  }

  .hour-calendar {
    display: flex;
    justify-content: center;
  }
}

.button-image {
  width: 20px;
}

// Calendar - dialog schedule
::ng-deep {
  .mat-datepicker-content {
    height: auto;
    border-radius: 17px !important;
    position: static;
    left: -6px;
    top: 0;
  }

  .mat-calendar-arrow {
    border: 0 !important;
  }

  .mat-calendar-header {
    padding: 1px 4px 0 8px;
    background: $bg-second;
    color: $usual-text;
    margin-bottom: 10px;
    border-radius: 13px 13px 0 1px;
  }

  .mat-calendar-table-header th {
    font-size: 15px;
    color: $second-text;
    padding: 0;
  }

  .mat-calendar-table-header-divider::after {
    height: 0;
  }

  .mat-calendar-body-label {
    font-size: 0;
    padding-top: 0;
  }

  .mat-calendar-controls {
    margin: 0;
  }

  .mat-calendar-previous-button::after {
    color: $primary-text;
  }

  .mat-calendar-next-button::after {
    color: $primary-text;
  }

  .mat-calendar-body-selected {
    background-image: url("../../../../assets/svg/icons/hexa.svg");
    background-size: cover;
    color: $bg-primary;
    background-color: transparent;
  }

  .mat-calendar-body-cell-content.mat-focus-indicator {
    border: 0;
  }
}

//styles - dialog  confirmation
.confirm {
  margin: 0;
  cursor: pointer;
  min-width: 51%;
  max-width: 51%;
}

.wrap-confirmation {
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: column;
  min-width: 65%;
  max-width: 63%;
}

.cancel {
  margin: 0 0 15px 0;
  cursor: pointer;
  min-width: 51%;
  max-width: 51%;
}

.column-confirmation {
  padding: 45px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-confirm {
  width: calc(10% - 17.5px);
  min-width: 28px;
  max-width: 35px;
}

.hand {
  width: calc(10% - 17.5px);
  min-width: 30px;
  max-width: 38px;
}

.row {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

.data-confirm {
  width: calc(90% - 17.5px);
  word-break: break-word;
  margin: 0;
}

.option-confirm {
  @include size-content(flex, row, center, center);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.title-confirm {
  margin: 50px 0 40px 0;
}

// styles - dialog success
.container-success {
  @include size-content(flex, column, center, center);
  text-align: center;
  padding: 10px 20px 70px 20px;
}

// icon schedule
.container-icon {
  position: relative;
  margin: 30px 0 50px 0;
}

.schedule-success {
  width: 117px;
}

.information {
  margin-bottom: 10px;
}

//animation success arrow
.success-checkmark {
  width: 0;
  height: 0;
  top: -110px;
  position: relative;
  margin: 0 auto;

  .check-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 45px;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #a8dda8;

    .icon-line {
      height: 8px;
      background-color: white;
      display: block;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 32px;
        left: 12px;
        width: 14px;
        border-radius: 33% 0 0 33%;
        transform: rotate(45deg);
        animation: icon-line-long 0.2s;
      }

      &.line-long {
        top: 30px;
        right: 11px;
        width: 31px;
        border-radius: 0 33% 33% 0;
        transform: rotate(-45deg);
        animation: icon-line-long 0.2s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 1;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid #89d689;
      background-color: #06b706;
    }
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 30px;
    left: -2px;
    top: 30px;
  }
  84% {
    width: 25px;
    left: 12px;
    top: 32px;
  }
  100% {
    width: 14px;
    left: 12px;
    top: 32px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 60px;
    top: 56px;
  }
  65% {
    width: 0;
    right: 60px;
    top: 56px;
  }
  84% {
    width: 31px;
    right: 5px;
    top: 30px;
  }
  100% {
    width: 31px;
    right: 11px;
    top: 30px;
  }
}

:host ::ng-deep app-lawyer-card {
  display: none;
}

@media screen and (orientation: landscape) {
  //dialog - success
  .container-icon {
    margin: 22px 0;
  }
  .container-success {
    padding: 31px 128px !important;
  }
  .information {
    margin-bottom: 8px;
  }

  .title-confirm {
    margin: 10px 0 10px 0;
  }
  .cancel, .confirm {
    min-width: calc(35% - 3px);
    max-width: calc(35% - 3px);
    margin: 0;
  }
  .option-confirm {
    justify-content: space-evenly;
  }
  .image-confirm {
    width: calc(15% - 17.5px);
  }
  .hand {
    width: calc(16% - 17.5px);
  }
  ::ng-deep {
    .mat-datepicker-content {
      position: absolute;
      left: 22px;
      top: -190px;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  ::ng-deep {
    .mat-datepicker-content {
      position: static;
    }
  }
  ::ng-deep .container-message {
    position: fixed !important;
    cursor: default;
    top: auto !important;

    .mat-dialog-container {
      min-height: unset;
      border-radius: 25px;
    }
  }
  .cancel {
    min-width: calc(35% - 3px) !important;
    max-width: calc(35% - 3px) !important;
    margin: 0 10px 0 0 !important;
  }
  .confirm {
    min-width: calc(35% - 3px);
    max-width: calc(35% - 3px);
  }
  .option-confirm {
    justify-content: center;
  }
  .container-success {
    padding: 31px 128px !important;
  }
  .wrap-contact {

  }
}

@media (min-width: $breakpoint-desktop-usual) {
  //styles dialog container
  .action-exit {
    right: -8;

    .button-exit {
      width: 32px;
    }
  }
  // rewrite styles tag app-lawyer-card
  :host ::ng-deep app-lawyer-card {
    width: 40%;
    display: initial;

    .contact-info {
      display: flex;
      flex-wrap: wrap;
    }

    .wrap-contact {
      display: flex;
      margin-bottom: 14px;
    }

    .lawyer-info {
      .text-b-bl {
        display: flex !important;
      }

      .main-title-bl {
        display: none !important;
      }
    }

    .lawyer-card {
      height: auto;
      padding: 0;
    }

    .lawyer {
      flex-direction: column;
      align-items: start;
    }

    .lawyer-avatar {
      max-width: 40% !important;
      margin-right: 0 !important;
      margin-bottom: calc(1rem + 0.3vw) !important;
    }
  }
  :host ::ng-deep {
    .mat-form-field-wrapper {
      width: 64%;
    }

    .mat-form-field {
      margin: 0 0 70px 0 !important;
    }
  }

  // styles dialog calendar
  .wrap {
    display: flex;
    justify-content: space-around;
    padding: 50px;
  }
  .title-hours, .title-schedule {
    justify-content: flex-start;
  }
  .column-calendar {
    width: calc(60% - 1rem + 0.3vw);
    padding: 0;
    margin: 0;
  }
  .button-calendar {
    width: calc(25% - 7px);
  }

  .cancel {
    min-width: calc(35% - 3px) !important;
    max-width: calc(35% - 3px) !important;
    margin: 0 10px 0 0 !important;
  }
  .title-confirm {
    margin: 50px 0 40px 0;
  }

  //styles dialog success
  .container-icon {
    margin: 22px 0 49px 0 !important;
  }
  .schedule-success {
    width: 131px !important;
  }
  .container-button {
    margin: 0;
  }
}

@media (min-width: $breakpoint-desktop-full-hd) {
  ::ng-deep .container-message {
    max-width: 61vw !important;
  }
}
