<mat-dialog-actions class="action-exit" align="end">
  <!--  img icon exit-->
  <img class="button-exit" alt="" mat-button mat-dialog-close src='../../../../assets/svg/catalogue-card/exit.svg'>
</mat-dialog-actions>
<!--main container - dialog-->
<mat-dialog-content class="dialog-message">
  <div class="container">
    <!--      section message-->
    <div class="column-message" *ngIf="option.section == 'message'">
      <p class="message-text text-m-bl">
        Proporcione algunos detalles sobre su situación, pero recuerde no incluir información confidencial. Una relación
        abogado-cliente solo se forma una vez que un abogado acepta formalmente representarlo.
      </p>
      <textarea class="dialog-text-area" autocomplete="off"></textarea>
      <p class="message-text text-m-bl">Como quieres que te contactemos</p>
    </div>
    <div class="container-radius" *ngIf="option.section == 'message'">
      <div>
        <mat-radio-group aria-label="Select an option" class="group-radius">
          <div class="container-option">
            <div class="icon-radius" [inlineSVG]="'../../../../assets/svg/icons/icon-message.svg'"
                 [setSVGAttributes]="{width: '100%', height: '100%'}"></div>
            <p class="text-radius text-m-or">Mensaje</p>
            <mat-radio-button value="1"></mat-radio-button>
          </div>
          <div class="container-option">
            <div class="icon-radius" [inlineSVG]="'../../../../../assets/svg/icons/icon-phone.svg'"
                 [setSVGAttributes]="{width: '100%', height: '100%'}"></div>
            <p class="text-radius text-m-or">Llamada</p>
            <mat-radio-button value="2"></mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <button class="button-message">
        Enviar
      </button>
    </div>
    <!--      schedule calendar-->
    <div class="wrap" *ngIf="option.section == 'calendar'">
    <app-lawyer-card [lawyer]="lawyer" [options]="options"></app-lawyer-card>
    <div class="column-calendar" >
      <h4 class="small-sub-title-bl flex-center title-schedule">Agendamiento</h4>
      <p class="calendar-text small-text-l-bl" *ngIf="option.section == 'calendar'">Selecciona fecha y hora de su
        consulta disponible
        con el abogado</p>
        <div (click)="dp.open()">
      <mat-form-field appearance="fill">
        <!--              calendar-->
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <input matInput [matDatepicker]="dp" [formControl]="date" disabled>
        <mat-datepicker class="mat-calendar" #dp disabled="false"></mat-datepicker>
<!--        icon calendar-->
        <span class="icon-calendar" [inlineSVG]="'../../../../../assets/svg/icons/calendar-bl.svg'" [setSVGAttributes]="{width:'100%', height:'100%'}" (click)="dp.open()"></span>
      </mat-form-field>
        </div>
      <!--          Schedule - hours-->
      <h4 class="small-sub-title-bl title-hours flex-center">Horarios</h4>
      <div class="container-button">
        <button class="button-calendar" *ngFor='let time of dataDate' (click)='scheduleDate( date, time.hour)'><span
          class="hour-calendar">{{time.hour}} <span class="icon-hand"
                                                    [inlineSVG]="'../../../../assets/svg/icons/hand.svg'"
                                                    [setSVGAttributes]="{width:'20px', height: '100%'}"></span></span>
        </button>
      </div>
    </div>
    </div>
    <!--    dialog confirmation schedule-->
    <div class="column-confirmation" *ngIf="option.section == 'confirmation'">
      <div class="wrap-confirmation">
      <div class="row">
        <div class="image-confirm" [inlineSVG]="'../../../../../assets/svg/icons/calendar/calendar.svg'"
             [setSVGAttributes]="{width: '100%', height: '100%'}"></div>
        <p class="text-m-bl data-confirm">{{pickDate}}</p>
      </div>
      <div class="row">
        <div class="hand" [inlineSVG]="'../../../../../assets/svg/icons/calendar/hand.svg'"
             [setSVGAttributes]="{width: '100%', height: '100%'}"></div>
        <p class="text-m-bl data-confirm"> {{pickHour}}</p>
      </div>
      <div class="row">
        <div class="image-confirm" [inlineSVG]="'../../../../../assets/svg/icons/calendar/person.svg'"
             [setSVGAttributes]="{width: '100%', height: '100%'}"></div>
        <p class="text-m-bl data-confirm" data-confirm> Abogado {{lawyer.name}}</p>
      </div>
      </div>
      <!--          dialog confirmation date-->
      <div class="option-confirm">
        <h4 class="small-sub-title-bl title-confirm">¿Confirmar agendamiento?</h4>
        <button class=" cancel main-button-or-85" (click)="confirmSchedule('calendar')">Cancelar</button>
        <button class=" confirm main-button-bl-85" (click)="confirmSchedule('success')">Confirmar</button>
      </div>
    </div>
    <!--      dialog success -->

      <div class="container-success" *ngIf="option.section == 'success'">
        <div class="container-icon">
        <img class="schedule-success" src="../../../../../assets/svg/icons/calendar/schedule.svg" alt="">
        <div class="success-checkmark">
          <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
          </div>
        </div>
        </div>
        <p class="information text-m-bl">Agendamiento confirmado </p>
        <p class="information text-b-bl">{{pickDate}}</p>
        <p class="information text-b-bl">Hora: {{pickHour}} </p>
        <p class="information text-b-bl">Abogado {{lawyer.name}}</p>
      </div>
    </div>

</mat-dialog-content>
