<mat-drawer-container class="navbar" [hasBackdrop]="hasBackdrop.value">
  <mat-drawer #drawer>
<!--    links routes mobile -->
    <button mat-icon-button class="button-drawer" (click)="drawer.toggle()" #hasBackdrop value="true">
      <mat-icon class="icon-drawer">menu</mat-icon>
    </button>
    <div class="container-link">
      <div [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="link-active" (click)="drawer.toggle()"><a
        class="link-section " routerLink="autenticacion/iniciar-sesion-{{user}}">Login</a>
      </div>
      <div [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="link-active" (click)="drawer.toggle()"><a
        class="link-section"
        routerLink="autenticacion/registro-{{user}}">Registro</a></div>
      <div (click)="drawer.toggle()"><a class="link-section">Nosotros</a></div>
      <div [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="link-active" (click)="drawer.toggle()"><a
        class="link-section" routerLink="./">Inicio</a></div>
      <div (click)="drawer.toggle()"><a class="link-section" (click)="toServices()">Servicios</a></div>
      <div [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="link-active" (click)="drawer.toggle()"><a
        class="link-section" routerLink="blogs">Blog</a></div>
      <div (click)="drawer.toggle()"><a class="link-section"
                                        routerLink="/inicio/{{isLawyer ? 'cliente' : 'abogado'}}">{{isLawyer ? '¿Buscas Abogado?' : '¿Eres abogado?'}}</a>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content-drawer" >
    <mat-toolbar [ngClass]="{'shrink-toolbar': shrinkToolbar}">
      <button class="hamburger-button" (click)="drawer.toggle()" #hasBackdrop value="true">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="container">
        <img class="logo" alt="Logo JuridiGo" [routerLink]="['/']" routerLinkActive="router-link-active"
             src="../../../assets/svg/header/Logo-juridigo.svg">
      </div>
      <!--    links routes desktop-->
      <div class="desktop content-links-desktop">
        <span class="desktop link-section-desktop small-text-m-bl">Nosotros</span>
        <span class="desktop link-section-desktop small-text-m-bl" (click)="toServices()">Servicios</span>
        <span class="desktop link-section-desktop small-text-m-bl" [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="link-active" routerLink="blogs">Blog</span>
        <span class="desktop link-section-desktop small-text-b-bl" [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="link-active"
              routerLink="/inicio/{{isLawyer ? 'cliente' : 'abogado'}}">{{isLawyer ? '¿Buscas Abogado?' : '¿Eres abogado?'}}</span>
        <div class="desktop content-button-desktop">
          <button class="desktop button-login smaller-text-m-bl" routerLink="autenticacion/iniciar-sesion-{{user}}">Log in</button>
          <button class="desktop button-register smaller-text-l-wh" routerLink="autenticacion/registro-{{user}}">Registro</button>
        </div>
      </div>
    </mat-toolbar>
<!--    show component-->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
