@import "src/assets/scss/basis/index";

:host {
  height: 100%;
  width: 100%;
}

@mixin difuse-title {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin position-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-toolbar {
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.7s;
}

.content-drawer {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.shrink-toolbar {
  background-color: #ffffff;
}

.new-nav {
  width: 100%;
  background: #02395e;
  position: fixed;

  .container {
    .text-title,
    .icon-text {
      display: none;
    }
  }

  .material-icons {
    color: $usual-text;
  }
}

:host ::ng-deep .mat-toolbar-single-row {
  justify-content: space-between;
  padding: 0 5px !important;
}

:host ::ng-deep {
  .mat-icon-button {
    height: auto !important;
    border-radius: 0 !important;
  }
}

.hamburger-button {
  font-family: inherit;
  font-size: 99%;
  line-height: 0.15;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background: transparent;
  width: auto;
}

.button-drawer {
  background: transparent;
  font-size: 99%;
  border: 0;
  margin: 0;
  z-index: 1;
  padding: 8px 0 0 5px;
}

mat-icon {
  height: auto;
  width: auto;
}

::ng-deep .icon-drawer {
  color: $primary-text !important;
}

.material-icons {
  font-size: 36px;
  color: $bg-second;
  transition: color 0.7s;
}

.text-title {
  background: linear-gradient(90deg, #efc981 -116.54%, #e6c081 218.1%, #c58511 901.77%);
  @include difuse-title;
}

.icon-text {
  background: linear-gradient(90deg, #efc981 -739.35%, #e6c081 -307.3%, #c58511 575.38%);
  @include difuse-title;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 50px 0 0;
  width: 100%;
}

.logo {
  align-items: center;
  outline: none;
  height: 80%;
}

mat-drawer-container {
  height: 100%;
  width: 100%;
  background: transparent;
}

mat-drawer {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(179.49deg, #02395e 66.1%, rgba(2, 57, 94, 0.57) 109.44%);
  width: 80%;
}

.container-link {
  @include position-link();
  justify-content: space-evenly;
  padding: 2% 0 5% 0;
  align-content: center;
  height: 60%;
  width: 90%;
}

.link-section {
  text-decoration: none;
  @extend .text-m-wh;
  padding-top: 15px;
  width: auto;
  margin: 0 0 0 20px;
  padding-bottom: 15px;
}

.link-active {
  @include position-link();
  background: #c58511;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 100%;
}

.shrink-toolbar {
  background-color: $bg-usual;
}

.desktop {
  display: none;
}

@media (min-width: $breakpoint-desktop-usual) {
  :host ::ng-deep {
   .mat-drawer {
    display: none;
  }
   .mat-drawer-backdrop {
    display: none;
  }
  }

  .container {
    justify-content: flex-start;
    padding: 0;
    width: calc(20% - 3rem);
  }
  .hamburger-button {
    display: none;
  }
  .desktop {
    display: initial;
  }
  .link-section-desktop {
    cursor: pointer;
    margin-left: 2.5rem !important;
    margin-right: 1.6rem;
  }
  .logo {
    width: 100%;
    cursor: pointer;
  }
  .content-links-desktop {
    @include size-content(flex, row, center, center);
    width: calc(80% - 2rem);
    justify-content: flex-end;
  }
  .content-button-desktop {
    @include size-content(flex, row, center, center);
  }
  .button-login {
    display: flex;
    background: transparent;
    border: 1px solid $second-text;
    width: 109px;
    height: 25px;
    margin-right: 1rem;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  .button-register {
    display: flex;
    background: #c58511;
    border: 1px solid #c58511;
    width: 109px;
    height: 25px;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  :host ::ng-deep .mat-toolbar-single-row {
    justify-content: space-evenly;
    height: 75px;
  }
  .link-active {
    width: auto;
    background-color: transparent;
  }
}

@media (min-width: $breakpoint-desktop-square) {
  .container {
    width: calc(20% - 6rem) !important;
  }

  .link-section-desktop {
    margin-left: 3.5rem !important;
  }

  .content-links-desktop {
    width: calc(80% - 6rem) !important;
  }

}
// Media queries Landscape mobile
@media (orientation: landscape) and (max-width: $breakpoint-mobile-landscape) {
  .container-link {
    justify-content: space-between;
    height: calc(100% - 60px);
  }
}
