@import "src/assets/scss/basis/index";

::ng-deep {
  .cdk-overlay-container {
    background: rgba(3, 33, 53, 0.9);
  }
}

::ng-deep .dialog-success {
  .mat-dialog-container {
    border: 2px solid $bg-primary;
    border-radius: 15px;
    .mat-dialog-content {
      text-align: center;
      max-height: 94vh;
      max-width: 94vh;
      overflow: hidden;
      .img-success {
        width: 30%;
      }
      .title {
        color: $second-text;
      }
      .img-logo-modal {
        width: 100%;
        margin: 0 0 40px 0;
      }
      .button-form {
        @include button-unusual(
          0 0 0 0,
          100%,
          2.7,
          center,
          0,
          1px solid $bg-primary,
          $usual-text,
          $bg-primary,
          25px,
          border-box
        );
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  ::ng-deep .dialog-success {
    .mat-dialog-container {
      .mat-dialog-content {
        padding: 0 !important;
        .img-success {
          width: 10%;
        }
        .title {
          padding: 0 20%;
        }
        .img-logo-modal {
          width: 50%;
          margin: 0 0 40px 0;
        }
        .button-form {
          @include button-unusual(
            0 0 0 0,
            50%,
            2.7,
            center,
            0,
            1px solid $bg-primary,
            $usual-text,
            $bg-primary,
            25px,
            border-box
          );
        }
      }
    }
  }
}
@media (min-width: $breakpoint-desktop) {
  ::ng-deep .dialog-success {
    .mat-dialog-container {
      width: 70%;
      position: relative;
      left: 16%;
      .mat-dialog-content {
        padding: 0 !important;
        .img-success {
          width: 10%;
        }
        .title {
          margin: 5% 0;
          padding: 0 15%;
        }
        .img-logo-modal {
          width: 50%;
          margin: 0 0 40px 0;
        }
        .button-form {
          @include button-unusual(
            0 0 0 0,
            50%,
            2.7,
            center,
            0,
            1px solid $bg-primary,
            $usual-text,
            $bg-primary,
            25px,
            border-box
          );
        }
      }
    }
  }
}
