<div class="container">
    <div class="column">
        <mat-dialog-content>
            <img class="img-success" src="../../../assets/svg/modalSucess/success.svg" alt="">
            <h2 class="title">Envío correctamente, se envíara las propuestas a su correo electrónico a más tardar 3 días de su envío</h2>
            <img class="img-logo-modal" src="../../../assets/svg/modalSucess/LogoModal.svg" alt="">
            <div>
                <button class="button-form" mat-button (click)="reload()">Aceptar</button>
            </div>
        </mat-dialog-content>
    </div>
</div>
