<footer class="footer">
    <ul class="container-social">
        <li class="container-image" *ngFor="let image of icon">
            <img src="" alt="">
            <div class="image-social" id="{{image.name}}" [inlineSVG]="image.url" [setSVGAttributes]="{ width:'100%', height:'100%', viewBox:'0 0 47 51' }"></div>
        </li>
    </ul>
    <p class="text-footer small-text-l-wh">{{ textLegal }}</p>
</footer>
