@import "src/assets/scss/basis/index";
.container-social {
    flex-wrap: wrap;
    display: flex;
    padding: 35px 0 15px 0;
    border: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.container-image {
    width: 145px;
}

.image-social {
    padding: 17px 46px 0 46px;
}

.footer {
    display: flex;
    flex-direction: column;
    background-image: url("/../../../assets/svg/footer/Footer.svg");
    width: 100%;
    text-align: center;
    height: auto;
  padding-bottom: 36px;
    align-content: space-around;
    justify-content: flex-start;
}

.text-footer {
    margin: 0 0 15px 0;
}

#facebook:hover {
    content: url(../../../assets/svg/footer/active-icon/facebook-activo.svg);
    background-size: 100%;
}

#twitter:hover {
    content: url(../../../assets/svg/footer/active-icon/twitter-activo.svg);
    background-size: 100%;
}

#instagram:hover {
    content: url(../../../assets/svg/footer/active-icon/instagram-activo.svg);
    background-size: 100%;
}

#linkendin:hover {
    content: url(../../../assets/svg/footer/active-icon/linkendin-activo.svg);
    background-size: 100%;
}

@media screen and (orientation: landscape) {
    .container-image {
        width: 74px;
    }
    .image-social {
        padding: 17px 10px 0 10px;
        width: 71%;
    }
    .footer {
      padding-bottom: 40px;
    }
    .container-social {
      padding: 11px 0 15px 0;
    }
}

@media (min-width: $breakpoint-tablet) and (max-width: 1023px) {
    .container-image {
        width: 78px;
    }
    .image-social {
        padding: 17px 12px 0 12px;
        width: 71%;
    }
    .container-social {
        padding: 25px 0 15px 0;
    }
}
