<div class="container-background">
<div class="container">
  <div class="column">
    <h2 class="main-title-wh title">Comparación de planes</h2>
    <div class="slide-form  flex-center">
      <p class="text-l-wh monthly">Mensual</p>
      <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
      <p class="text-l-wh">Anual</p>
    </div>
    <!--    main container swiper-->
    <div class="container-swiper">
      <app-custom-swiper [pagination]="{ clickable: true, dynamicBullets: true, position: 'TOP'}" [spaceBetween]="50" [navigation]="true">
        <ng-template swiperSlide *ngFor="let plan of plans">
          <app-plan [plan]="plan" [isChecked]="isChecked"></app-plan>
        </ng-template>
      </app-custom-swiper>
    </div>
      <div class="wrap">
        <div class="comparison-desktop comparison-titles">
        <div class="header-plan hidden-head">
        </div>
        <div class="content text-m-bl">
          Costo
        </div>
        <div class="benefit-plan" *ngFor="let comparison of functionality">
          <p class="text-m-bl"> {{comparison}}</p>
        </div>
        <div class="benefit-void"></div>
        </div>
<!--        send data to the tag app-plan-->
      <div class="comparison-desktop" *ngFor="let plan of plans">
      <app-plan [plan]="plan" [isChecked]="isChecked" [functionality] = "functionality"></app-plan>
      </div>
      </div>
  </div>
</div>
  <app-footer></app-footer>
</div>
