@import "src/assets/scss/basis/index";

.container-background {
  background-image: url("../../../../../assets/png/comparison-plans/planes.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  @include size-content(flex,
    column,
    center,
    center);
  padding: 80px 0;
  width: 100%;
}

.column {
  @include size-content(flex,
    column,
    center,
    center);
  width: 75%;

  .title {
    margin: 20px 0 12px 0;
  }
}

// styles slider
.slide-form {
  margin: 12px 0 40px 0;
  width: 100%;

  .monthly {
    text-align: end;
  }
}

// change styles slide toggle
:host ::ng-deep {
  .mat-slide-toggle-thumb {
    @include slide-thumb(19px,
      20px,
      $bg-primary);
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    @include slide-thumb(19px,
      20px,
      $bg-primary);
  }

  .mat-slide-toggle-bar {
    @include slide-bar(0.1px solid #FFFFFF,
      #B2C5CC);
    width: 37px;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    @include slide-bar(0.1px solid #FFFFFF,
      #B2C5CC);
    width: 37px;
  }

  .mat-slide-toggle {
    margin: 0 24px;
  }

  .mat-slide-toggle-thumb-container {
    left: -3px;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    left: 1px;
  }
}

// styles swiper general
:host ::ng-deep app-custom-swiper {
  height: auto;
  width: auto;
  margin-top: -26px;

  .swiper-container {
    position: unset;
  }

  .swiper-slide {
    background-color: transparent !important;
  }
}

:host ::ng-deep {
  //bubble swiper
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    position: inherit;
  }

  //paginator - arrows
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 10px;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 10px;
  }
}

.container-swiper {
  width: 100%;
  border-radius: 20px;
  padding: 0;
  box-shadow: 2px 6px 13px -1px rgb(0 0 0 / 14%);
}

// buttons navigate swiper
:host ::ng-deep {
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev,
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    color: $primary-text;
    position: fixed;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: x-large;
    font-weight: bold;
  }

  .swiper-pagination-bullet {
    width: 18px !important;
    height: 18px !important;
  }
}

.comparison-desktop {
  display: none;
}

//styles card hide
.hidden-name {
  display: none;
}

.header-plan {
  background-color: transparent;
  height: 79px;
}

// monthly, annual and play now
.content {
  @include size-content(flex,
    column,
    center,
    center);
  justify-content: center;
  align-items: flex-start;
  height: 195px;
  margin: 7.5px 0 7.5px 0;

  h2 {
    //align-items: center;
    display: flex;
    height: 100px;
    max-height: 50vh;
    min-height: 12vh;
  }
}

.benefit-plan {
  @include size-content(flex,
    column,
    center,
    center);
  border-top: 1px solid #ADC0C7;
  width: 100%;
  min-height: 9vh;
  max-height: 20vh;

  p {
    word-break: break-word;
    margin: 15px 0;
  }
}

.benefit-void {
  height: 100px;
  border-top: 1px solid #ADC0C7;
}

@media (min-width: $breakpoint-desktop-usual) {
  .column {
    width: 80%;
  }
  .container {
    padding: 170px 0 170px 0;
  }
  .title {
    margin-bottom: 7.5px !important;
  }
  .container-background {
    background-image: url("../../../../../assets/png/comparison-plans/comparisonDesktop.png");
    background-size: 120rem;
    height: 403px;
    border-radius: 0 0 86px;
    object-fit: contain;
  }
  app-custom-swiper {
    display: none;
  }
  .comparison-desktop {
    display: initial;
    width: 25%;
    border-radius: 18px;
    box-shadow: -1px 12px 18px rgb(0 0 0 / 13%);
  }
  .comparison-titles {
    background: transparent;
    box-shadow: none;
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .slide-form {
    margin: 13px 0 31px 0;
  }
}
